<app-timeline [events]="events()">
  <ng-template #timelineTemplate let-item="item">
    <div class="flex flex-col gap-2">
      <!-- status and date -->
      <div class="flex justify-between items-start">

        <!-- Status -->
        <app-base-tag [value]="getStatusLabel(item.item.status)"
          [color]="getStatusBadgeColor(item.item.status)"></app-base-tag>

        <!-- Date & Days -->
        <div class="">
          <div class="flex items-center justify-end text-xs text-gray-700 whitespace-nowrap">
            <i class="icon-clock text-gray-400 px-1"></i>
            <span>
              {{ item.item.timestamp+'Z' | date:'EEEE, MMMM d • h:mm a' }}
            </span>
          </div>

          @if (item.item.daysAfterPreviousAction !=null) {
          <p class="text-xs text-gray-400 mt-1  px-2">
            {{ item.item.daysAfterPreviousAction }}
            {{ 'timeline.remainingDays' | translate }}
          </p>
          }
        </div>
      </div>

      <!-- user card -->
      <div>
        <app-identify-user [userAvatar]="item.item.profilePicURL" [userName]="item.item.actionByNameEn"
          [userRole]="getUserTranslatedRole(item.item.actorRole)">
        </app-identify-user>
      </div>

      <!-- Action -->
      <div>
        <p class="text-sm text-gray-600">
          {{ 'timeline.action' | translate }}
        </p>
        <span class="text-sm font-medium text-gray-900">
          {{ getUserTranslatedAction(item.item) }}
        </span>
      </div>

      @if (item.item.reason) {
      <p-divider class="m-0!"></p-divider>
      <div class="mt-2">
        <label class="block text-sm text-[#414651] font-medium mb-1">
          @if (planApprovedActionsEnum.includes(item.item.actionType)) {
            Approved Note
          } @else if (planRejectedActionsEnum.includes(item.item.actionType)) {
            Rejected Reason
          } @else {
            Note
          }
        </label>
        <input class="p-inputtext w-full bg-gray-100" [value]="item.item.reason" disabled />
      </div>
      }

      @if (item.item.comments?.length > 0) {
      <p-divider class="m-0!"></p-divider>

      @for (comment of item.item.comments; track comment) {
      <div class="mt-2">
        <div class="text-sm font-semibold text-gray-700">
          {{ comment.pageTitleForTL }}
        </div>

        <div class="mt-1">
          <label class="block text-sm text-[#414651] font-medium mb-1">Comment</label>
          <input class="p-inputtext w-full bg-gray-100" [value]="comment.comment" disabled />
        </div>

        @if (comment.fields?.length > 0) {
        <div class="mt-2 flex gap-2 flex-wrap">
          @for (field of comment.fields; track field) {
          <app-base-tag [value]="(field.section | camelCaseToWord) + ' - ' + field.label" [color]="'fadedBlue'"></app-base-tag>
          }
        </div>
        }
      </div>
      }

      }
    </div>

  </ng-template>
</app-timeline>
