.password-toggle-wrapper {
  position: relative;
  width: 100%;
  
  .password-input {
    width: 100%;
    padding-right: 45px !important;
  }
  
  .password-toggle-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6b7280;
    transition: color 0.2s;
    
    &:hover {
      color: #374151;
    }
    
    &:focus {
      outline: none;
    }
    
    svg {
      display: block;
    }
  }
}
