<div class="flex flex-col gap-8 pb-10">

  @if (planStore.actionNote() && shouldShowActionNote() && !hasComments()) {
    <app-page-comment-box
    [commentTitle]="(isRejected() ? 'plans.rejection.reason' : 'plans.rejection.approvalNote') | translate"
    [commentText]="planStore.actionNote()!"
    [colorsClassesConfig]="{
      border: isRejected() ? 'border-[#B42318]' : 'border-[#067647]',
      background: isRejected() ? 'bg-[#F7E9E8]' : 'bg-[#E6F1ED]',
      iconColor: isRejected() ? 'text-[#A22016] rotate-180 ' : 'text-[#05683E] ',
    }"
    [iconType]="isRejected() ? 'icon-info' : 'icon-check-circle'"
    >
    </app-page-comment-box>
  }

  @if (planStore.acknowledgeRejectionNote() && isEmployeePersona() && isDvAcknowledgedStatus()) {
    <app-page-comment-box
    [commentTitle]="'plans.rejection.acknowledgeNote' | translate"
    [commentText]="planStore.acknowledgeRejectionNote()!"
    [colorsClassesConfig]="{
      border: 'border-[#B42318]',
      background: 'bg-[#F7E9E8]',
      iconColor: 'text-[#A22016] rotate-180',
    }"
    [iconType]="'icon-info'"
    >
    </app-page-comment-box>
  }

  <app-cover-page-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step1CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(1)"
  />
  <app-overview-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step2CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(2)"
  />
  @if (includeExistingSaudi()) {
  <app-existing-saudi-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step3CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(3)"
  />
  }
  @if (includeDirectLocalization()) {
  <app-direct-localization-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step4CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(4)"
  />
  }
  @if (signature()) {
  <app-summary-section-signature [signature]="signature()" [approvalDepartmentSignature]="approvalDepartmentSignature()" />
  }
</div>
