@use './core/variables' as *;
@use './core/fonts' as *;
@use './vendors/plugins';
@use './vendors/primeng-custom' as *;
@use './vendors/animation' as *;



html{
  font-family: $font-family;
}

.break-word{
  word-break: break-word;
}