<app-base-dialog
  [(visible)]="dialogVisible"
  icon="icon-calender"
  [confirmLabel]="'setting.confirmButton' | translate"
  [confirmButtonClass]="'w-fit'"
  [cancelButtonClass]="'w-fit'"
  [isConfirmationDisabled]="isConfirmationDisabled()"
  (onConfirm)="onConfirm()"
  (onClose)="onClose()"
  [isLoading]="settingAdminStore.isProcessing()"
>

  <div class="mb-5">
    <p class="text-lg font-semibold text-gray-900 mb-1">{{ ('setting.adminView.slaCardTitle' | translate) }}</p>
    <p class="text-sm mb-1 text-gray-60  max-h-[400px]">{{ ('setting.adminView.slaCardDesc' | translate) }} </p>
  </div>
  <div
    class="grid grid-cols-12 gap-4"
    [style.visibility]="settingAdminStore.isLoading() ? 'hidden' : 'visible'"
  >

    <div class="col-span-12 md:col-span-12">

      <app-base-label [title]="'setting.adminView.dialog.internalCycleLabel' | translate">
      </app-base-label>
      <div class="w-full">
        <p-inputnumber
          fluid
          [placeholder]="'setting.adminView.dialog.internalCycleLabel' | translate"
          [suffix]="' ' + ('setting.adminView.dialog.days' | translate)"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="0"
          [maxlength]="5"
          [formControl]="formService.internalCycle"
        />
      </div>

      @if(formService.internalCycle.touched && formService.internalCycle.errors){
      @if(formService.internalCycle.hasError('required')){
      <app-base-error [message]="'setting.adminView.dialog.internalCycleRequired' | translate" />
      }
      @if(formService.internalCycle.hasError('max') || formService.internalCycle.hasError('max') ||
      formService.internalCycle.hasError('min') || formService.internalCycle.hasError('min')){
      <app-base-error [message]="'setting.adminView.dialog.internalCycleValidNumber' | translate" />
      }
      @if(formService.internalCycle.hasError('pattern')){
      <app-base-error [message]="'setting.adminView.dialog.numbersOnlyError' | translate" />
      }
      }
    </div>
    <div class="col-span-12 md:col-span-12">
      <app-base-label [title]="'setting.adminView.dialog.investorReplyTimeLabel' | translate">
      </app-base-label>
      <div class="w-full">
        <p-inputnumber
          fluid
          [placeholder]="'setting.adminView.dialog.investorReplyTimeLabel' | translate"
          [suffix]="' ' + ('setting.adminView.dialog.days' | translate)"
          mode="decimal"
          [minFractionDigits]="0"
          [maxFractionDigits]="0"
          [maxlength]="5"
          [formControl]="formService.investorReply"
        />
      </div>

      <div>
        @if(formService.investorReply.touched && formService.investorReply.errors){
        @if(formService.investorReply.hasError('required')){
        <app-base-error [message]="'setting.adminView.dialog.investorReplyTimeRequired' | translate" />
        }
        @if(formService.investorReply.hasError('pattern')){
        <app-base-error [message]="'setting.adminView.dialog.numbersOnlyError' | translate" />
        }
        @if(formService.investorReply.hasError('min') || formService.investorReply.hasError('max')){
        <!-- to do add minmum value -->
        <app-base-error [message]="'setting.adminView.dialog.investorReplyTimeValidNumber'
                | translate:{ days: settingAdminStore.settingSla()?.remainingDaysValidation }" /> }
        }
      </div>
    </div>

  </div>

</app-base-dialog>