<div class="pt-10 px-10">
  <div class="flex flex-col gap-3">
    <h1 class="text-3xl font-semibold text-gray-900">{{ 'auth.signUp' | translate }}</h1>
    <p class="text-gray-600">{{ 'auth.welcomeMessage' | translate }}</p>
  </div>
  <form
    autocomplete="off"
    [formGroup]="registerForm"
    id="registerForm"
    (ngSubmit)="onSubmit()"
    class="w-full my-5"
  >
    <div class="flex flex-col gap-3">
      <!-- Name -->
      <div class="field">
        <app-base-label [title]="'auth.name' | translate"></app-base-label>
        <input
          type="text"
          pInputText
          [formControl]="registerFormService.fullName"
          [placeholder]="'auth.enterYourName' | translate"
          fluid
        />
        @if (registerFormService.fullName.touched && registerFormService.fullName.invalid) {
        <small class="text-red-500">
          {{ registerFormService.fullName.hasError('required') ? ('auth.nameRequired' | translate) :
          ('auth.invalidFullName' | translate) }}
        </small>
        }
      </div>

      <!-- Email -->
      <div class="field">
        <app-base-label [title]="'auth.email' | translate"></app-base-label>
        <input
          type="email"
          pInputText
          [formControl]="registerFormService.email"
          [placeholder]="'auth.enterYourEmail' | translate"
          fluid
        />
        @if (registerFormService.email.touched && registerFormService.email.invalid) {
        <small class="text-red-500">
          {{ registerFormService.email.hasError('required') ? ('auth.emailRequired' | translate) :
          ('auth.register.invalidEmailFormat' | translate) }}
        </small>
        }
      </div>

      <!-- Phone -->
      <div class="field">
        <app-base-label [title]="'auth.phone' | translate"></app-base-label>
        <app-phone-input [formControl]="registerFormService.phone"></app-phone-input>
        @if (registerFormService.phone.touched && registerFormService.phone.invalid) {
        <small class="text-red-500">
          {{ registerFormService.phone.hasError('required') ? ('auth.phoneRequired' | translate) :
          ('auth.invalidPhoneNumber' | translate) }}
        </small>
        }
      </div>

      <!-- Password -->
      <div class="field">
        <app-password-policy [passwordFormControl]="registerFormService.password"></app-password-policy>
      </div>

      <!-- Confirm Password -->
      <div class="field">
        <app-base-label [title]="'auth.register.confirmPassword' | translate"></app-base-label>
        <p-password
          [formControl]="registerFormService.confirmPassword"
          [feedback]="false"
          class="w-full"
          [placeholder]="'auth.register.enterYourConfirmPassword' | translate"
          inputStyleClass="w-full"
        ></p-password>
        @if (registerFormService.confirmPassword.touched && registerFormService.confirmPassword.invalid) {
        <small class="text-red-500">
          {{
          registerFormService.confirmPassword.hasError('required')
          ? ('auth.register.confirmPasswordRequired' | translate)
          : ('auth.register.passwordMismatch' | translate)
          }}
        </small>
        }
      </div>

      <!-- Submit -->
      <p-button
        [label]="'auth.getStarted' | translate"
        fluid
        [disabled]="registerForm.invalid || authStore.loading()"
        type="submit"
      ></p-button>
    </div>
  </form>
  <div class="flex justify-center items-center">
    <p class="text-gray-600">{{ 'auth.alreadyHaveAccount' | translate }}</p>
    <!-- TODO: set link -->
    <p-button
      class="ms-2"
      variant="text"
      [label]="'auth.signIn' | translate"
      [routerLink]="['/auth/login']"
    />
  </div>
</div>