# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
src/environments/environment.development.ts
/.vs/FrontEnd/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
*.db
/.vs/FrontEnd/CopilotIndices/17.14.1530.14912/CodeChunks.db-shm
/.vs/FrontEnd/CopilotIndices/17.14.1530.14912/CodeChunks.db-wal
/.vs/FrontEnd/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-shm
/.vs/FrontEnd/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-wal
/.vs/FrontEnd/FileContentIndex/239f4154-4278-4894-bc54-c00280f9ec8b.vsidx
/.vs/FrontEnd/FileContentIndex/3e747a11-9437-44fb-ab2e-4067e814ddb2.vsidx
/.vs/FrontEnd/FileContentIndex/462f1e96-eb9d-47ba-aed1-7affbb89ab3d.vsidx
/.vs/FrontEnd/FileContentIndex/97fc16b3-c138-4810-88f6-137c51c28351.vsidx
/.vs/FrontEnd/FileContentIndex/df9b98f5-dcaa-4830-9060-f3a64cc5a2dc.vsidx
/.vs/FrontEnd/v17/.wsuo
/.vs/FrontEnd/v17/DocumentLayout.backup.json
/.vs/FrontEnd/v17/DocumentLayout.json
/.vs/FrontEnd/FileContentIndex/78d7105d-328b-43d7-a1f8-aba90d0fa434.vsidx
/.vs/FrontEnd/FileContentIndex/b98f82a1-eab9-4f43-b033-5f46adaab00d.vsidx
/.vs/FrontEnd/FileContentIndex/1fec62f1-7ede-45c4-a683-fff51554e6f7.vsidx
/.vs/slnx.sqlite
/.vs/FrontEnd/v17/workspaceFileList.bin
/.vs/FrontEnd/FileContentIndex/c3e09193-c7f2-45f3-8539-9d39aad21298.vsidx
/.vs/FrontEnd/FileContentIndex/c8b6dc0e-57e8-4b73-a621-e53442bf354a.vsidx
/.vs/FrontEnd/FileContentIndex/0abe576b-a5ea-47ca-961a-4b93345fe6af.vsidx
/.vs/FrontEnd/FileContentIndex/859fc1db-ece3-4c8f-b0a6-c2076872ff88.vsidx
/.vs/FrontEnd/FileContentIndex/b668842d-c8e8-4eb1-84d8-db8d657b5378.vsidx
/.vs/FrontEnd/FileContentIndex/ac000667-46e1-4e35-9b09-efde03f33eee.vsidx
/.vs/FrontEnd/FileContentIndex/69696fb6-6028-4d60-abd9-77ecbf571156.vsidx
/.vs/FrontEnd/FileContentIndex/73b95fee-9e78-4145-b9b4-e4f3d5d04d02.vsidx
/.vs/FrontEnd/FileContentIndex/af09c8a0-d889-43d3-8761-b1478f6a0ed8.vsidx
*.vsidx
/.gitignore
/.gitignore
/.vs/slnx.sqlite-journal
