<div class="flex items-center gap-3">
  <div class="flex flex-col gap-1">
    <span class="text-sm text-gray-700">{{ label() }}</span>
    @if (showDiff() && hasDiff()) {
    <div class="flex items-center gap-2">
      <span class="text-sm font-medium text-gray-500 line-through wrap-break-word border-1 border-gray-200 bg-gray-50 p-1 rounded-md">{{ displayBeforeValue() }}</span>
      <i class="icon-arrow-right text-gray-500 text-xs"></i>
      <span class="text-sm font-medium text-green-600 wrap-break-word border-1 border-success-200 bg-success-50 p-1 rounded-md">{{ displayAfterValue() }}</span>
    </div>
    } @else {
    <span class="text-sm font-medium text-gray-900 wrap-break-word">{{ displayValue() }}</span>
    }
  </div>
  @if (hasComment() && !showDiff()) {
  <i
    class="icon-info text-orange-600 text-sm bg-orange-50 p-1 rounded-full font-medium"
    pTooltip="This field has a comment"
    tooltipPosition="top"
  ></i>
  }
  @if (hasError()) {
  <i
    class="icon-info text-red-500 text-sm bg-red-50 p-1 rounded-full font-medium"
    pTooltip="This field has validation errors"
    tooltipPosition="top"
  ></i>
  }
</div>