<app-table-layout [tableTitle]="'plans.title' | translate" [tableSubTitle]="'plans.subtitle' | translate"
  pageTitleClass="text-[24px] font-semibold" pageSubTitleClass="text-md text-gray-600">
  <ng-container ngProjectAs="table-actions">
    <p-button [label]="'plans.submitNewPlan' | translate" [icon]="'icon-plus'" [size]="'small'"
      (onClick)="createNewPlan()" />
  </ng-container>

  <ng-container ngProjectAs="table-filters">
    <!-- Filters -->
    <app-investor-plans-filter></app-investor-plans-filter>
  </ng-container>

  <ng-container ngProjectAs="table-body">
    <app-table-skeleton [headers]="headers()" [isLoading]="isLoading()">
      <app-data-table [columns]="headers()" [rows]="rows()" [(filter)]="filterService.filter"
        [totalRecords]="totalRecords()" (filterChange)="filterService.applyFilterWithPaging()"
        [messageTitle]="'plans.list.noPlansFound' | translate" [showCheckBox]="false" [rowsCheckable]="false">
        <ng-template #itemsTemplate let-item="item">
          <td>
            {{ '#' + item.planCode }}
          </td>
          <td>
            <p class="text-sm text-gray-900 font-medium">{{ item.title }}</p>
          </td>
          <td>
            <span class="text-sm text-gray-600">{{ getPlanTypeLabel(item.planType) }}</span>
          </td>
          <td>{{ item.submissionDate | date: 'dd MMM yyyy' }}</td>
          <td>
            <span
              class="text-sm font-medium inline-block border-1 px-[10px] py-[2px] rounded-xl whitespace-nowrap {{ getStatusBadgeClass(item.status) }}">
              {{ getStatusLabel(item.status) }}
            </span>
          </td>
          <td>
            <app-investor-plans-action-menu [plan]="item" (onViewDetails)="onViewDetails($event)"
              (onEdit)="onEdit($event)" (onDownload)="onDownload($event)" (onViewTimeLine)="onViewTimeline($event)" />
          </td>
        </ng-template>
      </app-data-table>
    </app-table-skeleton>
  </ng-container>
</app-table-layout>

<!-- @if (planTermsAndConditionsDialogVisibility()) {
<app-plan-terms-and-conditions-dialog
  [(dialogVisible)]="planTermsAndConditionsDialogVisibility"
  (onUserReadAndApproved)="onUserReadAndApproved()"
/>
}

@if (newPlanDialogVisibility()) {
<app-new-plan-dialog
  [(dialogVisible)]="newPlanDialogVisibility"
  [newPlanOpportunityType]="newPlanOpportunityType()"
  (onUserConfirmNewPlanDialog)="onUserConfirmNewPlanDialog()"
/>
} -->

@if (productLocalizationPlanWizardVisibility()) {
<app-product-localization-plan-wizard
  [(visibility)]="productLocalizationPlanWizardVisibility"
  (doRefresh)="applyFilter()"
/>
}

@if (serviceLocalizationPlanWizardVisibility()) {
<app-service-localization-plan-wizard
  [(visibility)]="serviceLocalizationPlanWizardVisibility"
  (doRefresh)="applyFilter()"
/>
}

@if (timelineVisibility()) {
<app-timeline-dialog
  [(dialogVisible)]="timelineVisibility"
  [planId]="selectedPlan()?.id || null"
/>
}