<div class="grid grid-cols-12 gap-4">

  <div class="col-span-12 md:col-span-6">
    <p-iconfield>
      <p-inputicon
        inputId="users-search"
        class="icon-search"
      />
      <input
        class="w-full"
        type="text"
        pInputText
        [disabled]="disableFilterInputs()"
        placeholder="Search by user name or email or ID"
        [(ngModel)]="filter().userNameEmailId"
        (ngModelChange)="userSearchSubject.next(filter().userNameEmailId??'')"
      />
    </p-iconfield>
  </div>

  <div class="col-span-12 md:col-span-3">
    <p-multiselect
      [options]="userTitles()"
      [(ngModel)]="filter().userTitleId"
      optionLabel="name"
      placeholder="Title"
      display="chip"
      dropdownIcon="icon-chevron-down"
      fluid
    >
    </p-multiselect>
  </div>

  @if(usersFilterService.showClearAll()){
  <div class="col-span-3 flex items-center">
    <app-clear-all (onClearAll)="usersFilterService.clearAllFilters()"></app-clear-all>
  </div>
  }
</div>
