<app-base-dialog
  [(visible)]="dialogVisible"
  icon="icon-bell"
  [confirmLabel]="'setting.confirmButton' | translate"
  [confirmButtonClass]="'w-fit'"
  [cancelButtonClass]="'w-fit'"
  [isConfirmationDisabled]="false"
  [styleClass]="'w-[90%] max-w-[800px]'"
  (onConfirm)="onConfirm()"
  (onClose)="onClose()"
  [isLoading]="settingAdminStore.isProcessing()"
>

  <div class="mb-4">
    <p class="text-lg font-semibold text-gray-900">{{ ('setting.adminView.notificationCardTitle' | translate) }}</p>
    <p class="text-sm text-gray-60 max-h-[400px]">{{ ('setting.adminView.notification.notificationDesc' | translate) }} </p>
  </div>

  @if(settingAdminStore.isLoading()){
  <div class="flex justify-center items-center h-full">
    <p-progress-spinner mode="indeterminate" styleClass="w-10 h-[50vh]"></p-progress-spinner>
  </div>
  } @else {
  <p-tabs
    [(value)]="activeTab"    
  >
    <p-tablist>
      <p-tab value="0">{{ 'setting.adminView.notification.systemTab' | translate }}</p-tab>
      <p-tab value="1">{{ 'setting.adminView.notification.emailTab' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>

      <p-tabpanel
        value="0"
        class="px-4"
      >
        @if(activeTab() === '0'){
        @defer (on viewport) {
        <app-admin-notification-form [changesArray]="systemNotification"></app-admin-notification-form>
        } @placeholder {
        <div></div>
        }
        }
      </p-tabpanel>
      <p-tabpanel
        value="1"
        class="px-4"
      >
        @if(activeTab() === '1'){
        @defer (on viewport) {
        <app-admin-notification-email-form [changesArray]="emailNotification"></app-admin-notification-email-form>
        } @placeholder {
        <div></div>
        }
        }
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
  }
  <!-- body -->
</app-base-dialog>