<div class="visitor-layout--navbar bg-white py-[16px] md:px-[32px] px-[20px]  border-b-1 border-b-gray-200">
  <div class="flex justify-between px-50">
    <div class="
    flex
    items-center
    gap-[28px]">
      <img
        src="assets/images/long-logo.svg"
        alt="logo"
        class="w-[100px]"
      >
    </div>
    <div class="flex items-center gap-4">
      <p-button
        severity="secondary"
        routerLink="/auth/login"
        label="Sign in"
      />
      <p-button
        severity="primary"
        routerLink="/auth/register"
        label="Sign up"
      />
    </div>
  </div>
</div>
