<app-base-wizard-dialog
  [(visible)]="visibility"
  [(activeStep)]="activeStep"
  [steps]="steps()"
  [wizardTitle]="wizardTitle()"
  (onNextStep)="nextStep()"
  (onPreviousStep)="previousStep()"
  (onSaveAsDraft)="saveAsDraft()"
  [isLoading]="isLoading()"
  [isProcessing]="isProcessing()"
>

  <ng-container ngProjectAs="status">
    <app-base-tag
      [color]="'gray'"
      [value]="'Draft'"
    />
  </ng-container>

  <ng-template [appStepContent]="1">
    <app-step-01-overview-company-information-form />
  </ng-template>

  <ng-template [appStepContent]="2">
    <app-step-02-product-plant-overview-form />
  </ng-template>

  <ng-template [appStepContent]="3">
    <app-step-03-valueChain-form />
  </ng-template>

  <ng-template [appStepContent]="4">
    <app-step-04-saudization-form />
  </ng-template>

  <ng-container ngProjectAs="final-step-action">
    <p-button [label]="'Submit'"></p-button>
  </ng-container>
</app-base-wizard-dialog>