<div class="flex flex-col gap-8 pb-10">

  @if (planStore.actionNote() && shouldShowActionNote()) {
    <app-page-comment-box
    [commentTitle]="isRejected() ? 'Rejection Reason' : 'Approval Note'"
    [commentText]="planStore.actionNote()!"
    [colorsClassesConfig]="{
      border: isRejected() ? 'border-[#B42318]' : 'border-green-200',
      background: isRejected() ? 'bg-[#F7E9E8]' : 'bg-green-50',
      iconColor: isRejected() ? 'text-[#A22016] rotate-180 ' : 'text-green-700 rotate-180 ',
    }"
    [iconType]="isRejected() ? 'icon-info' : ''"
    >
  </app-page-comment-box>
}

  @if (planStore.acknowledgeRejectionNote() && isEmployeePersona() && isDvAcknowledgedStatus()) {
    <app-page-comment-box
      [commentTitle]="'Acknowledge Rejection Note'"
      [commentText]="planStore.acknowledgeRejectionNote()!"
      [colorsClassesConfig]="{
        border: 'border-[#B42318]',
        background: 'bg-[#F7E9E8]',
        iconColor: 'text-[#A22016] rotate-180',
      }"
      [iconType]="'icon-info'"
      >
    </app-page-comment-box>
  }

  <app-overview-company-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step1CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(1)"
  />
  <app-product-plant-overview-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step2CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(2)"
  />
  <app-value-chain-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step3CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(3)"
  />
  <app-saudization-step-summary
    [stepCommentsCountAndPhaseFromWizard]="step4CommentsCountAndPhase()"
    (onEdit)="onEditStepClick(4)"
  />
  @if (signature()) {
    <app-summary-section-signature [signature]="signature()" [approvalDepartmentSignature]="approvalDepartmentSignature()" />
    }
</div>
