:host {
  display: block;
}

.opportunity-image-container {
  position: relative;

  &.selected::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--p-primary-500);
    border-radius: 0.75rem;
    pointer-events: none;
  }
}