<app-base-dialog
  [(visible)]="visibility"
  [confirmLabel]="'plans.newPlan.next' | translate"
  [icon]="'icon-bar-chart'"
  [confirmButtonClass]="'w-[100px]  button:bg-gray-200'"
  [cancelButtonClass]="'w-content'"
  (onConfirm)="savePlanBasicData()"
  (onCancel)="onCancel.emit()"
  [isConfirmationDisabled]="!canGoNext()"
>
  <ng-container ngProjectAs="content">
    <div class="content flex flex-col gap-5 max-w-[640px]">
      <div class="header">
        <h2 class="text-lg font-semibold text-gray-900 mb-[2px]">{{ 'plans.newPlan.title' | translate }}</h2>
        <p class="text-sm text-gray-600">
          {{ 'plans.newPlan.description' | translate }}
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col">
            <app-base-label [title]="'plans.newPlan.planTitle' | translate" />
            <input
              type="text"
              pInputText
              [placeholder]="'plans.newPlan.planTitlePlaceholder' | translate"
              [(ngModel)]="newPlanTitle"
              maxlength="150"
              required
              #planTitle="ngModel"
            />
            @if (planTitle.touched && planTitle.invalid && planTitle.hasError('required')) {
            <app-base-error [message]="'plans.newPlan.planTitleRequired' | translate" />
            }
          </div>
          <div class="flex flex-col">
            <app-base-label [title]="'plans.newPlan.opportunityType' | translate" />
            <div class="flex gap-5">
              <div class="flex flex-col gap-3">
                <div
                  class="rounded-xl opportunity-image-container"
                  [class.selected]="newPlanOpportunityType() === EOpportunityType.SERVICES"
                >
                  <label for="service-type">
                    <img
                      src="assets/images/services.png"
                      alt="services"
                      class="w-full"
                    />
                  </label>
                </div>
                <div class="flex justify-between">
                  <div>
                    <label
                      for="services-typee"
                      class="text-sm font-semibold"
                    >{{ 'plans.newPlan.services' | translate }}</label>
                    <p class="text-xs text-gray-600">{{ 'plans.newPlan.servicesDescription' | translate }}</p>
                  </div>
                  <p-radiobutton
                    name="opportunity-type"
                    [value]="EOpportunityType.SERVICES"
                    [(ngModel)]="newPlanOpportunityType"
                    inputId="service-type"
                    size="small"
                    [disabled]="disableChangingOpportunityType()"
                  />
                </div>
              </div>

              <div class="flex flex-col gap-3">
                <div
                  class="rounded-xl opportunity-image-container"
                  [class.selected]="newPlanOpportunityType() === EOpportunityType.PRODUCT"
                >
                  <label for="materials-type">
                    <img
                      src="assets/images/materials.png"
                      alt="materials"
                      class="w-full"
                    />
                  </label>
                </div>
                <div class="flex justify-between">
                  <div>
                    <label
                      for="materials-type"
                      class="text-sm font-semibold"
                    >Product</label>
                    <p class="text-xs text-gray-600">{{ 'plans.newPlan.materialsDescription' | translate }}</p>
                  </div>
                  <p-radiobutton
                    name="opportunity-type"
                    [value]="EOpportunityType.PRODUCT"
                    [(ngModel)]="newPlanOpportunityType"
                    inputId="materials-type"
                    size="small"
                    [disabled]="disableChangingOpportunityType()"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</app-base-dialog>