<div class="flex flex-col gap-[32px] px-8 pb-10">
  <!-- Basic Information -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Basic Information <span><i
          class="icon-info text-sm ms-2 text-gray-400"
          pTooltip="Supplier contact information provided here will serve as the primary contact for SEC throughout the entire BENA program."
          tooltipPosition="top"
        ></i></span></h2>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'Plan Title'" />
        <input
          pInputText
          placeholder="Enter your plan title"
          [formControl]="getFormControl(basicInformationFormGroupControls['planTitle'])"
          fluid
          maxlength="150"
        />
        @if(getFormControl(basicInformationFormGroupControls['planTitle']).touched && getFormControl(basicInformationFormGroupControls['planTitle']).hasError('required')){
        <app-base-error [message]="'Plan title is required'" />
        }
        @else if(getFormControl(basicInformationFormGroupControls['planTitle']).touched && getFormControl(basicInformationFormGroupControls['planTitle']).hasError('maxlength')){
        <app-base-error [message]="'Plan title must be less than 150 characters'" />
        }
      </div>
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'Opportunity Type'" />
        <p-select
          [options]="opportunityTypes"
          [formControl]="getFormControl(basicInformationFormGroupControls['opportunityType'])"
          optionLabel="name"
          optionValue="id"
          fluid
        >
          <ng-template
            pTemplate="item"
            let-item
          >
            {{ item.name | translate }}
          </ng-template>
          <ng-template
            pTemplate="selectedItem"
            let-item
          >
            {{ item.name | translate }}
          </ng-template>
        </p-select>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'Opportunity'" />
        <p-select
          [options]="availableOpportunities()"
          [formControl]="getFormControl(basicInformationFormGroupControls['opportunity'])"
          optionLabel="name"
          optionValue="id"
          placeholder="Select opportunity"
          [loading]="isLoadingAvailableOpportunities()"
          fluid
        />
      </div>
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'Submission Date'" />
        <p-datepicker
          fluid
          [formControl]="getFormControl(basicInformationFormGroupControls['submissionDate'])"
        />
      </div>
    </div>
  </div>

  <!-- Company Information -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Company Information</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 flex-1 ">
      <div class="flex flex-col gap-2 col-span-1">
        <app-base-label [title]="'Company Name'" />
        <app-group-input-with-checkbox
          [showCheckbox]="showCheckbox()"
          [hasCommentControl]="getHasCommentControl(companyInformationFormGroupControls['companyName'])"
        >
          <input
            type="text"
            pInputText
            fluid
            placeholder="Enter company name"
            maxlength="100"
            [formControl]="getValueControl(companyInformationFormGroupControls['companyName'])"
          />
        </app-group-input-with-checkbox>
        @if(getValueControl(companyInformationFormGroupControls['companyName']).touched && getValueControl(companyInformationFormGroupControls['companyName']).hasError('required')){
        <app-base-error [message]="'Company name is required'" />
        }
        @else if(getValueControl(companyInformationFormGroupControls['companyName']).touched && getValueControl(companyInformationFormGroupControls['companyName']).hasError('maxlength')){
        <app-base-error [message]="'Company name must be less than 100 characters'" />
        }
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'CEO Name'" />
        <app-group-input-with-checkbox
          [showCheckbox]="showCheckbox()"
          [hasCommentControl]="getHasCommentControl(companyInformationFormGroupControls['ceoName'])"
        >
          <input
            type="text"
            pInputText
            fluid
            placeholder="Enter CEO name"
            maxlength="100"
            [formControl]="getValueControl(companyInformationFormGroupControls['ceoName'])"
          />
        </app-group-input-with-checkbox>
        @if(getValueControl(companyInformationFormGroupControls['ceoName']).touched && getValueControl(companyInformationFormGroupControls['ceoName']).hasError('required')){
        <app-base-error [message]="'CEO name is required'" />
        }
        @else if(getValueControl(companyInformationFormGroupControls['ceoName']).touched && getValueControl(companyInformationFormGroupControls['ceoName']).hasError('maxlength')){
        <app-base-error [message]="'CEO name must be less than 100 characters'" />
        }
      </div>
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'CEO Email'" />
        <app-group-input-with-checkbox
          [showCheckbox]="showCheckbox()"
          [hasCommentControl]="getHasCommentControl(companyInformationFormGroupControls['ceoEmailID'])"
        >
          <input
            type="email"
            pInputText
            fluid
            placeholder="Enter CEO email"
            maxlength="100"
            [formControl]="getValueControl(companyInformationFormGroupControls['ceoEmailID'])"
          />
        </app-group-input-with-checkbox>
        @if(getValueControl(companyInformationFormGroupControls['ceoEmailID']).touched && getValueControl(companyInformationFormGroupControls['ceoEmailID']).hasError('required')){
        <app-base-error [message]="'CEO email is required'" />
        }
        @else if(getValueControl(companyInformationFormGroupControls['ceoEmailID']).touched && getValueControl(companyInformationFormGroupControls['ceoEmailID']).hasError('email')){
        <app-base-error [message]="'CEO email is invalid'" />
        }
      </div>
    </div>
  </div>

  <!-- Location Information -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Location Information</h2>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'Global HQ Location'" />
        <app-group-input-with-checkbox
          [showCheckbox]="showCheckbox()"
          [hasCommentControl]="getHasCommentControl(locationInformationFormGroupControls['globalHQLocation'])"
        >
          <input
            type="text"
            pInputText
            fluid
            placeholder="Enter global HQ location"
            maxlength="250"
            [formControl]="getValueControl(locationInformationFormGroupControls['globalHQLocation'])"
          />
        </app-group-input-with-checkbox>
        @if(getValueControl(locationInformationFormGroupControls['globalHQLocation']).touched && getValueControl(locationInformationFormGroupControls['globalHQLocation']).hasError('required')){
        <app-base-error [message]="'Global HQ location is required'" />
        }
        @else if(getValueControl(locationInformationFormGroupControls['globalHQLocation']).touched && getValueControl(locationInformationFormGroupControls['globalHQLocation']).hasError('maxlength')){
        <app-base-error [message]="'Global HQ location must be less than 250 characters'" />
        }
      </div>
      <div class="flex flex-col gap-2 flex-1">
        <app-base-label [title]="'Registered Vendor ID with SEC'" />
        <app-group-input-with-checkbox
          [showCheckbox]="showCheckbox()"
          [hasCommentControl]="getHasCommentControl(locationInformationFormGroupControls['registeredVendorIDwithSEC'])"
        >
          <input
            type="text"
            pInputText
            fluid
            placeholder="Enter global HQ location"
            [formControl]="getValueControl(locationInformationFormGroupControls['registeredVendorIDwithSEC'])"
          />
        </app-group-input-with-checkbox>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:flex-row">
      <div class="flex flex-col gap-2 flex-1">
        <div>
          <h4 class="text-sm font-medium text-gray-900">Do you currently have local Agent in KSA?</h4>
          <p class="text-sm text-gray-600">If “Yes”, mention the following details of Local Agent - </p>
        </div>
        <div class="flex gap-2">
          <label class="flex items-center gap-2 cursor-pointer">
            <p-radiobutton
              name="doYouCurrentlyHaveLocalAgentInKSA"
              [value]="true"
              [formControl]="getFormControl(locationInformationFormGroupControls['doYouCurrentlyHaveLocalAgentInKSA'])"
              inputId="doYouCurrentlyHaveLocalAgentInKSAYes"
              size="small"
            />
            <span class="min-w-[100px] text-sm text-gray-700 font-medium">Yes</span>
          </label>
          <label class="flex items-center gap-2 cursor-pointer">
            <p-radiobutton
              name="doYouCurrentlyHaveLocalAgentInKSA"
              [value]="false"
              [formControl]="getFormControl(locationInformationFormGroupControls['doYouCurrentlyHaveLocalAgentInKSA'])"
              inputId="doYouCurrentlyHaveLocalAgentInKSANo"
              size="small"
            />
            <span class="min-w-[100px] text-sm text-gray-700 font-medium">No</span>
          </label>
        </div>
        <div>

        </div>
        @if(getFormControl(locationInformationFormGroupControls['doYouCurrentlyHaveLocalAgentInKSA']).touched && getFormControl(locationInformationFormGroupControls['doYouCurrentlyHaveLocalAgentInKSA']).hasError('required')){
        <app-base-error [message]="'This field is required'" />
        }
      </div>

    </div>

    @if(showLocalAgentInformation()){
    <div
      class="animated flex flex-col gap-4"
      animate.enter="fadeIn"
    >
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 flex-1">
          <app-base-label [title]="'Local Agent Name'" />
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(localAgentInformationFormGroupControls['localAgentName'])"
          >
            <input
              type="text"
              pInputText
              fluid
              placeholder="Enter local agent name"
              maxlength="100"
              [formControl]="getValueControl(localAgentInformationFormGroupControls['localAgentName'])"
            />
          </app-group-input-with-checkbox>
          @if(getValueControl(localAgentInformationFormGroupControls['localAgentName']).touched && getValueControl(localAgentInformationFormGroupControls['localAgentName']).hasError('required')){
          <app-base-error [message]="'Local agent name is required'" />
          }
          @else if(getValueControl(localAgentInformationFormGroupControls['localAgentName']).touched && getValueControl(localAgentInformationFormGroupControls['localAgentName']).hasError('maxlength')){
          <app-base-error [message]="'Local agent name must be less than 100 characters'" />
          }
        </div>
        <div class="flex flex-col gap-2 flex-1">
          <app-base-label [title]="'Contact Person Name'" />
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(localAgentInformationFormGroupControls['contactPersonName'])"
          >
            <input
              type="text"
              pInputText
              fluid
              placeholder="Enter contact person name"
              [formControl]="getValueControl(localAgentInformationFormGroupControls['contactPersonName'])"
            />
          </app-group-input-with-checkbox>
          @if(getValueControl(localAgentInformationFormGroupControls['contactPersonName']).touched && getValueControl(localAgentInformationFormGroupControls['contactPersonName']).hasError('required')){
          <app-base-error [message]="'Contact person name is required'" />
          }
        </div>
      </div>
      <div class="flex flex-col gap-4 md:flex-row">
        <div class="flex flex-col gap-2 flex-1">
          <app-base-label [title]="'Email ID'" />
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(localAgentInformationFormGroupControls['emailID'])"
          >
            <input
              type="text"
              pInputText
              fluid
              placeholder="Enter email ID"
              [formControl]="getValueControl(localAgentInformationFormGroupControls['emailID'])"
            />
          </app-group-input-with-checkbox>
          @if(getValueControl(localAgentInformationFormGroupControls['emailID']).touched && getValueControl(localAgentInformationFormGroupControls['emailID']).hasError('required')){
          <app-base-error [message]="'Email ID is required'" />
          }
          @else if(getValueControl(localAgentInformationFormGroupControls['emailID']).touched && getValueControl(localAgentInformationFormGroupControls['emailID']).hasError('email')){
          <app-base-error [message]="'Email ID is invalid'" />
          }
        </div>
        <div class="flex flex-col gap-2 flex-1">
          <app-base-label [title]="'Contact Number'" />
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(localAgentInformationFormGroupControls['contactNumber'])"
          >
            <input
              type="text"
              pInputText
              fluid
              placeholder="Enter contact number"
              [formControl]="getValueControl(localAgentInformationFormGroupControls['contactNumber'])"
            />
          </app-group-input-with-checkbox>
          @if(getValueControl(localAgentInformationFormGroupControls['contactNumber']).touched && getValueControl(localAgentInformationFormGroupControls['contactNumber']).hasError('required')){
          <app-base-error [message]="'Contact number is required'" />
          }
          @else if(getValueControl(localAgentInformationFormGroupControls['contactNumber']).touched && getValueControl(localAgentInformationFormGroupControls['contactNumber']).hasError('phoneNumber')){
          <app-base-error [message]="'Contact number is invalid'" />
          }
        </div>
      </div>
      <div class="flex-1 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="col-span-1">
          <div class="flex flex-col gap-2 flex-1">
            <app-base-label [title]="'Company HQ Location'" />
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(localAgentInformationFormGroupControls['companyHQLocation'])"
            >
              <input
                type="text"
                pInputText
                fluid
                maxlength="200"
                placeholder="Enter company HQ location"
                [formControl]="getValueControl(localAgentInformationFormGroupControls['companyHQLocation'])"
              />
            </app-group-input-with-checkbox>
            @if(getValueControl(localAgentInformationFormGroupControls['companyHQLocation']).touched && getValueControl(localAgentInformationFormGroupControls['companyHQLocation']).hasError('required')){
            <app-base-error [message]="'Company HQ location is required'" />
            }
            @else if(getValueControl(localAgentInformationFormGroupControls['companyHQLocation']).touched && getValueControl(localAgentInformationFormGroupControls['companyHQLocation']).hasError('maxlength')){
            <app-base-error [message]="'Company HQ location must be less than 200 characters'" />
            }
          </div>
        </div>
      </div>
    </div>

    }
  </div>
</div>