<div class="flex items-center w-full">
  <p-avatar
    [image]="userAvatar() || 'assets/images/user_placeholder.png'"
    class="mr-[12px] {{avatarClass()}}"
    shape="circle"
    size="large"
  />
  <span
    class="flex flex-col"
    [style]="{
    'width':'calc(100% - 50px)'
  }"
  >
    <span
      class="
    {{titleClass()}}
    truncate"
      [pTooltip]="userName()"
      tooltipPosition="top"
    >{{userName()}}</span>
    <span
      class="{{subTitleClass()}} truncate"
      [pTooltip]="userRole()"
      tooltipPosition="top"
    >{{userRole()}}</span>

  </span>

</div>