<app-base-label [title]="'auth.password' | translate"></app-base-label>
<input
  type="password"
  pInputText
  [formControl]="formControl()"
  [placeholder]="'auth.enterYourPassword' | translate"
  fluid
/>

@if(formControl().touched) {

@if(formControl().errors?.['required']) {
<small class="text-red-500">
  {{ 'auth.passwordRequired' | translate }}
</small>
}@else {

<!-- Min length error -->
@if(formControl().invalid) {

<div
  class="mt-2"
  [ngClass]="formControl().errors?.['minLength']?'text-red-600':'text-green-600'"
>
  @if(formControl().errors?.['minLength']) {
  <i class="icon-x-circle"></i>
  }@else {
  <i class="icon-check-circle"></i>
  }
  <small>
    {{ 'auth.passwordMinLength' | translate }}
  </small>
</div>

<div [ngClass]="formControl().errors?.['specialChar']?'text-red-600':'text-green-600'">
  @if(formControl().errors?.['specialChar']) {
  <i class="icon-x-circle"></i>
  }@else {
  <i class="icon-check-circle"></i>
  }
  <small>
    {{ 'auth.passwordSpecialChar' | translate }}
  </small>
</div>
}
}
}
