<app-base-label [title]="'auth.password' | translate"></app-base-label>

<input
  autocomplete="new-password"
  type="password"
  pInputText
  [formControl]="formControl()"
  [placeholder]="'auth.enterYourPassword' | translate"
  fluid
/>

@if(formControl().dirty) {
@if(formControl().errors?.['required']) {
<app-base-error [message]="'auth.passwordRequired' | translate" />
}@else {

<!-- Password Policy Checks -->
@if(formControl().invalid) {

<div class="mt-2 flex flex-col gap-3">
  <!-- Min 8 and Max 20 characters -->
  <div
    [ngClass]="(formControl().errors?.['minLength'] || formControl().errors?.['maxLength'])?'text-red-600':'text-gray-600'"
    class="flex items-center gap-2"
  >
    @if(formControl().errors?.['minLength'] || formControl().errors?.['maxLength']) {
    <i class="icon-x-circle "></i>
    }@else {
    <span class="bg-gray-300 block rounded-full w-[15px] h-[15px] flex items-center justify-center"><i class="icon-check text-white text-xs"></i></span>
    }
    <small class="text-sm">
      {{ 'auth.passwordLength' | translate }}
    </small>
  </div>

  <!-- At least 1 uppercase -->
  <div
    [ngClass]="formControl().errors?.['uppercase']?'text-red-600':'text-gray-600'"
    class="flex items-center gap-2"
  >
    @if(formControl().errors?.['uppercase']) {
    <i class="icon-x-circle"></i>
    }@else {
    <span class="bg-gray-300 block rounded-full w-[15px] h-[15px] flex items-center justify-center"><i class="icon-check text-white text-xs"></i></span> }
    <small class="text-sm">
      {{ 'auth.passwordUppercase' | translate }}
    </small>
  </div>

  <!-- At least 1 lowercase -->
  <div
    [ngClass]="formControl().errors?.['lowercase']?'text-red-600':'text-gray-600'"
    class="flex items-center gap-2"
  >
    @if(formControl().errors?.['lowercase']) {
    <i class="icon-x-circle"></i>
    }@else {
    <span class="bg-gray-300 block rounded-full w-[15px] h-[15px] flex items-center justify-center"><i class="icon-check text-white text-xs"></i></span>
    }
    <small class="text-sm">
      {{ 'auth.passwordLowercase' | translate }}
    </small>
  </div>

  <!-- At least 1 number -->
  <div
    [ngClass]="formControl().errors?.['number']?'text-red-600':'text-gray-600'"
    class="flex items-center gap-2"
  >
    @if(formControl().errors?.['number']) {
    <i class="icon-x-circle"></i>
    }@else {
    <span class="bg-gray-300 block rounded-full w-[15px] h-[15px] flex items-center justify-center"><i class="icon-check text-white text-xs"></i></span>
    }
    <small class="text-sm">
      {{ 'auth.passwordNumber' | translate }}
    </small>
  </div>

  <!-- At least 1 special character -->
  <div
    [ngClass]="formControl().errors?.['specialChar']?'text-red-600':'text-gray-600'"
    class="flex items-center gap-2"
  >
    @if(formControl().errors?.['specialChar']) {
    <i class="icon-x-circle"></i>
    }@else {
    <span class="bg-gray-300 block rounded-full w-[15px] h-[15px] flex items-center justify-center"><i class="icon-check text-white text-xs"></i></span>
    }
    <small class="text-sm">
      {{ 'auth.passwordSpecialChar' | translate }}
    </small>
  </div>
</div>
}
}
}