<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-5">
        <div class="flex flex-col">
            <input type="text" pInputText name="planSearch" [placeholder]="'plans.filter.searchPlaceholder' | translate"
                [ngModel]="filter().searchText ?? ''" (ngModelChange)="onSearchTextChange($event)" />
        </div>
    </div>

    <div class="col-span-12 md:col-span-2">
        <div class="flex flex-col">
            <p-select name="planType" [options]="planTypeOptions()" [ngModel]="filter().planType"
                (ngModelChange)="onPlanTypeChange($event)" [placeholder]="'plans.filter.selectPlanType' | translate"
                optionLabel="label" optionValue="value" [showClear]="true" appendTo="body"></p-select>
        </div>
    </div>

    <div class="col-span-12 md:col-span-2">
        <div class="flex flex-col">
            <p-select name="status" [options]="statusOptions()" [ngModel]="filter().status"
                (ngModelChange)="onStatusChange($event)" [placeholder]="'plans.filter.selectStatus' | translate"
                optionLabel="label" optionValue="value" [showClear]="true" appendTo="body"></p-select>
        </div>
    </div>

    <div class="col-span-12 md:col-span-3">
        <div class="flex flex-col">
            <p-datepicker name="submissionDate" selectionMode="range" [readonlyInput]="true"
                [(ngModel)]="filter().submissionDate" (ngModelChange)="onPickerChange($event)" [dateFormat]="'dd M yy'"
                [showIcon]="true" [showButtonBar]="true" [iconDisplay]="'input'"
                [placeholder]="'plans.filter.selectSubmissionDate' | translate" appendTo="body"></p-datepicker>
        </div>
    </div>
</div>