<div class="flex flex-col md:flex-row gap-4">
    <div class="grid grid-cols-12 gap-4 flex-1">
        <div class="col-span-12 md:col-span-4">
            <div class="flex flex-col">
                <input
                    type="text"
                    pInputText
                    name="planSearch"
                    [placeholder]="'plans.filter.searchPlaceholder' | translate"
                    [ngModel]="filter().searchText ?? ''"
                    (ngModelChange)="onSearchTextChange($event)"
                />
            </div>
        </div>

        <div class="col-span-12 md:col-span-2">
            <div class="flex flex-col">
                <p-multiselect
                    name="planType"
                    [options]="planTypeOptions()"
                    [(ngModel)]="filter().planType"
                    (ngModelChange)="onPlanTypeChange($event)"
                    [placeholder]="'plans.filter.selectPlanType' | translate"
                    optionLabel="label"
                    optionValue="value"
                    [showClear]="true"
                    appendTo="body"
                ></p-multiselect>
            </div>
        </div>

        <div class="col-span-12 md:col-span-2">
            <div class="flex flex-col">
                <p-multiselect
                    name="status"
                    [options]="statusOptions()"
                    [(ngModel)]="filter().status"
                    (ngModelChange)="onStatusChange($event)"
                    [placeholder]="'plans.filter.selectStatus' | translate"
                    optionLabel="label"
                    optionValue="value"
                    [showClear]="true"
                    appendTo="body"
                ></p-multiselect>
            </div>
        </div>

        <div class="col-span-12 md:col-span-4">
            <div class="flex flex-col">
                <p-datepicker
                    name="submissionDate"
                    selectionMode="range"
                    [readonlyInput]="true"
                    [(ngModel)]="filter().submissionDate"
                    (ngModelChange)="onPickerChange($event)"
                    [dateFormat]="'dd M yy'"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    [iconDisplay]="'input'"
                    [placeholder]="'plans.filter.selectSubmissionDate' | translate"
                    appendTo="body"
                ></p-datepicker>
            </div>
        </div>

    </div>
    @if(filterService.showClearAll()) {
    <div>
        <div class="flex h-full items-center md:justify-end">
            <p-overlaybadge
                [value]="filterService.activeFiltersCount()"
                severity="danger"
                class="filter-reset-badge"
            >
                <p-button
                    [severity]="'secondary'"
                    (click)="onClearFilters()"
                    [rounded]="true"
                    [outlined]="true"
                    [ariaLabel]="'plans.filter.reset' | translate"
                >
                    <svg
                        width="18"
                        height="17"
                        viewBox="0 0 18 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.75 6.58333C0.75 6.58333 2.42082 4.30685 3.7782 2.94854C5.13557 1.59022 7.01133 0.75 9.08333 0.75C13.2255 0.75 16.5833 4.10786 16.5833 8.25C16.5833 12.3921 13.2255 15.75 9.08333 15.75C5.66409 15.75 2.77926 13.4619 1.87647 10.3333M0.75 6.58333V1.58333M0.75 6.58333H5.75"
                            stroke="black"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        />
                    </svg>
                </p-button>
            </p-overlaybadge>
        </div>
    </div>
    }
</div>