<div class="flex flex-col gap-8 pb-10">
  @if(isLoading()) {
  <!-- Skeleton Loading State -->
  <div class="flex flex-col gap-8">
    <!-- Localization Skeleton -->
    <div>
      <p-skeleton width="150px" height="24px" class="mb-4" />
      <div class="flex flex-col gap-4">
        <!-- Design & Engineering Skeleton -->
        <div class="flex flex-col gap-2">
          <p-skeleton width="180px" height="16px" />
          <div class="border border-gray-200 rounded-lg p-4">
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="200px" height="36px" />
          </div>
        </div>

        <!-- Sourcing Skeleton -->
        <div class="flex flex-col gap-2">
          <p-skeleton width="100px" height="16px" />
          <div class="border border-gray-200 rounded-lg p-4">
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="200px" height="36px" />
          </div>
        </div>

        <!-- Manufacturing Skeleton -->
        <div class="flex flex-col gap-2">
          <p-skeleton width="140px" height="16px" />
          <div class="border border-gray-200 rounded-lg p-4">
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="200px" height="36px" />
          </div>
        </div>

        <!-- Assembly & Testing Skeleton -->
        <div class="flex flex-col gap-2">
          <p-skeleton width="160px" height="16px" />
          <div class="border border-gray-200 rounded-lg p-4">
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="200px" height="36px" />
          </div>
        </div>

        <!-- After Sales Services Skeleton -->
        <div class="flex flex-col gap-2">
          <p-skeleton width="170px" height="16px" />
          <div class="border border-gray-200 rounded-lg p-4">
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="100%" height="40px" class="mb-2" />
            <p-skeleton width="200px" height="36px" />
          </div>
        </div>
      </div>
    </div>
  </div>
  } @else {
  <!-- Localization -->
  <div>
    <h3 class="text-lg font-semibold mb-4">{{ 'opportunity.form.localization' | translate }}</h3>
    <div class="flex flex-col gap-4">
      <!-- Design & Engineering -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'opportunity.form.designEngineering' | translate">
        </app-base-label>
        <app-form-array-input [ft]="getFormArray('designEngineerings')"
          [addButtonMessage]="'opportunity.form.addDesignEngineeringItem' | translate" [maxItems]="25"
          [createNewItem]="createKeyActivityControl">
          <ng-template #itemTemplate let-itemControl let-index="index">
            <td class="p-3 border border-gray-200">
              <input type="text" pInputText class="w-full" [minlength]="3" [maxlength]="500"
                [placeholder]="'opportunity.form.enterKeyActivities' | translate"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()" />
              <app-base-error-messages [control]="getKeyActivityControl(itemControl)!"
                [label]="'Design & Engineering'" />
            </td>
          </ng-template>
        </app-form-array-input>
      </div>

      <!-- Sourcing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'opportunity.form.sourcing' | translate">
        </app-base-label>
        <app-form-array-input [ft]="getFormArray('sourcings')"
          [addButtonMessage]="'opportunity.form.addSourcingItem' | translate" [maxItems]="25"
          [createNewItem]="createKeyActivityControl">
          <ng-template #itemTemplate let-itemControl let-index="index">
            <td class="p-3 border border-gray-200">
              <input type="text" pInputText class="w-full" [minlength]="3" [maxlength]="500"
                [placeholder]="'opportunity.form.enterKeyActivities' | translate"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()" />
                <app-base-error-messages [control]="getKeyActivityControl(itemControl)!"
                [label]="'Sourcing'" />
            </td>
          </ng-template>
        </app-form-array-input>
      </div>

      <!-- Manufacturing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'opportunity.form.manufacturing' | translate">
        </app-base-label>
        <app-form-array-input [ft]="getFormArray('manufacturings')"
          [addButtonMessage]="'opportunity.form.addManufacturingItem' | translate" [maxItems]="25"
          [createNewItem]="createKeyActivityControl">
          <ng-template #itemTemplate let-itemControl let-index="index">
            <td class="p-3 border border-gray-200">
              <input type="text" pInputText class="w-full" [minlength]="3" [maxlength]="500"
                [placeholder]="'opportunity.form.enterKeyActivities' | translate"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()" />
                <app-base-error-messages [control]="getKeyActivityControl(itemControl)!"
                [label]="'Manufacturing'" />
            </td>
          </ng-template>
        </app-form-array-input>
      </div>

      <!-- Assembly & Testing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'opportunity.form.assemblyTesting' | translate">
        </app-base-label>
        <app-form-array-input [ft]="getFormArray('assemblyTestings')"
          [addButtonMessage]="'opportunity.form.addAssemblyTestingItem' | translate" [maxItems]="25"
          [createNewItem]="createKeyActivityControl">
          <ng-template #itemTemplate let-itemControl let-index="index">
            <td class="p-3 border border-gray-200">
              <input type="text" pInputText class="w-full" [minlength]="3" [maxlength]="500"
                [placeholder]="'opportunity.form.enterKeyActivities' | translate"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()" />
                <app-base-error-messages [control]="getKeyActivityControl(itemControl)!"
                [label]="'Assembly & Testing'" />
            </td>
          </ng-template>
        </app-form-array-input>
      </div>

      <!-- After Sales Services -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'opportunity.form.afterSalesServices' | translate">
        </app-base-label>
        <app-form-array-input [ft]="getFormArray('afterSalesServices')"
          [addButtonMessage]="'opportunity.form.addAfterSalesServicesItem' | translate" [maxItems]="25"
          [createNewItem]="createKeyActivityControl">
          <ng-template #itemTemplate let-itemControl let-index="index">
            <td class="p-3 border border-gray-200">
              <input type="text" pInputText class="w-full" [minlength]="3" [maxlength]="500"
                [placeholder]="'opportunity.form.enterKeyActivities' | translate"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()" />
                <app-base-error-messages [control]="getKeyActivityControl(itemControl)!"
                [label]="'After sales services'" />
            </td>
          </ng-template>
        </app-form-array-input> 
      </div>
    </div>
  </div>
  }

</div>