<div class="px-8 flex flex-col gap-8 pb-10">
  <!-- Localization -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Localization</h3>
    <div class="flex flex-col gap-4">
      <!-- Design & Engineering -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Design & Engineering'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('designEngineerings')"
          [addButtonMessage]="'Add Design & Engineering Item'"
          [maxItems]="10"
          [createNewItem]="createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        @if(getFormArray('designEngineerings').invalid && getFormArray('designEngineerings').dirty){
        <div class="mt-2">
          @if(getFormArray('designEngineerings').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Design engineering is required
          </p-message>
          }
          @if(getFormArray('designEngineerings').hasError('invalidArray')){
          <p-message
            severity="error"
            size="small"
          >
            Design engineering is required
          </p-message>
          }
        </div>
        }
      </div>

      <!-- Sourcing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Sourcing'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('sourcings')"
          [addButtonMessage]="'Add Sourcing Item'"
          [maxItems]="10"
          [createNewItem]="createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        @if(getFormArray('sourcings').invalid && getFormArray('sourcings').dirty){
        <div class="mt-2">
          @if(getFormArray('sourcings').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Sourcing is required
          </p-message>
          }
          @if(getFormArray('sourcings').hasError('invalidArray')){
          <p-message
            severity="error"
            size="small"
          >
            Sourcing is required
          </p-message>
          }
        </div>
        }
      </div>

      <!-- Manufacturing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Manufacturing'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('manufacturings')"
          [addButtonMessage]="'Add Manufacturing Item'"
          [maxItems]="10"
          [createNewItem]="createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        @if(getFormArray('manufacturings').invalid && getFormArray('manufacturings').dirty){
        <div class="mt-2">
          @if(getFormArray('manufacturings').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Manufacturing is required
          </p-message>
          }
          @if(getFormArray('manufacturings').hasError('invalidArray')){
          <p-message
            severity="error"
            size="small"
          >
            Manufacturing is required
          </p-message>
          }
        </div>
        }
      </div>

      <!-- Assembly & Testing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Assembly & Testing'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('assemblyTestings')"
          [addButtonMessage]="'Add Assembly & Testing Item'"
          [maxItems]="10"
          [createNewItem]="createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        @if(getFormArray('assemblyTestings').invalid && getFormArray('assemblyTestings').dirty){
        <div class="mt-2">
          @if(getFormArray('assemblyTestings').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Assembly testing is required
          </p-message>
          }
          @if(getFormArray('assemblyTestings').hasError('invalidArray')){
          <p-message
            severity="error"
            size="small"
          >
            Assembly testing is required
          </p-message>
          }
        </div>
        }
      </div>

      <!-- After Sales Services -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'After Sales Services'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('afterSalesServices')"
          [addButtonMessage]="'Add After Sales Services Item'"
          [maxItems]="10"
          [createNewItem]="createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        @if(getFormArray('afterSalesServices').invalid && getFormArray('afterSalesServices').dirty){
        <div class="mt-2">
          @if(getFormArray('afterSalesServices').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            After sales services is required
          </p-message>
          }
          @if(getFormArray('afterSalesServices').hasError('invalidArray')){
          <p-message
            severity="error"
            size="small"
          >
            After sales services is required
          </p-message>
          }
        </div>
        }
      </div>
    </div>
  </div>

</div>