<div class="px-8 flex flex-col gap-8 pb-10">
  <!-- Localization -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Localization</h3>
    <div class="flex flex-col gap-4">
      <!-- Design & Engineering -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Design & Engineering'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('designEngineerings')"
          [addButtonMessage]="'Add Design & Engineering Item'"
          [maxItems]="10"
          [createNewItem]="opportunityFormService.createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                [class.p-invalid]="isRecordInvalid(itemControl, getFormArray('designEngineerings'))"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        <app-form-input-error-messages [control]="getFormArray('designEngineerings')" />
      </div>

      <!-- Sourcing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Sourcing'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('sourcings')"
          [addButtonMessage]="'Add Sourcing Item'"
          [maxItems]="10"
          [createNewItem]="opportunityFormService.createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                [class.p-invalid]="isRecordInvalid(itemControl, getFormArray('sourcings'))"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        <app-form-input-error-messages [control]="getFormArray('sourcings')" />
      </div>

      <!-- Manufacturing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Manufacturing'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('manufacturings')"
          [addButtonMessage]="'Add Manufacturing Item'"
          [maxItems]="10"
          [createNewItem]="opportunityFormService.createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                placeholder="Enter Key Activities"
                [class.p-invalid]="isRecordInvalid(itemControl, getFormArray('manufacturings'))"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        <app-form-input-error-messages [control]="getFormArray('manufacturings')" />
      </div>

      <!-- Assembly & Testing -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Assembly & Testing'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('assemblyTestings')"
          [addButtonMessage]="'Add Assembly & Testing Item'"
          [maxItems]="10"
          [createNewItem]="opportunityFormService.createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                [class.p-invalid]="isRecordInvalid(itemControl, getFormArray('assemblyTestings'))"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        <app-form-input-error-messages [control]="getFormArray('assemblyTestings')" />
      </div>

      <!-- After Sales Services -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'After Sales Services'">
        </app-base-label>
        <app-form-array-input
          [ft]="getFormArray('afterSalesServices')"
          [addButtonMessage]="'Add After Sales Services Item'"
          [maxItems]="10"
          [createNewItem]="opportunityFormService.createKeyActivityControl"
        >
          <ng-template
            #itemTemplate
            let-itemControl
            let-index="index"
          >
            <td class="p-3 border border-gray-200">
              <input
                type="text"
                pInputText
                class="w-full"
                [class.p-invalid]="isRecordInvalid(itemControl, getFormArray('afterSalesServices'))"
                placeholder="Enter Key Activities"
                [formControl]="getKeyActivityControl(itemControl)!"
                (blur)="getKeyActivityControl(itemControl)?.markAsTouched()"
              />
            </td>
          </ng-template>
        </app-form-array-input>
        <app-form-input-error-messages [control]="getFormArray('afterSalesServices')" />
      </div>
    </div>
  </div>

</div>