<div class="signature-pad-container">

  @if (existingSignature() && !showCanvas()) {
  <div class="existing-signature-container">
    <img
      [src]="existingSignature()!"
      alt="Signature"
      class="existing-signature-image"
    />
    <p-button
      [label]="'plans.submission.change' | translate"
      severity="secondary"
      (onClick)="changeSignature()"
      [outlined]="true"
    />
  </div>
  } @else {    
  <div class="signature-canvas-container">
    <div class="canvas-wrapper">
      <canvas
        #canvas
        class="signature-canvas"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)"
        (mouseup)="onMouseUp()"
        (mouseleave)="onMouseUp()"
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd()"
      ></canvas>
    </div>
    <p class="signature-placeholder">{{ 'plans.submission.signaturePlaceholder' | translate }}</p>
    <p-button
      [label]="'plans.submission.clear' | translate"
      severity="secondary"
      (onClick)="clearSignature()"
      [outlined]="true"
      [disabled]="!canClearSignature()"
    />
  </div>
  }
</div>