<div class="flex flex-col gap-[32px] pb-10">
  <!-- Localization Strategy Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">{{ 'plans.form.localizationStrategy' | translate }}</h2>
    <app-form-array-input
      [ft]="getLocalizationStrategyFormArray()"
      [hideAddButton]="true"
      [hideDeleteButton]="true"
      [createNewItem]="createLocalizationStrategyItem"
      [scrollHeight]="'600px'"
      [excludeKeys]="['localizationStrategyRowId', 'serviceId', 'serviceHeadcountRowId','serviceLevelLocalizationDate', 'localizationApproachOtherDetails', 'locationOtherDetails', 'proprietaryToolsSystemsDetails', 'firstYear_headcount', 'firstYear_saudization', 'secondYear_headcount', 'secondYear_saudization', 'thirdYear_headcount', 'thirdYear_saudization', 'fourthYear_headcount', 'fourthYear_saudization', 'fifthYear_headcount', 'fifthYear_saudization', 'sixthYear_headcount', 'sixthYear_saudization', 'keyMeasuresToUpskillSaudis', 'mentionSupportRequiredFromSEC']"
      [customHeaderLabels]="customHeaderLabels()"
      [headerTooltips]="localizationStrategyHeaderTooltips()"
    >
      <ng-template
        #itemTemplate
        let-itemControl
        let-index="index"
      >
        <!-- Service Name -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <input
            type="text"
            pInputText
            fluid
            [appHidePlaceholderWhenDisabledEmpty]="''"
            class="bg-gray-100 text-gray-500"
            [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
            [appConditionalColorClass]="highlightInput('serviceName' , itemControl.get('rowId')?.value)"
            [color]="selectedInputColor()"
          />
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
            [label]="'plans.form.serviceName' | translate"
          />
        </td>

        <!-- Expected Localization Date -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'localizationStrategy',
              inputKey: 'expectedLocalizationDate',
              label: 'plans.form.expectedLocalizationDate'
            }, itemControl.get('rowId')?.value)"
          >
            <p-select
              [options]="planFormService.getAvailableQuarters(5)"
              optionLabel="name"
              optionValue="id"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
              [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.selectQuarter' | translate"
              fluid
              [appendTo]="'body'"
              [appConditionalColorClass]="highlightInput('expectedLocalizationDate', itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
            [label]="'plans.form.expectedLocalizationDate' | translate"
          />
        </td>

        <!-- Localization Approach -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.localizationApproach))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'localizationApproach',
                label: 'plans.form.localizationApproach'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="localizationApproachOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproach))"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.selectLocalizationApproach' | translate"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('localizationApproach', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isLocalizationApproachOther(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'localizationApproachOtherDetails',
                label: 'plans.form.otherLocalizationApproachDetails'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="255"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.pleaseSpecifyOtherApproach' | translate"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails))"
                [appConditionalColorClass]="highlightInput('localizationApproachOtherDetails', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              @if (!getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails)).disabled) {
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails)).value?.length || 0 }} / 255
              </div>
              }
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproach))"
            [label]="'plans.form.localizationApproach' | translate"
          />
          @if (isLocalizationApproachOther(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails))"
            [label]="'plans.form.otherLocalizationApproachDetails' | translate"
          />
          }
        </td>

        <!-- Location -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.location))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'location',
                label: 'plans.form.location'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="locationOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.location))"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.enterLocation' | translate"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('location', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isLocationOther(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.locationOtherDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'locationOtherDetails',
                label: 'plans.form.otherLocationDetails'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="255"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.kindlyProvideDetails' | translate"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.locationOtherDetails))"
                [appConditionalColorClass]="highlightInput('locationOtherDetails', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.locationOtherDetails)).value?.length || 0 }} / 255
              </div>
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.location))"
            [label]="'plans.form.location' | translate"
          />
          @if (isLocationOther(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.locationOtherDetails))"
            [label]="'plans.form.otherLocationDetails' | translate"
          />
          }
        </td>

        <!-- CAPEX Required -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.capexRequired))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'localizationStrategy',
              inputKey: 'capexRequired',
              label: 'plans.form.capexRequiredSar'
            }, itemControl.get('rowId')?.value)"
          >
            <p-inputnumber
              fluid
              [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.enterCapexAmount' | translate"
              [min]="0"
              mode="decimal"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.capexRequired))"
              [appConditionalColorClass]="highlightInput('capexRequired', itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.capexRequired))"
            [label]="'plans.form.capexRequiredSar' | translate"
          />
        </td>

        <!-- Supervision / Oversight by Government Entity -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'localizationStrategy',
              inputKey: 'supervisionOversightByGovernmentEntity',
              label: 'plans.form.supervisionOversightByGovernmentEntity'
            }, itemControl.get('rowId')?.value)"
          >
            <textarea
              pTextarea
              fluid
              rows="3"
              [maxlength]="255"
              [appHidePlaceholderWhenDisabledEmpty]="'E.g., MoEn, PIF, etc.'"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity))"
              [appConditionalColorClass]="highlightInput('supervisionOversightByGovernmentEntity', itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            ></textarea>
            @if (!getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity)).disabled) {
            <div class="text-xs text-gray-500 text-right mt-1">
              {{ getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity)).value?.length || 0 }} / 255
            </div>
            }
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity))"
            [label]="'plans.form.supervisionOversightByGovernmentEntity' | translate"
          />
        </td>

        <!-- Will be any Proprietary Tools / Systems -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.willBeAnyProprietaryToolsSystems))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'willBeAnyProprietaryToolsSystems',
                label: 'plans.form.proprietaryToolsSystems'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="yesNoOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.willBeAnyProprietaryToolsSystems))"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.select' | translate"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('willBeAnyProprietaryToolsSystems', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isProprietaryToolsYes(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'proprietaryToolsSystemsDetails',
                label: 'plans.form.proprietaryToolsDetails'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="255"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.pleaseProvideProprietaryDetails' | translate"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails))"
                [appConditionalColorClass]="highlightInput('proprietaryToolsSystemsDetails', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              @if (!getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails)).disabled) {
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails)).value?.length || 0 }} / 255
              </div>
              }
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.willBeAnyProprietaryToolsSystems))"
            [label]="'plans.form.proprietaryToolsSystems' | translate"
          />
          @if (isProprietaryToolsYes(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails))"
            [label]="'plans.form.proprietaryToolsDetails' | translate"
          />
          }
        </td>
      </ng-template>
    </app-form-array-input>
  </div>

  <!-- Entity Level Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">{{ 'plans.form.entityLevelTitle' | translate }}</h2>
    <p>{{ 'plans.form.entityLevelDescription' | translate }}</p>
    <div class="data-table bg-white">
      <p-table
        [value]="entityLevelTableRows()"
        [scrollable]="true"
        scrollHeight="flex"
      >
        <ng-template pTemplate="header">
          <tr class="bg-primary text-white p-3 border border-gray-200">
            <td class="p-3 border-e-2 border-gray-200 !border-t-0 !border-s-0">{{ 'plans.form.metrics' | translate }}</td>
            <td
              class="p-3 !border-t-0 !border-e-0 !border-b-0"
              colspan="20"
            >
              {{ 'plans.form.yearsRange' | translate:{ start: yearColumns()[0], end: yearColumns()[5] } }}
            </td>
          </tr>
          <tr>
            <th
              class="p-3 !border !border-gray-200 text-left !bg-gray-50 font-semibold text-gray-700! min-w-[250px] "
              pFrozenColumn
            >
              <span>{{ 'plans.form.category' | translate }}</span>
            </th>
            @for(year of yearColumns(); track year) {
            <th class="p-3 !border !border-gray-200 text-left !bg-gray-50 font-semibold text-gray-700! min-w-[200px]">
              <span>{{ year }}</span>
            </th>
            }
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-row
        >
          <tr>
            <td
              class="p-3 !border !border-gray-200 font-medium text-gray-700 !bg-gray-50 z-100000!"
              pFrozenColumn
            >
              <span>{{ row.label }}</span>
            </td>
            @for(yearKey of yearControlKeys; track yearKey; let i = $index) {
            <td class="p-3 !border !border-gray-200">
              @let controlKey = yearKey + '_' + row.controlKey;
              @let uniqueInputKey = controlKey;
              <app-group-input-with-checkbox
                [showCheckbox]="showCheckbox()"
                [hasCommentControl]="getHasCommentControl(getEntityLevelItem().get(controlKey))"
                (valueChanged)="upDateSelectedInputs($event, {
                  section: 'entityLevel',
                  inputKey: uniqueInputKey,
                  label: row.labelKey + ' - ' + yearColumns()[i]
                }, getEntityLevelItem().get('rowId')?.value)"
              >
                <p-inputnumber
                  fluid
                  [appHidePlaceholderWhenDisabledEmpty]="row.placeholder"
                  [min]="0"
                  [mode]="row.mode ?? undefined"
                  [minFractionDigits]="row.minFractionDigits"
                  [maxFractionDigits]="row.maxFractionDigits"
                  [maxlength]="row.mode === 'decimal' ? 5 : null"
                  [formControl]="getEntityLevelValueControl(controlKey)"
                  [appConditionalColorClass]="highlightInput(uniqueInputKey, getEntityLevelItem().get('rowId')?.value)"
                  [color]="selectedInputColor()"
                />
              </app-group-input-with-checkbox>
              <app-base-error-messages
                [control]="getEntityLevelValueControl(controlKey)"
                [label]="row.label + ' ' + yearColumns()[i]"
              />
            </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Service Level Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">{{ 'plans.form.serviceLevel' | translate }}</h2>
    <p>{{ 'plans.form.entityLevelServiceDescription' | translate }}</p>
    <div class="rounded-lg overflow-hidden">
      <!-- todo add (in sar) to customTextBesideHeaders -->
      <app-form-array-input
        [ft]="getServiceLevelFormArray()"
        [hideAddButton]="true"
        [hideDeleteButton]="true"
        [excludeKeys]="excludeKeysFromServiceLevelFormArray()"
        [customHeaderLabels]="customHeadersLabels()"
        [groupHeader]="serviceLevelGroupHeader()"
        [scrollHeight]="'600px'"
        [headerTooltips]="{'keyMeasuresToUpskillSaudis':'What key measures / plans will you execute to upskill Saudis and hire the relevant Saudi talent to deliver the service?', 'willBeAnyProprietaryToolsSystems':'mention if any proprietary tools / platforms / systems etc. will be transferred locally as part of localizing the service? If yes, provide details'}"
        [customTextBesideHeaders]="{'mentionSupportRequiredFromSEC':' (if any) '}"
      >
        <ng-template
          #itemTemplate
          let-itemControl
          let-index="index"
        >
          <!-- Service Name -->
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <input
              type="text"
              pInputText
              fluid
              readonly
              [appHidePlaceholderWhenDisabledEmpty]="''"
              class="bg-gray-100 text-gray-500"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
              [appConditionalColorClass]="highlightInput('serviceName', itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
              [label]="'plans.form.serviceName' | translate"
            />
          </td>

          <!-- Expected Localization Date (Service Level - uses serviceLevelLocalizationDate, sent as LocalizationDate) -->
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.serviceLevelLocalizationDate))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'serviceLevelLocalizationDate',
                label: 'plans.form.serviceLevelLocalizationDate'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="planFormService.getAvailableQuarters(5)"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceLevelLocalizationDate))"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.selectQuarter' | translate"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('serviceLevelLocalizationDate', itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceLevelLocalizationDate))"
              [label]="'plans.form.serviceLevelLocalizationDate' | translate"
            />
          </td>

          <!-- Year Columns (Expected Annual Headcount) -->
          @for (yearKey of yearControlKeys; track yearKey; let i = $index) {
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(yearKey + '_headcount'))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: yearKey + '_headcount',
                label: 'plans.form.headcountYear - ' + yearColumns()[i]
              }, itemControl.get('serviceHeadcountRowId')?.value)"
            >
              <p-inputnumber
                fluid
                [min]="0"
                inputId="integeronly"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.enterHeadcount' | translate"
                [formControl]="getValueControl(itemControl.get(yearKey + '_headcount'))"
                [appConditionalColorClass]="highlightInput(yearKey + '_headcount', itemControl.get('serviceHeadcountRowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(yearKey + '_headcount'))"
              [label]="getTranslatedLabel('plans.form.headcountYear', yearColumns()[i])"
            />
          </td>
          }

          <!-- Year Columns (Saudization %) -->
          @for (yearKey of yearControlKeys; track yearKey; let i = $index) {
          <td class="p-3 border border-gray-200 min-w-[150px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(yearKey + '_saudization'))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: yearKey + '_saudization',
                label: 'plans.form.saudizationPercentYear - ' + yearColumns()[i]
              }, itemControl.get('serviceHeadcountRowId')?.value)"
            >
              <p-inputnumber
                fluid
                [min]="0"
                mode="decimal"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.enterPercent' | translate"
                [maxFractionDigits]="2"
                [maxlength]="5"
                [formControl]="getValueControl(itemControl.get(yearKey + '_saudization'))"
                [appConditionalColorClass]="highlightInput(yearKey + '_saudization', itemControl.get('serviceHeadcountRowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(yearKey + '_saudization'))"
              [label]="getTranslatedLabel('plans.form.saudizationPercentYear', yearColumns()[i])"
            />
          </td>
          }

          <!-- Key Measures to Upskill Saudis -->
          <td class="p-3 border border-gray-200 min-w-[400px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'keyMeasuresToUpskillSaudis',
                label: 'plans.form.keyMeasuresToUpskillSaudis'
              }, itemControl.get('serviceHeadcountRowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="255"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.enterKeyMeasuresUpskill' | translate"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
                [appConditionalColorClass]="highlightInput('keyMeasuresToUpskillSaudis', itemControl.get('serviceHeadcountRowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              @if (!getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis)).disabled) {
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis)).value?.length || 0 }} / 255
              </div>
              }
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
              [label]="'plans.form.keyMeasuresToUpskillSaudis' | translate"
            />
          </td>

          <!-- Support Required from SEC -->
          <td class="p-3 border border-gray-200 min-w-[400px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'mentionSupportRequiredFromSEC',
                label: 'plans.form.supportRequiredFromSEC'
              }, itemControl.get('serviceHeadcountRowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="500"
                [appHidePlaceholderWhenDisabledEmpty]="'plans.form.placeholders.mentionSupportRequired' | translate"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
                [appConditionalColorClass]="highlightInput('mentionSupportRequiredFromSEC', itemControl.get('serviceHeadcountRowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              @if (!getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC)).disabled) {
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC)).value?.length || 0 }} / 500
              </div>
              }
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
              [label]="'plans.form.supportRequiredFromSEC' | translate"
            />
          </td>
        </ng-template>
      </app-form-array-input>
    </div>
  </div>

  <app-comment-input
    [commentFormControl]="commentFormControl"
    [commentPhase]="commentPhase()"
  />

  @if(showCheckbox() || (showCommentState() && (!isResubmitMode() || pageComments().length > 0))){
  <app-comment-state-component
    [commentsCount]="selectedInputs().length"
    [(commentPhase)]="commentPhase"
    [commentFormControl]="commentFormControl"
    [incomingCommentText]="incomingCommentText()"
    [isResubmitMode]="isResubmitMode()"
    [hasInvestorComment]="hasInvestorComment()"
    (deleteComments)="onDeleteComments()"
    (saveComment)="commentPhase() === 'editing' ? onSaveEditedComment() : onSaveComment($event)"
    (startEditing)="onStartEditing()"
  />
  }

  @if(showDeleteConfirmationDialog()){
  <app-general-confirmation-dialog
    [(visible)]="showDeleteConfirmationDialog"
    [title]="(isInvestorPersona() ? 'plans.wizard.comments.deleteCommentTitle' : 'plans.wizard.comments.deleteCommentAndFieldsTitle') | translate"
    [confirmationLabel]="'common.delete' | translate"
    [cancelLabel]="'common.cancel' | translate"
    [confirmButtonSeverity]="'danger'"
    [icon]="'icon-trash-2'"
    (confirmed)="onConfirmDeleteComment()"
    (onCancel)="onCancelDeleteComment()"
  />
  }
</div>