<div class="flex flex-col gap-[32px] pb-10">
  <!-- Localization Strategy Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Localization Strategy</h2>
    <app-form-array-input
      [ft]="getLocalizationStrategyFormArray()"
      [hideAddButton]="true"
      [hideDeleteButton]="true"
      [createNewItem]="createLocalizationStrategyItem"
      [scrollHeight]="'600px'"
      [excludeKeys]="['serviceId', 'serviceHeadcountRowId','serviceLevelLocalizationDate', 'localizationApproachOtherDetails', 'locationOtherDetails', 'proprietaryToolsSystemsDetails', 'firstYear_headcount', 'firstYear_saudization', 'secondYear_headcount', 'secondYear_saudization', 'thirdYear_headcount', 'thirdYear_saudization', 'fourthYear_headcount', 'fourthYear_saudization', 'fifthYear_headcount', 'fifthYear_saudization', 'keyMeasuresToUpskillSaudis', 'mentionSupportRequiredFromSEC']"
      [customHeaderLabels]="{'locationType': 'Location'}"
      [headerTooltips]="localizationStrategyHeaderTooltips()"
    >
      <ng-template
        #itemTemplate
        let-itemControl
        let-index="index"
      >
        <!-- Service Name -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <input
            type="text"
            pInputText
            fluid
            placeholder=""
            class="bg-gray-100 text-gray-500"
            [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
            [appConditionalColorClass]="highlightInput('serviceName_' + index, itemControl.get('rowId')?.value)"
            [color]="selectedInputColor()"
          />
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
            [label]="'Service Name'"
          />
        </td>

        <!-- Expected Localization Date -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'localizationStrategy',
              inputKey: 'expectedLocalizationDate_' + index,
              label: 'Expected Localization Date'
            }, itemControl.get('rowId')?.value)"
          >
            <p-select
              [options]="planFormService.getAvailableQuarters(5)"
              optionLabel="name"
              optionValue="id"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
              placeholder="Select quarter"
              fluid
              [appendTo]="'body'"
              [appConditionalColorClass]="highlightInput('expectedLocalizationDate_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
            [label]="'Expected Localization Date'"
          />
        </td>

        <!-- Localization Approach -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.localizationApproach))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'localizationApproach_' + index,
                label: 'Localization Approach'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="localizationApproachOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproach))"
                placeholder="Select localization approach"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('localizationApproach_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isLocalizationApproachOther(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'localizationApproachOtherDetails_' + index,
                label: 'Other Localization Approach Details'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="250"
                placeholder="Please specify other localization approach"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails))"
                [appConditionalColorClass]="highlightInput('localizationApproachOtherDetails_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails)).value?.length || 0 }} / 250
              </div>
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproach))"
            [label]="'Localization Approach'"
          />
          @if (isLocalizationApproachOther(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.localizationApproachOtherDetails))"
            [label]="'Other Localization Approach Details'"
          />
          }
        </td>

        <!-- Location -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.location))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'location_' + index,
                label: 'Location'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="locationOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.location))"
                placeholder="Enter location"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('location_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isLocationOther(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.locationOtherDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'locationOtherDetails_' + index,
                label: 'Other Location Details'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="255"
                placeholder="Kindly provide details"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.locationOtherDetails))"
                [appConditionalColorClass]="highlightInput('locationOtherDetails_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.locationOtherDetails)).value?.length || 0 }} / 255
              </div>
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.location))"
            [label]="'Location'"
          />
          @if (isLocationOther(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.locationOtherDetails))"
            [label]="'Other Location Details'"
          />
          }
        </td>

        <!-- CAPEX Required -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.capexRequired))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'localizationStrategy',
              inputKey: 'capexRequired_' + index,
              label: 'CAPEX Required (In SAR)'
            }, itemControl.get('rowId')?.value)"
          >
            <p-inputnumber
              fluid
              placeholder="Enter CAPEX amount"
              [min]="0"
              mode="decimal"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.capexRequired))"
              [appConditionalColorClass]="highlightInput('capexRequired_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.capexRequired))"
            [label]="'CAPEX Required'"
          />
        </td>

        <!-- Supervision / Oversight by Government Entity -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'localizationStrategy',
              inputKey: 'supervisionOversightByGovernmentEntity' + index,
              label: 'Supervision / Oversight by government entity'
            }, itemControl.get('rowId')?.value)"
          >
            <textarea
              pTextarea
              fluid
              rows="3"
              [maxlength]="255"
              placeholder="E.g., MoEn, PIF, etc."
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity))"
              [appConditionalColorClass]="highlightInput('supervisionOversightByGovernmentEntity' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            ></textarea>
            <div class="text-xs text-gray-500 text-right mt-1">
              {{ getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity)).value?.length || 0 }} / 255
            </div>
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightByGovernmentEntity))"
            [label]="'Supervision / Oversight by government entity'"
          />
        </td>

        <!-- Will be any Proprietary Tools / Systems -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.willBeAnyProprietaryToolsSystems))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'willBeAnyProprietaryToolsSystems_' + index,
                label: 'Proprietary Tools / Systems'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="yesNoOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.willBeAnyProprietaryToolsSystems))"
                placeholder="Select"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('willBeAnyProprietaryToolsSystems_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isProprietaryToolsYes(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'localizationStrategy',
                inputKey: 'proprietaryToolsSystemsDetails_' + index,
                label: 'Proprietary Tools Details'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="255"
                placeholder="Please provide details about the proprietary tools/systems"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails))"
                [appConditionalColorClass]="highlightInput('proprietaryToolsSystemsDetails_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails)).value?.length || 0 }} / 255
              </div>
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.willBeAnyProprietaryToolsSystems))"
            [label]="'Proprietary Tools / Systems'"
          />
          @if (isProprietaryToolsYes(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.proprietaryToolsSystemsDetails))"
            [label]="'Proprietary Tools Details'"
          />
          }
        </td>
      </ng-template>
    </app-form-array-input>
  </div>

  <!-- Entity Level Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Entity Level (i.e., local company responsible for delivering the services)</h2>
    <p>Details to be provided for the KSA facility only considering only the workforce / employees directly responsible for delivering all the services you intend to localize by setting up local entity / branch / other</p>
    <div class="data-table bg-white border border-gray-200 rounded-xl table-with-caption">
      <p-table
        [value]="entityLevelTableRows()"
        [scrollable]="true"
        scrollHeight="flex"
        class="rounded-xl"
      >
        <ng-template pTemplate="caption">
          <div class="bg-primary text-white p-3 border border-gray-200 rounded-t-xl">
            <div class="flex justify-between items-center">
              <span class="font-normal">Metrics</span>
              <span class="font-normal">Years ({{ yearColumns()[0] }}-{{ yearColumns()[4] }})</span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th
              class="p-3 !border !border-gray-200 text-left !bg-gray-50 font-semibold text-gray-700! min-w-[250px] z-100000!"
              pFrozenColumn
            >
              <span>Category</span>
            </th>
            @for(year of yearColumns(); track year) {
            <th class="p-3 !border !border-gray-200 text-left !bg-gray-50 font-semibold text-gray-700! min-w-[200px]">
              <span>{{ year }}</span>
            </th>
            }
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-row
        >
          <tr>
            <td
              class="p-3 !border !border-gray-200 font-medium text-gray-700 !bg-gray-50 z-100000!"
              pFrozenColumn
            >
              <span>{{ row.label }}</span>
            </td>
            @for(yearKey of yearControlKeys; track yearKey; let i = $index) {
            <td class="p-3 !border !border-gray-200">
              @let controlKey = yearKey + '_' + row.controlKey;
              @let uniqueInputKey = 'entityLevel_' + controlKey;
              <app-group-input-with-checkbox
                [showCheckbox]="showCheckbox()"
                [hasCommentControl]="getHasCommentControl(getEntityLevelItem().get(controlKey))"
                (valueChanged)="upDateSelectedInputs($event, {
                  section: 'entityLevel',
                  inputKey: uniqueInputKey,
                  label: row.label + ' - ' + yearColumns()[i]
                })"
              >
                <p-inputnumber
                  fluid
                  [placeholder]="row.placeholder"
                  [min]="0"
                  [mode]="row.mode ?? undefined"
                  [minFractionDigits]="row.minFractionDigits"
                  [maxFractionDigits]="row.maxFractionDigits"
                  [maxlength]="row.mode === 'decimal' ? 5 : null"
                  [formControl]="getEntityLevelValueControl(controlKey)"
                  [appConditionalColorClass]="highlightInput(uniqueInputKey)"
                  [color]="selectedInputColor()"
                />
              </app-group-input-with-checkbox>
              <app-base-error-messages
                [control]="getEntityLevelValueControl(controlKey)"
                [label]="row.label + ' ' + yearColumns()[i]"
              />
            </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Service Level Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Service Level</h2>
    <p>Details to be provided for the KSA based facility responsible for delivering all services. Provide details separately for each service you intend to localize</p>
    <div class="rounded-lg overflow-hidden">
      <app-form-array-input
        [ft]="getServiceLevelFormArray()"
        [hideAddButton]="true"
        [hideDeleteButton]="true"
        [excludeKeys]="['serviceId', 'serviceHeadcountRowId', 'expectedLocalizationDate', 'localizationApproach', 'localizationApproachOtherDetails', 'locationType', 'locationOtherDetails', 'capexRequired', 'supervisionOversightByGovernmentEntity', 'willBeAnyProprietaryToolsSystems', 'proprietaryToolsSystemsDetails']"
        [customHeaderLabels]="customHeadersLabels()"
        [groupHeader]="serviceLevelGroupHeader()"
        [scrollHeight]="'600px'"
        [headerTooltips]="{'keyMeasuresToUpskillSaudis':'What key measures / plans will you execute to upskill Saudis and hire the relevant Saudi talent to deliver the service?', 'willBeAnyProprietaryToolsSystems':'mention if any proprietary tools / platforms / systems etc. will be transferred locally as part of localizing the service? If yes, provide details'}"
        [customTextBesideHeaders]="{'mentionSupportRequiredFromSEC':' (if any) '}"
      >
        <ng-template
          #itemTemplate
          let-itemControl
          let-index="index"
        >
          <!-- Service Name -->
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <input
              type="text"
              pInputText
              fluid
              readonly
              placeholder=""
              class="bg-gray-100 text-gray-500"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
              [appConditionalColorClass]="highlightInput('serviceName_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
              [label]="'Service Name'"
            />
          </td>

          <!-- Expected Localization Date (Service Level - uses serviceLevelLocalizationDate, sent as LocalizationDate) -->
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.serviceLevelLocalizationDate))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'serviceLevelLocalizationDate_' + index,
                label: 'Expected Localization Date'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="planFormService.getAvailableQuarters(5)"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceLevelLocalizationDate))"
                placeholder="Select quarter"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('serviceLevelLocalizationDate_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceLevelLocalizationDate))"
              [label]="'Expected Localization Date'"
            />
          </td>

          <!-- Year Columns (Expected Annual Headcount) -->
          @for (yearKey of yearControlKeys; track yearKey; let i = $index) {
          <td class="p-3 border border-gray-200 min-w-[150px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(yearKey + '_headcount'))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: yearKey + '_headcount_' + index,
                label: 'Headcount ' + yearColumns()[i]
              }, itemControl.get('rowId')?.value)"
            >
              <p-inputnumber
                fluid
                [min]="0"
                inputId="integeronly"
                placeholder="Enter headcount"
                [formControl]="getValueControl(itemControl.get(yearKey + '_headcount'))"
                [appConditionalColorClass]="highlightInput(yearKey + '_headcount_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(yearKey + '_headcount'))"
              [label]="'Headcount ' + yearColumns()[i]"
            />
          </td>
          }

          <!-- Year Columns (Saudization %) -->
          @for (yearKey of yearControlKeys; track yearKey; let i = $index) {
          <td class="p-3 border border-gray-200 min-w-[150px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(yearKey + '_saudization'))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: yearKey + '_saudization_' + index,
                label: 'Saudization % ' + yearColumns()[i]
              }, itemControl.get('rowId')?.value)"
            >
              <p-inputnumber
                fluid
                [min]="0"
                [max]="100"
                mode="decimal"
                placeholder="Enter %"
                [maxFractionDigits]="2"
                [maxlength]="5"
                [formControl]="getValueControl(itemControl.get(yearKey + '_saudization'))"
                [appConditionalColorClass]="highlightInput(yearKey + '_saudization_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(yearKey + '_saudization'))"
              [label]="'Saudization % ' + yearColumns()[i]"
            />
          </td>
          }

          <!-- Key Measures to Upskill Saudis -->
          <td class="p-3 border border-gray-200 min-w-[400px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'keyMeasuresToUpskillSaudis_' + index,
                label: 'Key Measures to Upskill Saudis'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                placeholder="Enter key measures to upskill saudis"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
                [appConditionalColorClass]="highlightInput('keyMeasuresToUpskillSaudis_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
              [label]="'Key Measures to Upskill Saudis'"
            />
          </td>

          <!-- Support Required from SEC -->
          <td class="p-3 border border-gray-200 min-w-[400px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'mentionSupportRequiredFromSEC_' + index,
                label: 'Support Required from SEC'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="500"
                placeholder="Mention Support required from SEC to localize the service (if any)"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
                [appConditionalColorClass]="highlightInput('mentionSupportRequiredFromSEC_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC)).value?.length || 0 }} / 500
              </div>
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
              [label]="'Support Required from SEC'"
            />
          </td>
        </ng-template>
      </app-form-array-input>
    </div>
  </div>

  <app-comment-input
    [commentFormControl]="stepCommentFormControl"
    [commentPhase]="commentPhase()"
  />

  @if(showCheckbox() || showCommentState()){
  <app-comment-state-component
    [commentsCount]="selectedInputs().length"
    [(commentPhase)]="commentPhase"
    [commentFormControl]="commentFormControl"
    [isResubmitMode]="isResubmitMode()"
    [hasInvestorComment]="hasInvestorComment()"
    (deleteComments)="onDeleteComments()"
    (saveComment)="commentPhase() === 'editing' ? onSaveEditedComment() : onSaveComment()"
    (startEditing)="onStartEditing()"
  />
  }

  @if(showDeleteConfirmationDialog()){
  <app-general-confirmation-dialog
    [(visible)]="showDeleteConfirmationDialog"
    [title]="'Are you sure you want to delete the comment and selected fields?'"
    [confirmationLabel]="'Delete'"
    [cancelLabel]="'Cancel'"
    [confirmButtonSeverity]="'danger'"
    [icon]="'icon-trash-2'"
    (confirmed)="onConfirmDeleteComment()"
    (onCancel)="onCancelDeleteComment()"
  />
  }
</div>