<div class="flex items-center w-full">
  <p-avatar
    [image]="userAvatar() || 'assets/images/user_placeholder.png'"
    class="mr-[12px] {{avatarClass()}}"
    shape="circle"
    size="large"
  />
  <span
    class="flex flex-col"
    [style]="{
    'width':'calc(100% - 50px)'
  }"
  >
    <span class="
    {{titleClass()}}
    truncate">{{userName()}}</span>
    @if(userTitle()){
    <span class="{{subTitleClass()}} truncate max-w-[300px]">{{userTitle()}}</span>
    }

    @if(userDepartment()){
    <span class="{{departmentClass()}} truncate max-w-[300px]">{{userDepartment()}}</span>
    }

    @if(userRole()){
    <span class="{{roleClass()}} truncate max-w-[300px]">{{userRole()}}</span>
    }
  </span>

</div>