<div class="px-8 flex flex-col gap-8 pb-10">
  <!-- Basic Information -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Basic Information</h3>
    <div class="flex flex-col gap-4">
      <!-- Title -->
      <div class="flex flex-col">
        <app-base-label [title]="'Opportunity Title'">
        </app-base-label>
        <input
          type="text"
          pInputText
          placeholder="Enter opportunity title"
          [formControl]="getControl('title')"
        />
        @if(getControl('title').invalid && getControl('title').dirty){
        <div class="mt-2">
          @if(getControl('title').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Opportunity title is required
          </p-message>
          }
          @if(getControl('title').hasError('maxlength')){
          <p-message
            severity="error"
            size="small"
          >
            Maximum length exceeded
          </p-message>
          }
        </div>
        }
      </div>
      <!-- Short Description -->
      <div class="flex flex-col">
        <app-base-label [title]="'Short Description'" />
        <textarea
          pTextarea
          [rows]="4"
          placeholder="Enter short description"
          [formControl]="getControl('shortDescription')"
        >
        </textarea>
        @if(getControl('shortDescription').invalid && getControl('shortDescription').dirty){
        <div class="mt-2">
          @if(getControl('shortDescription').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Short description is required
          </p-message>
          }
          @if(getControl('shortDescription').hasError('maxlength')){
          <p-message
            severity="error"
            size="small"
          >
            Maximum length exceeded
          </p-message>
          }
        </div>
        }
      </div>

      <!-- Opportunity Category -->
      <div class="flex flex-col">
        <app-base-label [title]="'Opportunity Category'" />
        <p-select
          [formControl]="getControl('opportunityCategory')"
          [options]="opportunityCategories()"
          optionLabel="name"
          optionValue="id"
          placeholder="Select"
          class="md:w-[50%]"
        />
        @if(getControl('opportunityCategory').invalid && getControl('opportunityCategory').dirty){
        <div class="mt-2">
          @if(getControl('opportunityCategory').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Opportunity category is required
          </p-message>
          }
        </div>
        }
      </div>

      <!-- Opportunity Type -->
      <div class="flex flex-col">
        <app-base-label [title]="'Opportunity Type'" />
        <p-select
          [formControl]="getControl('opportunityType')"
          [options]="opportunityTypes()"
          optionLabel="name"
          optionValue="id"
          placeholder="Select"
          class="md:w-[50%]"
        />
        @if(getControl('opportunityType').invalid && getControl('opportunityType').dirty){
        <div class="mt-2">
          @if(getControl('opportunityType').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Opportunity type is required
          </p-message>
          }
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Forecasted SEC Demand (2024–2030) -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Forecasted SEC Demand (2024–2030)</h3>
    <div class="flex flex-col gap-4">
      <!-- Min Quantity -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <div class="flex flex-col">
          <app-base-label [title]="'Spend (SAR)'" />
          <input
            type="text"
            pInputText
            placeholder="Enter spend (SAR)"
            [formControl]="getControl('spendSAR')"
          />
          @if(getControl('spendSAR').invalid && getControl('spendSAR').dirty){
          <div class="mt-2">
            @if(getControl('spendSAR').hasError('required')){
            <p-message
              severity="error"
              size="small"
            >
              Spend (SAR) is required
            </p-message>
            }
          </div>
          }
        </div>
        <div>
          <app-base-label [title]="'Quantity (Units)'" />
          <div class="flex gap-2">
            <div>
              <input
                type="number"
                pInputText
                placeholder="Enter min quantity"
                [formControl]="getControl('minQuantity')"
              />
              @if(getControl('minQuantity').invalid && getControl('minQuantity').dirty){
              <div class="mt-2">
                @if(getControl('minQuantity').hasError('required')){
                <p-message
                  severity="error"
                  size="small"
                >
                  Min quantity is required
                </p-message>
                }
                @if(getControl('minQuantity').hasError('minQuantityError')){
                <p-message
                  severity="error"
                  size="small"
                >
                  Min quantity must be less than max quantity
                </p-message>
                }
              </div>
              }
            </div>
            <span class="text-gray-700 text-xl font-semibold pt-1"> - </span>
            <div>
              <input
                type="number"
                pInputText
                placeholder="Enter max quantity"
                [formControl]="getControl('maxQuantity')"
              />
              @if(getControl('maxQuantity').invalid && getControl('maxQuantity').dirty){
              <div class="mt-2">
                @if(getControl('maxQuantity').hasError('required')){
                <p-message
                  severity="error"
                  size="small"
                >
                  Max quantity is required
                </p-message>
                }
                @if(getControl('maxQuantity').hasError('maxQuantityError')){
                <p-message
                  severity="error"
                  size="small"
                >
                  Max quantity must be greater than min quantity
                </p-message>
                }
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Suppliers Base -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Supplier Base</h3>
    <div class="flex flex-col gap-4">
      <!-- Min Quantity -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <div class="flex flex-col">
          <app-base-label [title]="'Local Suppliers'" />
          <input
            type="number"
            pInputText
            placeholder="Enter Local Suppliers number"
            [formControl]="getControl('localSuppliers')"
          />
          @if(getControl('localSuppliers').invalid && getControl('localSuppliers').dirty){
          <div class="mt-2">
            @if(getControl('localSuppliers').hasError('required')){
            <p-message
              severity="error"
              size="small"
            >
              Local suppliers is required
            </p-message>
            }
          </div>
          }
        </div>
        <div class="flex flex-col">
          <app-base-label [title]="'Global Suppliers'" />
          <input
            type="number"
            pInputText
            placeholder="Enter Global Suppliers number"
            [formControl]="getControl('globalSuppliers')"
          />
          @if(getControl('globalSuppliers').invalid && getControl('globalSuppliers').dirty){
          <div class="mt-2">
            @if(getControl('globalSuppliers').hasError('required')){
            <p-message
              severity="error"
              size="small"
            >
              Global suppliers is required
            </p-message>
            }
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- Opportunity Dates -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Opportunity Dates</h3>
    <div class="flex flex-col gap-4">
      <!-- Date Range -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Date Range'" />
        <p-datepicker
          [showIcon]="true"
          [showTime]="false"
          [ngModel]="opportunityInformationForm.get('dateRange')?.value"
          (ngModelChange)="onDateRangeChange($event)"
          [selectionMode]="'range'"
          placeholder="Select date range"
          [dateFormat]="'dd M yy'"
          class="w-full md:w-[50%]"
          [invalid]="opportunityInformationForm.get('dateRange')?.invalid && opportunityInformationForm.get('dateRange')?.dirty"
          fluid
        />
        @if(getControl('dateRange').invalid && getControl('dateRange').dirty){
        <div class="mt-2">
          @if(getControl('dateRange').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Date range is required
          </p-message>
          }
          @if(getControl('dateRange').hasError('invalidRange')){
          <p-message
            severity="error"
            size="small"
          >
            You should select a date range
          </p-message>
          }
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Opportunity Image -->
  <div>
    <h3 class="text-lg font-semibold mb-4">Opportunity Image</h3>
    <div class="flex flex-col gap-4">
      <!-- Image -->
      <div class="flex flex-col gap-2">
        <app-base-label [title]="'Image'" />
        <app-fileupload
          [acceptedFileTypes]="'.jpg, .jpeg, .png'"
          [files]="files()"
          [placeholder]="placeholder"
          #fileupload
          (filesChange)="onFilesChanged($event)"
          [class.p-invalid]="getControl('image').invalid && getControl('image').dirty"
        />
        @if(getControl('image').invalid && getControl('image').dirty){
        <div class="mt-2">
          @if(getControl('image').hasError('required')){
          <p-message
            severity="error"
            size="small"
          >
            Image is required
          </p-message>
          }
        </div>
        }
      </div>
    </div>
  </div>
</div>