<app-personal-information-card
  [sectionTitle]="'profile.signatureLabel' | translate"
  [sectionDescription]="'profile.signatureUpdateDesc' | translate"
  [hideFooter]="true"
>
  @if(isViewMode() && !existingSignature()){
  <div class="flex flex-col justify-center items-center gap-6">
    <div class="flex justify-center items-center">
      <p class="text-sm text-gray-500">{{ 'profile.signature.noSignature' | translate }}</p>
    </div>
    @if (!isImpersonated()) {
    <div class="flex gap-4">
      <p-button
        [label]="'profile.drawSignatureBtn' | translate"
        severity="secondary"
        icon="icon-edit-04"
        (onClick)="onAddSignatureClick()"
      />
      <p-button
        [label]="'profile.uploadSignatureBtn' | translate"
        severity="secondary"
        icon="icon-file-upload"
        (onClick)="onChangeSignatureClick()"
      />
    </div>
    }
  </div>
  }@else {
  <div class="flex justify-center items-center bg-gray-50 rounded-lg p-6 border border-gray-200 relative">
    @if(!isImpersonated()){
    <p-button
      [label]="'common.delete' | translate"
      icon="icon-trash-2"
      severity="danger"
      size="small"
      class="absolute top-2 right-2"
      text
      (onClick)="onDeleteSignatureClick()"
    />
    }
    <div
      class="md:max-w-[50%] cursor-pointer"
      (click)="signaturePreviewVisible.set(true)"
    >
      <img
        [src]="existingSignature()"
        alt="Signature"
        class="w-full rounded-lg object-contain"
      />
    </div>
    <p-dialog
      [visible]="signaturePreviewVisible()"
      (visibleChange)="signaturePreviewVisible.set($event)"
      [header]="'profile.yourSignature' | translate"
      [modal]="true"
      [closable]="true"
      [closeOnEscape]="true"
      [dismissableMask]="true"
      [style]="{ width: '60vw' }"
      [contentStyle]="{ 'background': 'white', 'padding': '0 1.5rem'}"
      styleClass="rounded-lg shadow-lg overflow-hidden"
    >
      <div class="flex justify-center items-center min-h-[200px] bg-white border-t border-gray-200">
        <img
          [src]="existingSignature()"
          alt="Signature"
          class="max-w-full max-h-[400px] object-contain"
        />
      </div>
    </p-dialog>
  </div>
  }
</app-personal-information-card>

@if(uploadSignatureModalVisible()){
<app-upload-signature-modal
  [isProcessing]="isSignatureProcessing()"
  [(visible)]="uploadSignatureModalVisible"
  (onSubmitSignature)="onSubmitSignature($event)"
/>
}
@if(drawSignatureModalVisible()){
<app-draw-signature-modal
  [isProcessing]="isSignatureProcessing()"
  [(visible)]="drawSignatureModalVisible"
  (onSubmitSignature)="onSubmitSignature($event)"
/>
}
<app-general-confirmation-dialog
  [(visible)]="deleteSignatureConfirmVisible"
  [title]="'Delete Signature'"
  [description]="'Are you sure you want to delete your signature?'"
  [confirmationLabel]="'Delete'"
  [icon]="'icon-trash-2'"
  [confirmButtonSeverity]="'danger'"
  [isLoading]="isSignatureProcessing()"
  (confirmed)="onConfirmDeleteSignature()"
/>