<div class="relative bg-[url('assets/images/company-building.jpg')] bg-cover bg-center h-full">
  <!-- overlay color with opacity -->
  <div class="absolute inset-0 bg-[#183874]/80"></div>

  <!-- bottom-aligned content -->
  <div class="absolute bottom-0 left-0 w-full text-white p-20 z-10">
    <img src="assets/images/logo.png" alt="logo" class="w-15">
    <div class="flex flex-col gap-4 mt-10">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold">Your gatway to investment and sustainable growth</h2>
      <p>Together we grow. BENA connects you to industrial and investment opportunities for Vision 2030.</p>
    </div>
  </div>
</div>