<div class="relative bg-[url('assets/images/company-building.png')] bg-cover bg-center h-full">
  <!-- overlay color with opacity -->
  <div class="flex justify-end items-center pt-[60px] pr-[35px] rtl:pl-[35px]">
    <app-language-switcher
      [styleClass]="'!bg-white'"
      class="relative z-10"
    />
  </div>

  <!-- bottom-aligned content -->
  <div class="absolute bottom-0 left-0 w-full text-white py-[80px] px-[60px]  z-10">
    <img
      src="assets/images/logo-white.svg"
      alt="logo"
      class="w-[150px]"
      appImageError
    >
    <div class="flex flex-col gap-4 mt-5">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold">{{ 'auth.gatewayTitle' | translate }}</h2>
      <p class="text-lg">{{ 'auth.gatewayDescription' | translate }}</p>
    </div>
  </div>
</div>