<app-base-dialog
  [(visible)]="visible"
  [showCloseButton]="true"
  [showConfirmButton]="true"
  [icon]="icon"
  [dialogTitle]="'profile.changeProfilePicture' | translate"
  [isConfirmationDisabled]="!allowSaveAction() || profilePictureProcessing()"
  [confirmButtonClass]="'w-[80px]'"
  [cancelButtonClass]="'w-[60px]'"
  [confirmLabel]="confirmLabel"
  [cancelLabel]="cancelLabel"
  (onConfirm)="onSaveUserPhoto()"
  (onClose)="onCloseClick()"
>
  <div class="flex flex-col gap-4 justify-center items-center min-w-[620px] py-10">
    <p-avatar
      [image]="previewImageUrl() ?? image()"
      shape="circle"
      class="border-3 border-primary !w-[220px] !h-[220px]"
    />
    <input
      #fileInput
      type="file"
      accept=".jpg,.png"
      class="hidden"
      (change)="onFileSelected($event)"
    />
    <div class="flex gap-4">
      <p-button
        [label]="'common.upload' | translate"
        severity="secondary"
        icon="icon-file-upload"
        text
        type="button"
        (onClick)="fileInput.click()"
      />
      @if (!isImageNotSelectedPlaceholder()) {
      <p-button
        [label]="'common.delete' | translate"
        severity="danger"
        icon="icon-trash-2"
        text
        (onClick)="onDeleteUserPhotoClick()"
      />
      }

    </div>
  </div>
</app-base-dialog>

<app-general-confirmation-dialog
  [(visible)]="deleteConfirmVisible"
  [title]="'profile.deleteConfirm.title' | translate"
  [description]="'profile.deleteConfirm.description' | translate"
  [confirmationLabel]="'common.delete' | translate"
  [icon]="'icon-trash-2'"
  [confirmButtonSeverity]="'danger'"
  (confirmed)="onConfirmDeleteUserPhoto()"
/>