<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <p-iconfield>
    <p-inputicon
      inputId="admin-opportunities-search"
      class="icon-search"
    />
    <input
      type="text"
      pInputText
      class="w-full"
      [placeholder]="'opportunity.filter.searchByOpportunityName' | translate"
      [(ngModel)]="filter().searchText"
      (ngModelChange)="searchSubject.next(filter().searchText?? '')"
    />
  </p-iconfield>

  <p-select
    [ngModel]="stateValue()"
    (ngModelChange)="onStateChange($event)"
    [options]="adminOpportunitiesStore.stateOptions()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'opportunity.filter.state' | translate"
    [showClear]="true"
  >
    <ng-template
      let-option
      pTemplate="item"
    >
      {{ option.name | translate }}
    </ng-template>
    <ng-template
      let-option
      pTemplate="selectedItem"
    >
      {{ option?.name | translate }}
    </ng-template>
  </p-select>

  <p-select
    [ngModel]="opportunityTypeValue()"
    (ngModelChange)="onOpportunityTypeChange($event)"
    [options]="adminOpportunitiesStore.opportunityTypeOptions()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'opportunity.filter.opportunityType' | translate"
    [showClear]="true"
  >
    <ng-template
      let-option
      pTemplate="item"
    >
      {{ option.name | translate }}
    </ng-template>
    <ng-template
      let-option
      pTemplate="selectedItem"
    >
      {{ option?.name | translate }}
    </ng-template>
  </p-select>

  <p-select
    [ngModel]="statusValue()"
    (ngModelChange)="onStatusChange($event)"
    [options]="adminOpportunitiesStore.statusOptions()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'opportunity.filter.status' | translate"
    [showClear]="true"
  >
    <ng-template
      let-option
      pTemplate="item"
    >
      {{ option.name | translate }}
    </ng-template>
    <ng-template
      let-option
      pTemplate="selectedItem"
    >
      {{ option?.name | translate }}
    </ng-template>
  </p-select>

</div>