<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  <p-iconfield>
    <p-inputicon
      inputId="admin-opportunities-search"
      class="icon-search"
    />
    <input
      type="text"
      pInputText
      class="w-full"
      [placeholder]="'opportunity.filter.searchByOpportunityName' | translate"
      [ngModel]="filter().searchText || ''"
      (ngModelChange)="onSearchChange($event)"
    />
  </p-iconfield>

  <p-select
    [ngModel]="filter().status"
    [options]="adminOpportunitiesStore.statusOptions()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'opportunity.filter.status' | translate"
    (ngModelChange)="onStatusChange($event)"
    [showClear]="true"
  >
    <ng-template
      let-option
      pTemplate="item"
    >
      {{ option.name | translate }}
    </ng-template>
  </p-select>

  <p-select
    [ngModel]="filter().opportunityType"
    [options]="adminOpportunitiesStore.opportunityTypeOptions()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'opportunity.filter.opportunityType' | translate"
    (ngModelChange)="onOpportunityTypeChange($event)"
    [showClear]="true"
  >
    <ng-template
      let-option
      pTemplate="item"
    >
      {{ option.name | translate }}
    </ng-template>
  </p-select>

  <p-select
    [ngModel]="filter().state"
    [options]="adminOpportunitiesStore.stateOptions()"
    optionLabel="name"
    optionValue="id"
    [placeholder]="'opportunity.filter.state' | translate"
    (ngModelChange)="onIsActiveChange($event)"
    [showClear]="true"
  >
    <ng-template
      let-option
      pTemplate="item"
    >
      {{ option.name | translate }}
    </ng-template>
  </p-select>
</div>