<app-personal-information-card
  [sectionTitle]="'Personal Information'"
  [sectionDescription]="isInvestor() ? 'Update your personal details here.' : 'View your personal details here.'"
  [submitActionLabel]="'Update'"
  [hideFooter]="!isInvestor() || isViewMode()"
  (onCancelClicked)="onCancelClick()"
  (onSubmit)="onSubmit()"
  [submitActionDisabled]="isLoading() || personalInfoProcessing() || formService.personalInformationForm.invalid"
>
  @if(isViewMode() && isInvestor()){
  <p-button
    headerAction
    [label]="'Edit'"
    size="small"
    severity="secondary"
    icon="icon-edit-05"
    text
    (onClick)="onEditClick()"
  />
  }

  <app-personal-information-skeleton
    [numberOfFields]="6"
    [isLoading]="isLoading()"
  >
    <div class="grid grid-cols-2 gap-8">
      <!-- Name En -->
      <app-personal-information-form-field
        [label]="isInvestor() ? 'Name' : 'English Name'"
        [required]="!isViewMode()"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900">{{ userProfile()?.nameEn }}</span>
        }@else{
        <div>
          <input
            pInputText
            [placeholder]="'Enter your full name'"
            fluid
            maxlength="150"
            [formControl]="formService.fullName"
          />
          <app-base-error-messages
            [control]="formService.fullName"
            [label]="'Full Name'"
          />
        </div>
        }
      </app-personal-information-form-field>

      <!-- Name Ar -->
      @if(!isInvestor()){
      <app-personal-information-form-field
        label="Arabic Name"
        [required]="!isViewMode()"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900">{{ userProfile()?.nameAr }}</span>
        }
      </app-personal-information-form-field>
      }

      <!-- E-mail -->
      <app-personal-information-form-field
        label="E-mail"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userProfile()?.email }}</span>
        }@else {
        <input
          pInputText
          [placeholder]="'Enter your e-mail'"
          fluid
          maxlength="150"
          [formControl]="formService.email"
          class="ltr"
        />
        }
      </app-personal-information-form-field>

      <!-- Phone Number -->
      <app-personal-information-form-field
        label="Phone Number"
        [required]="!isViewMode()"
      >
        @if(isViewMode()){
        <div class="flex items-center gap-2 ltr">
          @if(isInvestor()){
          <span class="text-sm font-medium text-gray-900">{{ userProfile()?.countryCode }}</span>
          }
          <span class="text-sm font-medium text-gray-900">{{ userProfile()?.phoneNumber }}</span>
        </div>
        }@else {
        <div>
          <app-phone-input
            [formControl]="formService.phoneNumber"
            [disabled]="formService.phoneNumber.disabled"
          />
          <app-base-error-messages
            [control]="formService.phoneNumber"
            [label]="'Phone Number'"
          />
        </div>
        }
      </app-personal-information-form-field>

      @if(!isInvestor()){
      <!-- User ID -->
      <app-personal-information-form-field
        label="User ID"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userID() }}</span>
        }
      </app-personal-information-form-field>

      <!-- Role -->
      <app-personal-information-form-field
        label="Role"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900">{{ RoleName() }}</span>
        }
      </app-personal-information-form-field>
      }

      <!-- Other Phone Number -->
      @if(isInvestor()){
      <app-personal-information-form-field
        label="Other Phone Number"
        [required]="false"
      >
        @if(isViewMode()){
        <div class="flex items-center gap-2 ltr">
          <span class="text-sm font-medium text-gray-900">{{ userProfile()?.otherPhoneCountryCode ?? '-' }}</span>
          <span class="text-sm font-medium text-gray-900">{{ userProfile()?.otherPhoneNumber }}</span>
        </div>
        }@else {
        <div>
          <app-phone-input
            [formControl]="formService.otherPhoneNumber"
            [disabled]="formService.otherPhoneNumber.disabled"
          />
          <app-base-error-messages
            [control]="formService.otherPhoneNumber"
            [label]="'Other Phone Number'"
          />
        </div>
        }
      </app-personal-information-form-field>

      <!-- BENA ID -->
      <app-personal-information-form-field
        label="BENA ID"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userProfile()?.benaId ?? '-' }}</span>
        }@else {
        <input
          pInputText
          fluid
          [formControl]="formService.benaId"
          class="ltr"
        />
        }
      </app-personal-information-form-field>

      <!-- SEC Registered ID -->
      <app-personal-information-form-field
        label="SEC Registered ID"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userProfile()?.secRegisteredId ?? '-' }}</span>
        }@else {
        <input
          type="text"
          pInputText
          fluid
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="7"
          [placeholder]="'Enter your SEC registered ID'"
          [formControl]="formService.secRegisteredId"
          (input)="onRegisteredVendorIDWithSecInput($event)"
          class="ltr"
        />
        <app-base-error-messages
          [control]="formService.secRegisteredId"
          [label]="'SEC Registered ID'"
        />
        }
      </app-personal-information-form-field>
      }
    </div>
  </app-personal-information-skeleton>
</app-personal-information-card>
