<app-personal-information-card
  [sectionTitle]="'profile.personalInformation' | translate"
  [sectionDescription]="(isInvestor() ? 'profile.updateDetailsDesc' : 'profile.viewDetailsDesc') | translate"
  [submitActionLabel]="'profile.update' | translate"
  [hideFooter]="!isInvestor() || isViewMode()"
  (onCancelClicked)="onCancelClick()"
  (onSubmit)="onSubmit()"
  [submitActionDisabled]="isLoading() || personalInfoProcessing() || formService.personalInformationForm.invalid"
>
  @if(isViewMode() && isInvestor()){
  <p-button
    headerAction
    [label]="'common.edit' | translate"
    size="small"
    severity="secondary"
    icon="icon-edit-05"
    text
    (onClick)="onEditClick()"
  />
  }

  <app-personal-information-skeleton
    [numberOfFields]="6"
    [isLoading]="isLoading()"
  >
    <div class="grid grid-cols-2 gap-8">
      <!-- Name En -->
      <app-personal-information-form-field
        [label]="(isInvestor() ? 'profile.name' : 'profile.englishName') | translate"
        [required]="!isViewMode()"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900">{{ userProfile()?.nameEn }}</span>
        }@else{
        <div>
          <input
            pInputText
            [placeholder]="'profile.placeholder.fullName' | translate"
            fluid
            maxlength="150"
            [formControl]="formService.fullName"
          />
          <app-base-error-messages
            [control]="formService.fullName"
            [label]="'profile.fullName' | translate"
          />
        </div>
        }
      </app-personal-information-form-field>

      <!-- Name Ar -->
      @if(!isInvestor()){
      <app-personal-information-form-field
        [label]="'profile.arabicName' | translate"
        [required]="!isViewMode()"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900">{{ userProfile()?.nameAr }}</span>
        }
      </app-personal-information-form-field>
      }

      <!-- E-mail -->
      <app-personal-information-form-field
        [label]="'profile.email' | translate"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userProfile()?.email }}</span>
        }@else {
        <input
          pInputText
          [placeholder]="'profile.placeholder.email' | translate"
          fluid
          maxlength="150"
          [formControl]="formService.email"
          class="ltr"
        />
        }
      </app-personal-information-form-field>

      <!-- Phone Number -->
      <app-personal-information-form-field
        [label]="'profile.phoneNumber' | translate"
        [required]="!isViewMode()"
      >
        @if(isViewMode()){
        <div class="ltr">
          @if(isInvestor()){
          <span class="text-sm font-medium text-gray-900 me-2">{{ userProfile()?.countryCode }}</span>
          }
          <span class="text-sm font-medium text-gray-900">{{ userProfile()?.phoneNumber }}</span>
        </div>
        }@else {
        <div>
          <app-phone-input
            [formControl]="formService.phoneNumber"
            [disabled]="formService.phoneNumber.disabled"
          />
          <app-base-error-messages
            [control]="formService.phoneNumber"
            [label]="'profile.phoneNumber' | translate"
          />
        </div>
        }
      </app-personal-information-form-field>

      @if(!isInvestor()){
      <!-- User ID -->
      <app-personal-information-form-field
        [label]="'profile.userId' | translate"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userID() }}</span>
        }
      </app-personal-information-form-field>

      <!-- Role -->
      <app-personal-information-form-field
        [label]="'profile.role' | translate"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900">{{ RoleName() }}</span>
        }
      </app-personal-information-form-field>
      }

      <!-- Other Phone Number -->
      @if(isInvestor()){
      <app-personal-information-form-field
        [label]="'profile.otherPhoneNumber' | translate"
        [required]="false"
      >
        @if(isViewMode()){
        <div class="ltr">
          <span class="text-sm font-medium text-gray-900 me-2">{{ userProfile()?.otherPhoneCountryCode ?? '-' }}</span>
          <span class="text-sm font-medium text-gray-900">{{ userProfile()?.otherPhoneNumber }}</span>
        </div>
        }@else {
        <div>
          <app-phone-input
            [formControl]="formService.otherPhoneNumber"
            [disabled]="formService.otherPhoneNumber.disabled"
          />
          <app-base-error-messages
            [control]="formService.otherPhoneNumber"
            [label]="'profile.otherPhoneNumber' | translate"
          />
        </div>
        }
      </app-personal-information-form-field>

      <!-- BENA ID -->
      <app-personal-information-form-field
        [label]="'profile.benaId' | translate"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userProfile()?.benaId ?? '-' }}</span>
        }@else {
        <input
          pInputText
          fluid
          [formControl]="formService.benaId"
          class="ltr"
        />
        }
      </app-personal-information-form-field>

      <!-- SEC Registered ID -->
      <app-personal-information-form-field
        [label]="'profile.secRegisteredId' | translate"
        [required]="false"
      >
        @if(isViewMode()){
        <span class="text-sm font-medium text-gray-900 ltr">{{ userProfile()?.secRegisteredId ?? '-' }}</span>
        }@else {
        <input
          type="text"
          pInputText
          fluid
          inputmode="numeric"
          pattern="[0-9]*"
          maxlength="7"
          [placeholder]="'profile.placeholder.secRegisteredId' | translate"
          [formControl]="formService.secRegisteredId"
          (input)="onRegisteredVendorIDWithSecInput($event)"
          class="ltr"
        />
        <app-base-error-messages
          [control]="formService.secRegisteredId"
          [label]="'plans.form.vendorIdWithSecPlaceholder' | translate"
        />
        }
      </app-personal-information-form-field>
      }
    </div>
  </app-personal-information-skeleton>
</app-personal-information-card>
