@if(hasLabel()){
<p-button
  (click)="menu.toggle($event)"
  iconPos="right"
>
  <span class="font-semibold">Actions</span>
  <i class="icon-chevron-down {{isOpen() ? 'rotate-180' : 'rotate-0'}} transition-all"></i>
</p-button>
<p-menu
  #menu
  (onShow)="toggleMenu()"
  (onHide)="toggleMenu()"
  styleClass="!text-gray-400 max-w-[165px]"
  [model]="menuItems()"
  [popup]="true"
/>
}
@else{
<p-button
  (click)="menu.toggle($event); $event.stopPropagation()"
  severity="secondary"
  plain
  icon="icon-ellipsis-vertical"
/>
<p-menu
  #menu
  styleClass="!text-gray-400 max-w-[165px] -translate-x-[80%]"
  [model]="menuItems()"
  [popup]="true"
/>
}