<app-base-dialog
  [(visible)]="dialogVisible"
  [icon]="isEditMode() ? 'icon-edit' : 'icon-user-plus'"
  [confirmLabel]="'common.save' | translate"
  [confirmButtonClass]="'w-[100px]'"
  [cancelButtonClass]="'w-[80px]'"
  [isConfirmationDisabled]="formService.form.invalid || isProcessing()|| !formService.form.dirty"
  (onConfirm)="onConfirm()"
  (onClose)="resetForm()"
  (onCancel)="resetForm()"
>
  <!--
  [isConfirmationDisabled]="formService.form.invalid" -->
  <div class="mb-5">
    <p class="text-lg font-semibold text-gray-900 mb-1">
      {{
      isEditMode()
      ? ('delegation.dialog.edit.editTitle' | translate)
      : ('delegation.dialog.add.addTitle' | translate)
      }}
    </p>
  </div>

  <div class="flex flex-col gap-4 min-w-[500px]">
    <div class="form-group">
      <label class="block text-sm font-medium text-gray-700 mb-1">{{ 'delegation.dialog.delegator' | translate }}
        <span><i
            class="icon-help-circle text-sm ms-1"
            [pTooltip]="'delegation.table.delegatorTooltip' | translate"
          ></i></span>
      </label>
      <p-select
        [readonly]="isEditMode()"
        [options]="getDelegatorsWithoutAdmin()"
        optionLabel="name"
        optionValue="id"
        [loading]="isLoadingDetails()"
        [loadingIcon]="'icon-transfer'"
        [formControl]="formService.delegatorId"
        appendTo="body"
        optionLabel="name"
        optionValue="id"
        [placeholder]="'delegation.dialog.delegatorPlaceHolder' | translate"
        dropdownIcon="icon-chevron-down"
        fluid
      />
      <div>
        <app-base-error-messages
          [control]="formService.delegatorId"
          [label]="'delegation.dialog.delegator' | translate"
        ></app-base-error-messages>
      </div>
    </div>
    <div class="form-group">
      <label class="block text-sm font-medium text-gray-700 mb-1">{{ 'delegation.dialog.delegatee' | translate }}
        <span><i
            class="icon-help-circle text-sm ms-1"
            [pTooltip]="'delegation.table.delegateeTooltip' | translate"
          ></i></span>
      </label>
      <p-select
        [readonly]="isEditMode()"
        [options]="getDelegatees()"
        optionLabel="name"
        optionValue="id"
        [loading]="isLoadingDetails()"
        [loadingIcon]="'icon-transfer'"
        [formControl]="formService.delegateeId"
        appendTo="body"
        optionLabel="name"
        optionValue="id"
        [placeholder]="'delegation.dialog.delegateePlaceHolder' | translate"
        dropdownIcon="icon-chevron-down"
        fluid
      />
      <app-base-error-messages
        [control]="formService.delegateeId"
        [label]="'delegation.dialog.delegatee' | translate"
      ></app-base-error-messages>
    </div>
    <div class="form-group">
      <label class="block text-sm font-medium text-gray-700 mb-1">
        {{ 'delegation.dialog.startDate' | translate }}
      </label>
      <p-datepicker
        [formControl]="formService.from"
        [readonlyInput]="true"
        [showIcon]="true"
        [showButtonBar]="true"
        [iconDisplay]="'input'"
        [minDate]="today"
        [maxDate]="formService.to.value"
        [placeholder]="'delegation.dialog.selectStartDate' | translate"
        appendTo="body"
        fluid
      ></p-datepicker>
      <app-base-error-messages
        [control]="formService.from"
        [label]="'delegation.dialog.startDate' | translate"
      ></app-base-error-messages>
    </div>

    <div class="form-group">
      <label class="block text-sm font-medium text-gray-700">
        {{ 'delegation.dialog.endDate' | translate }}
      </label>
      <p-datepicker
        [formControl]="formService.to"
        [readonlyInput]="true"
        [showIcon]="true"
        [showButtonBar]="true"
        [iconDisplay]="'input'"
        [minDate]="formService.from.value || today"
        [placeholder]="'delegation.dialog.selectEndDate' | translate"
        appendTo="body"
        fluid
      ></p-datepicker>
      <app-base-error-messages
        [control]="formService.to"
        [label]="'delegation.dialog.endDate' | translate"
      ></app-base-error-messages>
    </div>
  </div>
</app-base-dialog>