<div class="rounded-lg  border border-gray-200 card max-w-[1110px]">
  <p-table
    class="w-full bg-white rounded-lg"
    [value]="
    tableRows"
    [columns]="years"
    [scrollable]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          class="p-3 !border !border-gray-200 text-left !bg-gray-50 min-w-[300px]"
          pFrozenColumn
        >
          <span class="text-sm font-semibold text-gray-900"></span>
        </th>
        @for(year of years; track year) {
        <th class="p-3 !border !border-gray-200 text-center !bg-gray-50 min-w-[200px]">
          <span class="text-sm font-semibold text-gray-900">Year {{ year }}</span>
        </th>
        }
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-row
    >
      <tr>
        <td
          class="p-3 !border !border-gray-200 !bg-gray-50 z-10000000"
          pFrozenColumn
        >
          <div class="flex flex-col">
            <span class="text-sm font-medium text-gray-900">{{ row.label }}</span>
            @if(row.subtitle) {
            <span class="text-xs text-gray-500 mt-1">{{ row.subtitle }}</span>
            }
          </div>
        </td>
        @for(year of years; track year) {
        <td
          class="p-3 !border !border-gray-200"
          [ngClass]="row.alignBaseline ? 'align-baseline' : 'text-center'"
        >
          <app-group-input-with-checkbox
            [hasCommentControl]="getHasCommentControl()(getRowControl()(year, row.controlName)!)"
            [showCheckbox]="showCheckbox()"
          >
            <p-inputnumber
              fluid
              [placeholder]="row.placeholder"
              [min]="row.min"
              [max]="row.max"
              [mode]="row.mode"
              [prefix]="row.prefix"
              [minFractionDigits]="row.minFractionDigits"
              [maxFractionDigits]="row.maxFractionDigits"
              [formControl]="getValueControl()(getRowControl()(year, row.controlName)!)"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl()(getRowControl()(year, row.controlName)!)"
            [label]="row.label"
          />
        </td>
        }
      </tr>
    </ng-template>
  </p-table>
</div>