:host::ng-deep {
  .p-dialog-header {
    display: none
  }
  .p-step-active .p-step-number::before{
    content: '';
    position: absolute;
    width: 135%;
    height: 135%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 2px solid var(--p-stepper-step-title-active-color);
  }
}
