<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [resizable]="false"
  (onHide)="onClose.emit()"
  (onShow)="onShow.emit()"
  [styleClass]="'w-full !max-h-full h-full !p-0'"
  [pt]="pt"
>
  <span
    class="icon-x-close text-gray-400 cursor-pointer absolute top-[32px] right-[32px]"
    (click)="onClose.emit()"
  ></span>
  <div class="flex !max-h-full h-full">
    <div class="steps-container bg-gray-50 py-6 px-5 border-e-1 border-gray-200 max-w-[400px] flex flex-col gap-[80px]">
      <div class="inline-flex items-center">
        <img
          src="assets/images/long-logo.svg"
          alt="logo"
          class="w-[125px] h-[40px]"
          appImageError
        >
      </div>
      <div class="flex flex-col bg-gray-50">
        @if(activeStep()){
        <p-stepper
          [value]="activeStep()"
          (valueChange)="activeStep.set($event ?? 1)"
          class="bg-gray-50 basis-[10rem]"
        >
          @for (step of steps(); track step.title; let i = $index) {
          <p-step-item [value]="i + 1">
            <p-step
              [value]="i + 1"
              class="flex flex-row flex-auto gap-2 w-full max-w-full min-w-0"
            >
              <ng-template
                #content
                let-activateCallback="activateCallback"
                let-value="value"
              >
                <button
                  class="bg-transparent border-0 flex flex-col gap-2 w-full max-w-full"
                  (click)="activateCallback()"
                >
                  <app-wizard-step-state [stepState]="step" />
                </button>
              </ng-template>
            </p-step>
            @if(i !== steps().length - 1){
            <p-step-panel>
              <ng-template
                #content
                let-activateCallback="activateCallback"
              >
                <div class="h-[70px]">
                </div>
              </ng-template>
            </p-step-panel>
            }
          </p-step-item>
          }
        </p-stepper>
        }
      </div>
    </div>
    <div class="flex flex-col overflow-hidden flex-1 p-8 pb-4 gap-[32px]">
      <div class="header flex flex-col gap-2">
        <h3 class="text-2xl font-semibold">{{wizardTitle()}}</h3>
        <ng-content select="status"></ng-content>
      </div>
      <div
        class="flex-1 overflow-auto max-w-full"
        #scrollableContent
      >
        @for (step of steps(); track step.title; let i = $index) {
        @if (activeStep() === i + 1) {
        @for (content of stepContents(); track content.stepNumber) {
        @if (content.stepNumber === i + 1) {
        <ng-container *ngTemplateOutlet="content.templateRef"></ng-container>
        }
        }
        }
        }
      </div>
      <div class="actions flex justify-between items-center pt-[16px] border-t border-gray-200">
        <div class="flex-1">
          @if (!hideSaveAsDraft()) {
          <p-button
            text
            icon="icon-save"
            [label]="'opportunity.wizard.saveAsDraft' | translate"
            severity="secondary"
            (click)="saveAsDraft()"
            [disabled]="isSavingAsDraft() || isProcessing()"
            [loading]="isSavingAsDraft()"
          />
          }
          <ng-content select="more-actions"></ng-content>
        </div>
        <div class="flex gap-4">
          @if (!isFirstStep()) {
          <p-button
            (click)="previousStep()"
            [icon]="currentLanguage() === 'ar' ? 'icon-arrow-right' : 'icon-arrow-left'"
            [label]="'opportunity.wizard.back' | translate"
            [disabled]="isLoading()"
          />
          }
          @if (!isFinalStep()) {
          <p-button
            (click)="nextStep()"
            [icon]="nextButtonIcon()"
            [label]="'opportunity.wizard.next' | translate"
            [disabled]="isLoading()"
            [loading]="isLoading()"
          />
          }
          @if (isFinalStep()) {
          <ng-content select="final-step-action"></ng-content>
          }
        </div>
      </div>
    </div>
  </div>
</p-dialog>