<app-base-dialog
  [(visible)]="visible"
  [showCloseButton]="true"
  [showConfirmButton]="true"
  [dialogTitle]="'profile.changePassword' | translate"
  [icon]="'icon-key-02'"
  [cancelLabel]="'common.cancel' | translate"
  [confirmLabel]="confirmLabel | translate"
  [styleClass]="'w-[95vw] max-w-[600px]!'"
  [confirmButtonClass]="'w-[100px]'"
  [cancelButtonClass]="'w-[80px]'"
  [isConfirmationDisabled]="changePasswordForm.invalid || profileStore.changePasswordProcessing()"
  (onCancel)="onCancel()"
  (onConfirm)="onConfirm()"
>
  <ng-container ngProjectAs="subTitle">
    <p class="text-sm text-gray-600 mb-4">{{ 'profile.changePasswordDesc' | translate }}</p>
  </ng-container>

  <div class="change-password-modal-content">
    <form
      [formGroup]="changePasswordForm"
      class="flex flex-col gap-5"
    >
      <!-- Current Password -->
      <div>
        <app-base-label
          [title]="'profile.currentPassword' | translate"
          [required]="true"
        ></app-base-label>
        <app-password-toggle
          [control]="currentPassword"
          [placeholder]="'profile.currentPassword' | translate"
        ></app-password-toggle>
        <app-base-error-messages
          [control]="currentPassword"
          [label]="'profile.currentPassword' | translate"
        ></app-base-error-messages>
      </div>

      <!-- New Password -->
      <div>
        <app-password-policy
          [passwordFormControl]="password"
          [label]="'profile.newPassword' | translate"
          [placeholder]="'profile.placeholder.newPassword' | translate"
          [required]="true"
        ></app-password-policy>
      </div>

      <!-- Confirm New Password -->
      <div>
        <app-base-label
          [title]="'profile.confirmNewPassword' | translate"
          [required]="true"
        ></app-base-label>
        <app-password-toggle
          [control]="confirmPassword"
          [placeholder]="'profile.placeholder.newPassword' | translate"
        ></app-password-toggle>
        <app-base-error-messages
          [control]="confirmPassword"
          [label]="'profile.confirmNewPassword' | translate"
        ></app-base-error-messages>
      </div>
    </form>
  </div>
</app-base-dialog>