<app-base-dialog
  [(visible)]="visible"
  [showCloseButton]="true"
  [showConfirmButton]="true"
  [dialogTitle]="'Change Password'"
  [icon]="'icon-key-02'"
  [cancelLabel]="'Cancel'"
  [confirmLabel]="confirmLabel"
  [styleClass]="'w-[95vw] max-w-[600px]!'"
  [confirmButtonClass]="'w-[100px]'"
  [cancelButtonClass]="'w-[80px]'"
  [isConfirmationDisabled]="changePasswordForm.invalid || profileStore.changePasswordProcessing()"
  (onCancel)="onCancel()"
  (onConfirm)="onConfirm()"
>
  <ng-container ngProjectAs="subTitle">
    <p class="text-sm text-gray-600 mb-4">To proceed with changing your password, please fill out the form below. Ensure that you meet all password requirements.</p>
  </ng-container>

  <div class="change-password-modal-content">
    <form
      [formGroup]="changePasswordForm"
      class="flex flex-col gap-5"
    >
      <!-- Current Password -->
      <div>
        <app-base-label
          [title]="'Current password'"
          [required]="true"
        ></app-base-label>
        <app-password-toggle
          [control]="currentPassword"
          [placeholder]="'Current password'"
        ></app-password-toggle>
        <app-base-error-messages
          [control]="currentPassword"
          [label]="'Current password'"
        ></app-base-error-messages>
      </div>

      <!-- New Password -->
      <div>
        <app-password-policy
          [passwordFormControl]="password"
          [label]="'New password'"
          [placeholder]="'Enter new password'"
          [required]="true"
        ></app-password-policy>
      </div>

      <!-- Confirm New Password -->
      <div>
        <app-base-label
          [title]="'Confirm new password'"
          [required]="true"
        ></app-base-label>
        <app-password-toggle
          [control]="confirmPassword"
          [placeholder]="'Enter new password'"
        ></app-password-toggle>
        <app-base-error-messages
          [control]="confirmPassword"
          [label]="'Confirm new password'"
        ></app-base-error-messages>
      </div>
    </form>
  </div>
</app-base-dialog>