<app-base-dialog
  [(visible)]="visible"
  [showCloseButton]="true"
  [showConfirmButton]="true"
  [dialogTitle]="'Change password'"
  [icon]="'icon-key-02'"
  [cancelLabel]="'Cancel'"
  [confirmLabel]="'Confirm'"
  [styleClass]="'w-[95vw] sm:w-[500px] max-w-[500px]!'"
  [confirmButtonClass]="'w-[120px]'"
  [cancelButtonClass]="'w-[120px]'"
  [isConfirmationDisabled]="changePasswordForm.invalid"
  (onCancel)="onCancel()"
  (onConfirm)="onConfirm()"
>
  <div class="change-password-modal-content">
    <p class="text-sm text-gray-600 mb-4">To proceed with changing your password, please fill out the form below. Ensure that you meet all password requirements.</p>

    <form
      [formGroup]="changePasswordForm"
      class="flex flex-col gap-3"
    >
      <app-base-label
        [title]="'Current password'"
        [required]="true"
      ></app-base-label>
      <app-password-toggle
        [control]="currentPassword"
        [placeholder]="'Current password'"
      ></app-password-toggle>
      <app-base-error-messages
        [control]="currentPassword"
        [label]="'Current password'"
      ></app-base-error-messages>

      <app-password-policy
        [passwordFormControl]="password"
        [required]="true"
      ></app-password-policy>

      <app-base-label
        [title]="'Confirm new password'"
        [required]="true"
      ></app-base-label>
      <app-password-toggle
        [control]="confirmPassword"
        [placeholder]="'Confirm new password'"
      ></app-password-toggle>
      <app-base-error-messages
        [control]="confirmPassword"
        [label]="'Confirm new password'"
      ></app-base-error-messages>
    </form>
  </div>
</app-base-dialog>