<app-base-wizard-dialog
  [(visible)]="visible"
  [steps]="steps"
>
  <ng-template [appStepContent]="1">
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
    <div>hello world</div>
  </ng-template>
  <ng-template [appStepContent]="2">
    <div>hello world 02</div>
  </ng-template>
  <ng-template [appStepContent]="3">
    <div>hello world 03</div>
  </ng-template>
</app-base-wizard-dialog>
