@if(!planStore.isLoading()) {
<app-base-wizard-dialog
  [(visible)]="visibility"
  [(activeStep)]="activeStep"
  [steps]="steps()"
  [wizardTitle]="wizardTitle()"
  (onNextStep)="nextStep()"
  (onPreviousStep)="previousStep()"
  (onSaveAsDraft)="saveAsDraft()"
  [isLoading]="isLoading() || isLoadingPlan()"
  [isProcessing]="isProcessing()"
  [hideSaveAsDraft]="isViewMode()"
  (onClose)="onClose()"
>

  @if (shouldShowStatusTag()) {
  <ng-container ngProjectAs="status">
    <app-base-tag
      [value]="statusLabel()"
      [styleClass]="statusBadgeClass()"
    />
  </ng-container>
  }

  <ng-template [appStepContent]="1">
    <app-plan-localization-step-01-overview-company-information-form />
  </ng-template>

  <ng-template [appStepContent]="2">
    <app-plan-localization-step-02-product-plant-overview-form />
  </ng-template>

  <ng-template [appStepContent]="3">
    <app-plan-localization-step-03-valueChain-form [isViewMode]="isViewMode()" />
  </ng-template>

  <ng-template [appStepContent]="4">
    <app-plan-localization-step-04-saudization-form [isViewMode]="isViewMode()" />
  </ng-template>

  <ng-template [appStepContent]="5">
    <app-plan-localization-step-05-summary
      [isViewMode]="isViewMode()"
      #summaryComponent
      (onEditStep)="navigateToStep($event)"
      (onValidationErrorsChange)="updateValidationErrors($event)"
    />
  </ng-template>

  <ng-container ngProjectAs="final-step-action">
    @if (activeStep() === 5 && !isViewMode()) {
    <p-button
      [label]="'Submit'"
      (click)="onSummarySubmitClick()"
    ></p-button>
    }
  </ng-container>

  <ng-container ngProjectAs="more-actions">
    @if(canOpenTimeline()){
    <p-button
      [label]="'Timeline'"
      icon="icon-list"
      text
      severity="secondary"
      (click)="timelineVisibility.set(true)"
    ></p-button>
    }
  </ng-container>
</app-base-wizard-dialog>
}

@if(showSubmissionModal()){
<!-- Submission Confirmation Modal -->
<app-submission-confirmation-modal
  [(visible)]="showSubmissionModal"
  [(existingSignature)]="existingSignature"
  (onConfirm)="onSubmissionConfirm($event)"
  (onCancel)="onSubmissionCancel()"
/>
}

<!-- Confirm Leave Dialog -->
<app-confirm-leave-dialog
  [(visible)]="showConfirmLeaveDialog"
  (onLeave)="onConfirmLeave()"
  (onContinueEditing)="onContinueEditing()"
/>

<app-timeline-dialog
  [(dialogVisible)]="timelineVisibility"
  [planId]="planId()"
/>
