<div
  class="border rounded-lg p-5"
  [ngClass]="[colorsClassesConfig()['border'], colorsClassesConfig()['background']]"
>
  <div class="flex items-start gap-3">
    <i
      class="relative bottom-1 text-lg mt-1"
      [ngClass]="[colorsClassesConfig()['iconColor'], iconType()]"
    ></i>
    <div class="flex flex-col gap-1">
      <h3 class="text-sm font-semibold text-[#4A4E5A]">{{ commentTitle() }}</h3>
      <p class="text-sm text-gray-600 hitespace-pre-line break-all">{{ commentText() }}</p>
    </div>
  </div>
</div>