<div class="grid grid-cols-12 gap-4">

  <div class="col-span-12 md:col-span-5">
    <p-iconfield>
      <p-inputicon
        inputId="role-management-search"
        class="icon-search"
      />
      <input
        class="w-full"
        type="text"
        pInputText
        [disabled]="disableFilterInputs()"
        [placeholder]="'users.filter.roleManagementSearchPlaceholder' | translate"
        [(ngModel)]="filter().searchText"
        (ngModelChange)="onSearchTextChange(filter().searchText??'')"
      />
    </p-iconfield>
  </div>

  <div class="col-span-12 md:col-span-2">
    <p-multiselect
      [options]="employeeRoles()"
      [(ngModel)]="filter().roleCodes"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'users.filter.rolePlaceholder' | translate"
      display="chip"
      dropdownIcon="icon-chevron-down"
      fluid
      (ngModelChange)="roleManagementFilterService.applyFilterWithPaging()"
    >
    </p-multiselect>
  </div>

  <div class="col-span-12 md:col-span-2">
    <p-multiselect
      [options]="userStatuses()"
      [(ngModel)]="filter().statusFilters"
      optionLabel="label"
      optionValue="value"
      [placeholder]="'users.filter.statusPlaceholder' | translate"
      display="chip"
      dropdownIcon="icon-chevron-down"
      fluid
      (ngModelChange)="roleManagementFilterService.applyFilterWithPaging()"
    >
    </p-multiselect>
  </div>

  <div class="col-span-12 md:col-span-3">
    <div class="flex flex-col">
      <p-datepicker
        name="roleManagementJoinDate"
        selectionMode="range"
        [readonlyInput]="true"
        [(ngModel)]="filter().assignedDate"
        (ngModelChange)="onPickerChange($event)"
        [showIcon]="true"
        [showButtonBar]="true"
        [iconDisplay]="'input'"
        [placeholder]="'users.filter.selectJoinDate' | translate"
        appendTo="body"
      ></p-datepicker>
    </div>
  </div>
</div>