@if(commentPhase() === 'editing' || commentPhase() === 'viewing'){
<div
  class="animated flex flex-col gap-4 mt-8"
  animate.enter="fadeIn"
>
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="flex flex-col gap-2 flex-1">
      <app-base-label [title]="'Your Comment'" />
      <textarea
        fluid
        rows="8"
        pTextarea
        [formControl]="commentFormControl()"
        maxlength="255"
      ></textarea>
      @if(commentPhase() === 'editing'){
      <div class="text-xs text-gray-500 text-right mt-1">
        {{ commentFormControl().value.length || 0 }} / 255
      </div>
      }
      <app-base-error-messages
        [control]="commentFormControl()"
        [label]="'Your Comment'"
      />
    </div>
  </div>
</div>
}