<div class="bg-white rounded-lg flex flex-col shadow-xs border border-gray-200">
  <div class="section-header p-6 pb-0 flex items-center justify-between mb-6">
    <div class="flex flex-col gap-[2px] flex-1">
      <h4 class="font-semibold text-lg text-gray-900"> {{sectionTitle()}} </h4>
      <p class="text-gray-600 text-gray-600 mb-5"> {{sectionDescription()}} </p>
    </div>
    @if(showEditButton()){
    <div>
      <p-button
        [label]="'Edit'"
        size="small"
        severity="secondary"
        icon="icon-edit-05"
        text
        (onClick)="onEditClick.emit()"
      />
    </div>
    }
    <hr class="text-gray-200">
  </div>

  <div class="section-body px-6 mb-6">
    <ng-content></ng-content>
  </div>

  @if(!showEditButton()){
  <div class="section-footer p-6 border-t border-gray-200 flex justify-end gap-3">
    <p-button
      [label]="'Cancel'"
      severity="secondary"
      size="small"
      [disabled]="submitActionDisabled()"
      (onClick)="onCancelClicked.emit()"
    />
    <p-button
      [label]="submitActionLabel()"
      severity="primary"
      size="small"
      [disabled]="submitActionDisabled()"
      (onClick)="onSubmit.emit()"
    />
  </div>
  }
</div>