<p-menu
  #menu
  [model]="dropdownItems()"
  [popup]="true"
  (onShow)="isOpen.set(true)"
  (onHide)="isOpen.set(false)"
  appendTo="body"
  styleClass="!min-w-[250px] -translate-x-[20px]"
>
  <ng-template #start>
  </ng-template>
  <ng-template
    #items
    let-item
  >
  </ng-template>
</p-menu>
<button
  pRipple
  (click)="menu.toggle($event)"
  class="relative overflow-hidden w-full border-0 text-start bg-transparent rounded-none cursor-pointer transition-colors duration-200"
>
  <div class="items-center md:!flex hidden text-sm">
    <app-identify-user
      [userName]="authStore.jwtUserDetails()?.FullName!"
      [userTitle]="'Mr'"
      [userAvatar]="authStore.jwtUserDetails()?.Email!"
    ></app-identify-user>
    <i class="icon-chevron-down ms-[18px] text-gray-400 {{isOpen()? 'rotate-180':'rotate-none'}} transition-all"></i>
  </div>

  <p-avatar
    [image]="authStore.jwtUserDetails()?.Email!"
    class="!w-[40px] !h-[40px] md:!hidden block"
    shape="circle"
    size="large"
  />
</button>