<p-menu
  #menu
  [model]="dropdownItems()"
  [popup]="true"
  (onShow)="isOpen.set(true)"
  (onHide)="isOpen.set(false)"
  appendTo="body"
/>

<button
  (click)="menu.toggle($event)"
  class="w-full border-0 text-start bg-transparent rounded-none"
>
  <div class="items-center md:!flex hidden text-sm">
    <app-identify-user
      [userName]="authStore.userProfile()?.nameEN!"
      [userTitle]="authStore.userCode()!"
      [userAvatar]="'assets/images/user_placeholder.png'"
    ></app-identify-user>
    <i class="icon-chevron-down ms-[18px] text-gray-400 {{isOpen()? 'rotate-180':'rotate-none'}} transition-all"></i>
  </div>

  <p-avatar
    [image]="authStore.userProfile()?.photoURL!"
    class="!w-[40px] !h-[40px] md:!hidden block"
    shape="circle"
    size="large"
  />
</button>