<app-personal-information-card
  [sectionTitle]="'profile.security' | translate"
  [sectionDescription]="'profile.securityDesc' | translate"
  [hideFooter]="true"
  [hideBody]="true"
>
  <p-button
    headerAction
    [label]="'profile.changePassword' | translate"
    severity="secondary"
    icon="icon-key-02"
    (onClick)="onChangePasswordClick()"
  />
</app-personal-information-card>

@if (changePasswordVisible()) {
<app-change-password [(visible)]="changePasswordVisible"></app-change-password>
}