<app-base-dialog
  [(visible)]="dialogVisible"
  icon="icon-user-plus"
  [confirmLabel]="isEditMode() 
  ? ('users.dialog.edit.confirmedit' | translate) 
  : ('users.dialog.add.confirmAdd' | translate)"
  [confirmButtonClass]="'w-fit'"
  [cancelButtonClass]="'w-fit'"
  [isConfirmationDisabled]="formService.form.invalid"
  (onConfirm)="onConfirm()"
  (onClose)="resetForm()"
  [isLoading]="isProcessing()"
>
  <!-- 
  [isConfirmationDisabled]="formService.form.invalid" -->
  <div class="mb-5">
    <p class="text-lg font-semibold text-gray-900 mb-1">{{
      isEditMode()
      ? ('users.dialog.edit.confirmedit' | translate)
      : ('users.dialog.add.confirmAdd' | translate)
      }}</p>
  </div>

  <div class="grid grid-cols-12 gap-4">

    <div class="col-span-12 md:col-span-12">

      <app-base-label [title]="'users.dialog.add.jobLabel' | translate">
      </app-base-label>
      <p-iconfield>
        <input
          class="w-full"
          type="text"
          pInputText
          [placeholder]="'users.dialog.add.jobPlaceHolder' | translate"
          [formControl]="formService.job"
          [maxlength]="20"
          [minlength]="6"
        />
        @if(isLoadingDetails()){
        <p-inputicon class="spinner" />
        }
      </p-iconfield>
      @if(formService.job.touched && formService.job.errors){
      @if(formService.job.hasError('required')){
      <app-base-error [message]="'users.dialog.add.jobRequired' | translate" />
      }
      @if(formService.job.hasError('minlength') || formService.job.hasError('maxLength')){
      <app-base-error [message]="'users.dialog.add.jobInvalidLength' | translate" />
      }
      }
    </div>
    <div class="col-span-12 md:col-span-6">
      <app-base-label [title]="'users.dialog.add.enName' | translate">
      </app-base-label>
      <input
        pInputText
        [formControl]="formService.nameEn"
        [placeholder]="'users.dialog.add.nameEnPlaceHolder' | translate"
        minlength="3"
        maxlength="100"
        fluid
      />
      <div>
        @if(formService.nameEn.touched && formService.nameEn.errors){
        @if(formService.nameEn.hasError('required')){
        <app-base-error [message]="'users.dialog.add.nameEnRequired' | translate" />
        }
        @if(formService.nameEn.hasError('minlength') || formService.nameEn.hasError('maxLength')){
        <app-base-error [message]="'users.dialog.add.nameEnglishInvalidLength' | translate" />
        }
        @if(formService.nameEn.hasError('pattern')){
        <app-base-error [message]="'users.dialog.add.nameEnglishInvalid' | translate" />
        }
        }
      </div>
    </div>
    <div class="col-span-12 md:col-span-6">
      <app-base-label [title]="'users.dialog.add.arName' | translate">
      </app-base-label>
      <input
        pInputText
        [formControl]="formService.nameAr"
        [placeholder]="'users.dialog.add.nameArPlaceholder' | translate"
        fluid
      />
      <div>
        @if(formService.nameAr.touched && formService.nameAr.errors){
        @if(formService.nameAr.hasError('required')){
        <app-base-error [message]="'users.dialog.add.nameArRequired' | translate" />
        }
        @if(formService.nameAr.hasError('minlength') || formService.nameAr.hasError('maxLength')){
        <app-base-error [message]="'users.dialog.add.nameArabicInvalidLength' | translate" />
        }
        @if(formService.nameAr.hasError('pattern')){
        <app-base-error [message]="'users.dialog.add.nameArabicInvalid' | translate" />
        }
        }
      </div>
    </div>
    <div class="col-span-12 md:col-span-12">
      <app-base-label [title]="'users.dialog.add.email' | translate">
      </app-base-label>
      <input
        [formControl]="formService.email"
        pInputText
        [placeholder]="'users.dialog.add.emailPlaceholder' | translate"
        fluid
      />
      <div>
        @if(formService.email.touched && formService.email.errors){
        @if(formService.email.hasError('required')){
        <app-base-error [message]="'users.dialog.add.emailRequired' | translate" />
        }
        }
      </div>
    </div>

    <div class="col-span-12 md:col-span-6">
      <app-base-label [title]="'users.dialog.add.phone' | translate">
      </app-base-label>
      <input
        type="text"
        pInputText
        [placeholder]="'users.dialog.add.phonePlaceholder' | translate"
        [formControl]="formService.phoneNumber"
        fluid
      />
      <div>
        @if(formService.phoneNumber.touched && formService.phoneNumber.errors){
        @if(formService.phoneNumber.hasError('required')){
        <app-base-error [message]="'users.dialog.add.phoneRequired' | translate" />
        }
        @if(formService.phoneNumber.hasError('minlength') || formService.phoneNumber.hasError('maxLength')){
        <app-base-error [message]="'users.dialog.add.phoneInvalidLenhtg' | translate" />
        }
        @if(formService.phoneNumber.hasError('pattern')){
        <app-base-error [message]="'users.dialog.add.phoneInvalid' | translate" />
        }
        }
      </div>
    </div>

    <div class="col-span-12 md:col-span-6">
      <app-base-label [title]="'users.dialog.add.role' | translate">
      </app-base-label>
      <p-select
        [options]="userRoles()"
        [loading]="isProcessing()"
        [loadingIcon]="'icon-transfer'"
        [formControl]="formService.roleId"
        appendTo="body"
        optionLabel="name"
        optionValue="id"
        [placeholder]="'users.dialog.add.rolePlaceHolder' | translate"
        dropdownIcon="icon-chevron-down"
        fluid
      />
      <div>
        @if(formService.roleId.touched && formService.roleId.errors){
        @if(formService.roleId.hasError('required')){
        <app-base-error [message]="'users.dialog.add.roleRequired' | translate" />
        }
        }
      </div>
    </div>
  </div>
</app-base-dialog>