<p-table
  [value]="tableData()"
  [scrollable]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="p-3 !border !border-gray-200 text-left text-sm font-semibold !bg-gray-50 !text-gray-700 !whitespace-nowrap rounded-tl-xl">{{ 'plans.summary.valueChain.expenseHeader' | translate }}</th>
      <th class="p-3 !border !border-gray-200 text-left text-sm font-semibold !bg-gray-50 !text-gray-700 !whitespace-nowrap">{{ 'plans.summary.valueChain.inHouseProcured' | translate }}</th>
      <th class="p-3 !border !border-gray-200 text-left text-sm font-semibold !bg-gray-50 !text-gray-700 !whitespace-nowrap">{{ 'plans.summary.valueChain.costPercentage' | translate }}</th>
      @for (year of years; track year) {
      <th
        class="p-3 !border !border-gray-200 text-center text-sm font-semibold !bg-gray-50 !text-gray-700 !whitespace-nowrap"
        [class.rounded-tr-xl]="year === years[years.length - 1]"
      >{{ 'plans.summary.year' | translate }} {{ year }}</th>
      }
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-rowData
  >
    <tr>
      <td class="p-3 !border !border-gray-200 rounded-bl-xl">
        <app-summary-table-cell
          [value]="rowData.expenseHeader"
          [beforeValue]="rowData.expenseHeaderBeforeValue"
          [afterValue]="rowData.expenseHeaderAfterValue"
          [showDiff]="rowData.expenseHeaderShowDiff"
          [hasError]="rowData.expenseHeaderHasError"
          [hasComment]="rowData.expenseHeaderHasComment"
        />
      </td>
      <td class="p-3 !border !border-gray-200">
        <app-summary-table-cell
          [value]="rowData.inHouseOrProcured"
          [beforeValue]="rowData.inHouseOrProcuredBeforeValue"
          [afterValue]="rowData.inHouseOrProcuredAfterValue"
          [showDiff]="rowData.inHouseOrProcuredShowDiff"
          [hasError]="rowData.inHouseOrProcuredHasError"
          [hasComment]="rowData.inHouseOrProcuredHasComment"
        />
      </td>
      <td class="p-3 !border !border-gray-200">
        <app-summary-table-cell
          [value]="rowData.costPercentage"
          [beforeValue]="rowData.costPercentageBeforeValue"
          [afterValue]="rowData.costPercentageAfterValue"
          [showDiff]="rowData.costPercentageShowDiff"
          [hasError]="rowData.costPercentageHasError"
          [hasComment]="rowData.costPercentageHasComment"
        />
      </td>
      @for (year of years; track year) {
      <td
        class="p-3 !border !border-gray-200 text-center"
        [class.rounded-br-xl]="year === years[years.length - 1]"
      >
        <app-summary-table-cell
          [value]="rowData['year' + year]"
          [beforeValue]="rowData['year' + year + 'BeforeValue']"
          [afterValue]="rowData['year' + year + 'AfterValue']"
          [showDiff]="rowData['year' + year + 'ShowDiff']"
          [hasError]="rowData['year' + year + 'HasError']"
          [hasComment]="rowData['year' + year + 'HasComment']"
        />
      </td>
      }
    </tr>
  </ng-template>
</p-table>