:host {
  display: block;
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 100;

  &::ng-deep {
    .p-checkbox-orange {
    --p-checkbox-checked-border-color: var(--p-orange-500);
    --p-checkbox-checked-background: var(--p-orange-500);
    --p-checkbox-checked-hover-background: var(--p-orange-500);
    --p-checkbox-checked-hover-border-color: var(--p-orange-500);
    --p-checkbox-checked-focus-background: var(--p-orange-500);
    --p-checkbox-checked-focus-border-color: var(--p-orange-500);
    --p-checkbox-checked-active-background: var(--p-orange-500);
    --p-checkbox-checked-active-border-color: var(--p-orange-500);
    --p-checkbox-hover-border-color: var(--p-orange-500);
    --p-checkbox-disabled-background: var(--p-orange-500);
    --p-checkbox-icon-disabled-color: #ffffff;
    }
  }
}
