<div class="flex flex-col gap-[32px] pb-10">
  <!-- Saudi Company Details Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Saudi Company Details</h2>
    <app-form-array-input
      [ft]="getSaudiCompanyDetailsFormArray()"
      [hideAddButton]="isViewMode()"
      [hideDeleteButton]="isViewMode()"
      [addButtonMessage]="'Add Saudi Company'"
      [createNewItem]="createSaudiCompanyDetailItem"
      [maxItems]="20"
      [scrollHeight]="'600px'"
      [customHeaderLabels]="saudiCompanyDetailsHeaderLabels"
      [headerTooltips]="saudiCompanyDetailsHeaderTooltips()"
    >
      <ng-template
        #itemTemplate
        let-itemControl
        let-index="index"
      >
        <!-- Saudi Company Name -->
        <td class="p-3 border border-gray-200 min-w-[250px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.saudiCompanyName))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'saudiCompanyName_' + index,
              label: 'Saudi Company Name'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="100"
              placeholder="Enter Saudi company name"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.saudiCompanyName))"
              [appConditionalColorClass]="highlightInput('saudiCompanyName_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.saudiCompanyName))"
            [label]="'Saudi Company Name'"
          />
        </td>

        <!-- Vendor ID with SEC (Readonly) -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <input
            type="text"
            pInputText
            fluid
            placeholder=""
            [formControl]="getFormControl(itemControl.get(EMaterialsFormControls.registeredVendorIDwithSEC))"
            class="bg-gray-100 text-gray-500"
          />
        </td>

        <!-- Bena register Vendor ID (Readonly) -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.benaRegisteredVendorID))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'benaRegisteredVendorID_' + index,
              label: 'BENA Registered Vendor ID'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              placeholder=""
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.benaRegisteredVendorID))"
              class="bg-gray-100 text-gray-500"
              [appConditionalColorClass]="highlightInput('benaRegisteredVendorID_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
        </td>

        <!-- Company Type (Multi-select) -->
        <td class="p-3 border border-gray-200 min-w-[250px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.companyType))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'companyType_' + index,
              label: 'Company Type'
            }, itemControl.get('rowId')?.value)"
          >
            <p-multiselect
              [options]="companyTypeOptions()"
              optionLabel="name"
              optionValue="id"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.companyType))"
              placeholder="Select company type(s)"
              fluid
              [appendTo]="'body'"
              [appConditionalColorClass]="highlightInput('companyType_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.companyType))"
            [label]="'Company Type'"
          />
        </td>

        <!-- Qualification Status with SEC (Enabled only if Manufacturer) -->
        <td class="p-3 border border-gray-200 min-w-[250px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.qualificationStatus))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'qualificationStatus_' + index,
              label: 'Qualification Status with SEC'
            }, itemControl.get('rowId')?.value)"
          >
            <p-select
              [options]="qualificationStatusOptions()"
              optionLabel="name"
              optionValue="id"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.qualificationStatus))"
              placeholder="Select qualification status"
              fluid
              [appendTo]="'body'"
              [appConditionalColorClass]="highlightInput('qualificationStatus_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.qualificationStatus))"
            [label]="'Qualification Status with SEC'"
          />
        </td>

        <!-- Product(s) - Manufacturer + Qualified or Under Pre-Qualification -->
        <td class="p-3 border border-gray-200 min-w-[250px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.products))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'products_' + index,
              label: 'Product(s)'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="255"
              placeholder="Enter specify the product(s)"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.products))"
              [appConditionalColorClass]="highlightInput('products_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.products))"
            [label]="'Product(s)'"
          />
        </td>

        <!-- Company Overview - Manufacturer + Not Qualified -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.companyOverview))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'companyOverview_' + index,
              label: 'Company Overview'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="255"
              placeholder="Enter company overview"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.companyOverview))"
              [appConditionalColorClass]="highlightInput('companyOverview_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.companyOverview))"
            [label]="'Company Overview'"
          />
        </td>

        <!-- Key Projects Executed - Contractor -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.keyProjectsExecutedByContractorForSEC))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'keyProjectsExecutedByContractorForSEC_' + index,
              label: 'Key Projects Executed'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="255"
              placeholder="Enter key projects executed by contractor for SEC"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.keyProjectsExecutedByContractorForSEC))"
              [appConditionalColorClass]="highlightInput('keyProjectsExecutedByContractorForSEC_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.keyProjectsExecutedByContractorForSEC))"
            [label]="'Key Projects Executed'"
          />
        </td>

        <!-- Company Overview, Key Project Details - Contractor -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.companyOverviewKeyProjectDetails))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'companyOverviewKeyProjectDetails_' + index,
              label: 'Company Overview, Key Project Details'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="255"
              placeholder="Enter company overview, key project details etc."
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.companyOverviewKeyProjectDetails))"
              [appConditionalColorClass]="highlightInput('companyOverviewKeyProjectDetails_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.companyOverviewKeyProjectDetails))"
            [label]="'Company Overview, Key Project Details'"
          />
        </td>

        <!-- Company Overview - Other -->
        <td class="p-3 border border-gray-200 min-w-[300px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.companyOverviewOther))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'saudiCompanyDetails',
              inputKey: 'companyOverviewOther_' + index,
              label: 'Company Overview'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="255"
              placeholder="Enter company overview"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.companyOverviewOther))"
              [appConditionalColorClass]="highlightInput('companyOverviewOther_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.companyOverviewOther))"
            [label]="'Company Overview'"
          />
        </td>
      </ng-template>
    </app-form-array-input>
  </div>

  <!-- Collaboration / Partnership Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Collaboration / Partnership with Saudi Company</h2>
    <app-form-array-input
      [ft]="getCollaborationPartnershipFormArray()"
      [hideAddButton]="isViewMode()"
      [hideDeleteButton]="isViewMode()"
      [addButtonMessage]="'Add Collaboration/Partnership'"
      [createNewItem]="createCollaborationPartnershipItem"
      [maxItems]="20"
      [scrollHeight]="'600px'"
      [excludeKeys]="['agreementOtherDetails', 'agreementCopy']"
      [headerTooltips]="{
        'supervisionOversightEntity': 'Mention whether the partnership with Saudi company is being supervised by any government entity (e.g., MoEn, PIF, etc.)',
        'provideAgreementCopy': 'If “Yes”, please attach the agreement copy at the end of the plan in the Attachment section.',
      }"
    >
      <ng-template
        #itemTemplate
        let-itemControl
        let-index="index"
      >
        <!-- Agreement Type -->
        <td class="p-3 border border-gray-200 min-w-[250px]">
          <div class="flex flex-col gap-2">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.agreementType))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'collaborationPartnership',
                inputKey: 'agreementType_' + index,
                label: 'Agreement Type with Saudi Company'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="agreementTypeOptions()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.agreementType))"
                placeholder="Select agreement type with Saudi Company"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('agreementType_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            @if (isAgreementTypeOther(itemControl)) {
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.agreementOtherDetails))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'collaborationPartnership',
                inputKey: 'agreementOtherDetails_' + index,
                label: 'Other Agreement Details'
              }, itemControl.get('rowId')?.value)"
            >
              <input
                type="text"
                pInputText
                fluid
                [maxlength]="100"
                placeholder="Enter other agreement details"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.agreementOtherDetails))"
                [appConditionalColorClass]="highlightInput('agreementOtherDetails_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            }
          </div>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.agreementType))"
            [label]="'Agreement Type'"
          />
          @if (isAgreementTypeOther(itemControl)) {
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.agreementOtherDetails))"
            [label]="'Other Agreement Details'"
          />
          }
        </td>

        <!-- Agreement Signing Date -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.agreementSigningDate))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'collaborationPartnership',
              inputKey: 'agreementSigningDate_' + index,
              label: 'Agreement Signing Date'
            }, itemControl.get('rowId')?.value)"
          >
            <p-select
              [options]="availableQuartersWithPast()"
              optionLabel="name"
              optionValue="id"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.agreementSigningDate))"
              placeholder="Select quarter"
              fluid
              [appendTo]="'body'"
              [appConditionalColorClass]="highlightInput('agreementSigningDate_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.agreementSigningDate))"
            [label]="'Agreement Signing Date'"
          />
        </td>

        <!-- Supervision / Oversight -->
        <td class="p-3 border border-gray-200 min-w-[250px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.supervisionOversightEntity))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'collaborationPartnership',
              inputKey: 'supervisionOversightEntity_' + index,
              label: 'Supervision / Oversight'
            }, itemControl.get('rowId')?.value)"
          >
            <input
              type="text"
              pInputText
              fluid
              [maxlength]="100"
              placeholder="E.g., MoEn, PIF, etc."
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightEntity))"
              [appConditionalColorClass]="highlightInput('supervisionOversightEntity_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.supervisionOversightEntity))"
            [label]="'Supervision / Oversight'"
          />
        </td>

        <!-- Why did you chose this particular Saudi Company -->
        <td class="p-3 border border-gray-200 min-w-[350px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.whyChoseThisCompany))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'collaborationPartnership',
              inputKey: 'whyChoseThisCompany_' + index,
              label: 'Why Did You Chose This Particular Saudi Company As Your Partner?'
            }, itemControl.get('rowId')?.value)"
          >
            <textarea
              pTextarea
              fluid
              rows="3"
              [maxlength]="255"
              placeholder="Why did you chose this particular Saudi Company as your partner?"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.whyChoseThisCompany))"
              [appConditionalColorClass]="highlightInput('whyChoseThisCompany_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            ></textarea>
            <div class="text-xs text-gray-500 text-right mt-1">
              {{ getValueControl(itemControl.get(EMaterialsFormControls.whyChoseThisCompany)).value?.length || 0 }} / 255
            </div>
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.whyChoseThisCompany))"
            [label]="'Why Did You Chose This Particular Saudi Company As Your Partner?'"
          />
        </td>

        <!-- Summary of Key Agreement Clauses -->
        <td class="p-3 border border-gray-200 min-w-[350px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.summaryOfKeyAgreementClauses))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'collaborationPartnership',
              inputKey: 'summaryOfKeyAgreementClauses_' + index,
              label: 'Summary of Key Agreement Clauses'
            }, itemControl.get('rowId')?.value)"
          >
            <textarea
              pTextarea
              fluid
              rows="3"
              [maxlength]="255"
              placeholder="Brief summary ownership %, key responsibilities, technology / IP sharing etc.)"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.summaryOfKeyAgreementClauses))"
              [appConditionalColorClass]="highlightInput('summaryOfKeyAgreementClauses_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            ></textarea>
            <div class="text-xs text-gray-500 text-right mt-1">
              {{ getValueControl(itemControl.get(EMaterialsFormControls.summaryOfKeyAgreementClauses)).value?.length || 0 }} / 255
            </div>
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.summaryOfKeyAgreementClauses))"
            [label]="'Summary of Key Agreement Clauses'"
          />
        </td>

        <!-- Provide Agreement Copy -->
        <td class="p-3 border border-gray-200 min-w-[200px]">
          <app-group-input-with-checkbox
            [showCheckbox]="showCheckbox()"
            [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.provideAgreementCopy))"
            (valueChanged)="upDateSelectedInputs($event, {
              section: 'collaborationPartnership',
              inputKey: 'provideAgreementCopy_' + index,
              label: 'Provide Agreement Copy'
            }, itemControl.get('rowId')?.value)"
          >
            <p-select
              [options]="yesNoOptions()"
              optionLabel="name"
              optionValue="id"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.provideAgreementCopy))"
              placeholder="Select"
              fluid
              [appendTo]="'body'"
              [appConditionalColorClass]="highlightInput('provideAgreementCopy_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
          </app-group-input-with-checkbox>
          <app-base-error-messages
            [control]="getValueControl(itemControl.get(EMaterialsFormControls.provideAgreementCopy))"
            [label]="'Provide Agreement Copy'"
          />
        </td>
      </ng-template>
    </app-form-array-input>
  </div>

  <!-- Entity Level Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Entity Level (i.e., local company responsible for delivering the services)</h2>
    <p>Details to be provided for the KSA facility only considering only the workforce / employees directly responsible for delivering all the services you intend to localize by setting up local entity / branch / other</p>
    <div class="data-table bg-white border border-gray-200 rounded-xl table-with-caption">
      <p-table
        [value]="entityLevelTableRows()"
        [scrollable]="true"
        scrollHeight="flex"
        class="rounded-xl"
      >
        <ng-template pTemplate="caption">
          <div class="bg-primary text-white p-3 border border-gray-200 rounded-t-xl">
            <div class="flex justify-between items-center">
              <span class="font-normal">Metrics</span>
              <span class="font-normal">Years ({{ yearColumns()[0] }}-{{ yearColumns()[5] }})</span>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th
              class="p-3 !border !border-gray-200 text-left !bg-gray-50 font-semibold text-gray-700! min-w-[250px] z-10000000"
              pFrozenColumn
            >
              <span>Category</span>
            </th>
            @for(year of yearColumns(); track year) {
            <th class="p-3 !border !border-gray-200 text-left !bg-gray-50 font-semibold text-gray-700! min-w-[200px]">
              <span>{{ year }}</span>
            </th>
            }
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-row
        >
          <tr>
            <td
              class="p-3 !border !border-gray-200 font-medium text-gray-700 !bg-gray-50 z-10000000"
              pFrozenColumn
            >
              <span>{{ row.label }}</span>
            </td>
            @for(yearKey of yearControlKeys; track yearKey; let i = $index) {
            <td class="p-3 !border !border-gray-200">
              @let controlKey = yearKey + '_' + row.controlKey;
              @let uniqueInputKey = 'entityLevel_' + controlKey;
              <app-group-input-with-checkbox
                [showCheckbox]="showCheckbox()"
                [hasCommentControl]="getHasCommentControl(getEntityLevelItem().get(controlKey))"
                (valueChanged)="upDateSelectedInputs($event, {
                  section: 'entityLevel',
                  inputKey: uniqueInputKey,
                  label: row.label + ' - ' + yearColumns()[i]
                })"
              >
                <p-inputnumber
                  fluid
                  [placeholder]="row.placeholder"
                  [min]="0"
                  [mode]="row.mode ?? undefined"
                  [minFractionDigits]="row.minFractionDigits"
                  [maxFractionDigits]="row.maxFractionDigits"
                  [maxlength]="row.mode === 'decimal' ? 5 : null"
                  [formControl]="getEntityLevelValueControl(controlKey)"
                  [appConditionalColorClass]="highlightInput(uniqueInputKey)"
                  [color]="selectedInputColor()"
                />
              </app-group-input-with-checkbox>
              <app-base-error-messages
                [control]="getEntityLevelValueControl(controlKey)"
                [label]="row.label + ' ' + yearColumns()[i]"
              />
            </td>
            }
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <!-- Service Level Section -->
  <div class="flex flex-col gap-4">
    <h2 class="text-lg font-semibold text-gray-900">Service Level</h2>
    <p>Details to be provided for the KSA based facility responsible for delivering all services. Provide details separately for each service you intend to localize</p>
    <div class="rounded-lg overflow-hidden">
      <app-form-array-input
        [ft]="getServiceLevelFormArray()"
        [hideAddButton]="true"
        [hideDeleteButton]="true"
        [excludeKeys]="['serviceId']"
        [customHeaderLabels]="customHeadersLabels()"
        [groupHeader]="serviceLevelGroupHeader()"
        [scrollHeight]="'600px'"
        [headerTooltips]="{'keyMeasuresToUpskillSaudis':'What key measures / plans will you execute to upskill Saudis and hire the relevant Saudi talent to deliver the service?'}"
        [customTextBesideHeaders]="{'mentionSupportRequiredFromSEC':' (if any) '}"
      >
        <ng-template
          #itemTemplate
          let-itemControl
          let-index="index"
        >
          <!-- Service Name -->
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <input
              type="text"
              pInputText
              fluid
              placeholder=""
              class="text-gray-400"
              [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
              [appConditionalColorClass]="highlightInput('serviceName_' + index, itemControl.get('rowId')?.value)"
              [color]="selectedInputColor()"
            />
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.serviceName))"
              [label]="'Service Name'"
            />
          </td>

          <!-- Expected Localization Date -->
          <td class="p-3 border border-gray-200 min-w-[200px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'expectedLocalizationDate_' + index,
                label: 'Expected Localization Date'
              }, itemControl.get('rowId')?.value)"
            >
              <p-select
                [options]="availableQuarters()"
                optionLabel="name"
                optionValue="id"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
                placeholder="Select quarter"
                fluid
                [appendTo]="'body'"
                [appConditionalColorClass]="highlightInput('expectedLocalizationDate_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.expectedLocalizationDate))"
              [label]="'Expected Localization Date'"
            />
          </td>

          <!-- Year Columns (Expected Annual Headcount) -->
          @for (yearKey of yearControlKeys; track yearKey; let i = $index) {
          <td class="p-3 border border-gray-200 min-w-[150px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(yearKey + '_headcount'))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: yearKey + '_headcount_' + index,
                label: 'Headcount ' + yearColumns()[i]
              }, itemControl.get('rowId')?.value)"
            >
              <p-inputnumber
                fluid
                [min]="0"
                inputId="integeronly"
                placeholder="Enter headcount"
                [formControl]="getValueControl(itemControl.get(yearKey + '_headcount'))"
                [appConditionalColorClass]="highlightInput(yearKey + '_headcount_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(yearKey + '_headcount'))"
              [label]="'Headcount ' + yearColumns()[i]"
            />
          </td>
          }

          <!-- Year Columns (Saudization %) -->
          @for (yearKey of yearControlKeys; track yearKey; let i = $index) {
          <td class="p-3 border border-gray-200 min-w-[150px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(yearKey + '_saudization'))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: yearKey + '_saudization_' + index,
                label: 'Saudization % ' + yearColumns()[i]
              }, itemControl.get('rowId')?.value)"
            >
              <p-inputnumber
                fluid
                [min]="0"
                [max]="100"
                mode="decimal"
                placeholder="Enter %"
                [maxFractionDigits]="2"
                [maxlength]="5"
                [formControl]="getValueControl(itemControl.get(yearKey + '_saudization'))"
                [appConditionalColorClass]="highlightInput(yearKey + '_saudization_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              />
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(yearKey + '_saudization'))"
              [label]="'Saudization % ' + yearColumns()[i]"
            />
          </td>
          }

          <!-- Key Measures to Upskill Saudis -->
          <td class="p-3 border border-gray-200 min-w-[400px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'keyMeasuresToUpskillSaudis_' + index,
                label: 'Key Measures to Upskill Saudis'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                placeholder="Enter key measures to upskill saudis"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
                [appConditionalColorClass]="highlightInput('keyMeasuresToUpskillSaudis_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.keyMeasuresToUpskillSaudis))"
              [label]="'Key Measures to Upskill Saudis'"
            />
          </td>

          <!-- Support Required from SEC -->
          <td class="p-3 border border-gray-200 min-w-[400px]">
            <app-group-input-with-checkbox
              [showCheckbox]="showCheckbox()"
              [hasCommentControl]="getHasCommentControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
              (valueChanged)="upDateSelectedInputs($event, {
                section: 'serviceLevel',
                inputKey: 'mentionSupportRequiredFromSEC_' + index,
                label: 'Support Required from SEC'
              }, itemControl.get('rowId')?.value)"
            >
              <textarea
                pTextarea
                fluid
                rows="3"
                [maxlength]="500"
                placeholder="Mention Support required from SEC to localize the service (if any)"
                [formControl]="getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
                [appConditionalColorClass]="highlightInput('mentionSupportRequiredFromSEC_' + index, itemControl.get('rowId')?.value)"
                [color]="selectedInputColor()"
              ></textarea>
              <div class="text-xs text-gray-500 text-right mt-1">
                {{ getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC)).value?.length || 0 }} / 500
              </div>
            </app-group-input-with-checkbox>
            <app-base-error-messages
              [control]="getValueControl(itemControl.get(EMaterialsFormControls.mentionSupportRequiredFromSEC))"
              [label]="'Support Required from SEC'"
            />
          </td>
        </ng-template>
      </app-form-array-input>
    </div>
  </div>

  @if((isViewMode() && files().length > 0) || !isViewMode()) {
  <!-- Attachments Section -->
  <div class="flex flex-col gap-4">
    <div>
      <h2 class="text-lg font-semibold text-gray-900">Attachments (Optional)</h2>
      <p class="text-xs text-gray-600"><span class="text-gray-600 font-semibold">Note:</span> all uploaded files size should be less than 30MB</p>
    </div>

    <app-group-input-with-checkbox
      [hasCommentControl]="getHasCommentControl(getAttachmentsFormGroup().get(EMaterialsFormControls.attachments)!)"
      [showCheckbox]="showCheckbox()"
    >
      <app-fileupload
        [isViewMode]="isViewMode()"
        [acceptedFileTypes]="'.pdf, .png, .jpg, .jpeg, .zip, .rar'"
        [(files)]="files"
        class="w-full"
        [placeholder]="'You can upload any file type (images, documents, archives).'"
        [multiple]="true"
      />
    </app-group-input-with-checkbox>
    <app-base-error-messages
      [control]="getValueControl(getAttachmentsFormGroup().get(EMaterialsFormControls.attachments)!)"
      [label]="'Attachments'"
    />
  </div>
  }

  <app-comment-input
    [commentFormControl]="stepCommentFormControl"
    [commentPhase]="commentPhase()"
  />

  @if(showCheckbox() || showCommentState()){
  <app-comment-state-component
    [commentsCount]="selectedInputs().length"
    [(commentPhase)]="commentPhase"
    [commentFormControl]="commentFormControl"
    [isResubmitMode]="isResubmitMode()"
    [hasInvestorComment]="hasInvestorComment()"
    (deleteComments)="onDeleteComments()"
    (saveComment)="commentPhase() === 'editing' ? onSaveEditedComment() : onSaveComment()"
    (startEditing)="onStartEditing()"
  />
  }

  @if(showDeleteConfirmationDialog()){
  <app-general-confirmation-dialog
    [(visible)]="showDeleteConfirmationDialog"
    [title]="'Are you sure you want to delete the comment and selected fields?'"
    [confirmationLabel]="'Delete'"
    [cancelLabel]="'Cancel'"
    [confirmButtonSeverity]="'danger'"
    [icon]="'icon-trash-2'"
    (confirmed)="onConfirmDeleteComment()"
    (onCancel)="onCancelDeleteComment()"
  />
  }
</div>