<app-base-wizard-dialog
  [(visible)]="visible"
  [(activeStep)]="activeStep"
  [steps]="steps()"
  [wizardTitle]="wizardTitle()"
  (onNextStep)="nextStep()"
  (onPreviousStep)="previousStep()"
  (onSaveAsDraft)="saveAsDraft()"
  (onClose)="onClose()"
  [isLoading]="adminOpportunitiesStore.isLoading()"
  [isProcessing]="adminOpportunitiesStore.isProcessing()"
>

  <ng-container ngProjectAs="status">
    @if(opportunity()){
    <div class="flex gap-2 mt-2">
      <!-- Status Badge (Published/Draft) -->
      @if(opportunity()?.status === EOpportunityStatus.DRAFT){ @let statusConfig = getStatusConfig();
      <app-base-tag
        [color]="statusConfig.color"
        [value]="statusConfig.label | translate"
      />
      } @else{ @let stateConfig = getStateConfig();
      <app-base-tag
        [color]="stateConfig.color"
        [value]="stateConfig.label | translate"
      />
      }
    </div>
    }
  </ng-container>

  <ng-template [appStepContent]="1">
    <app-opportunity-information-form></app-opportunity-information-form>
  </ng-template>
  <ng-template [appStepContent]="2">
    <app-opportunity-localization-form></app-opportunity-localization-form>
  </ng-template>

  <ng-container ngProjectAs="final-step-action">
    <p-button
      [label]="'opportunity.wizard.publish' | translate"
      (click)="publishOpportunity()"
      [disabled]="adminOpportunitiesStore.isProcessing()"
      [loading]="adminOpportunitiesStore.isProcessing() ||adminOpportunitiesStore.isLoading()"
    ></p-button>
  </ng-container>
</app-base-wizard-dialog>