<app-base-wizard-dialog
  [(visible)]="visible"
  [(activeStep)]="activeStep"
  [steps]="steps()"
  (onNextStep)="nextStep()"
  (onPreviousStep)="previousStep()"
  (onSaveAsDraft)="saveAsDraft()"
  (onClose)="onClose()"
  [isLoading]="adminOpportunitiesStore.isLoading()"
  [isProcessing]="adminOpportunitiesStore.isProcessing()"
>
  <ng-template [appStepContent]="1">
    <app-opportunity-information-form></app-opportunity-information-form>
  </ng-template>
  <ng-template [appStepContent]="2">
    <app-opportunity-localization-form></app-opportunity-localization-form>
  </ng-template>

  <ng-container ngProjectAs="final-step-action">
    <p-button
      label="Publish"
      (click)="publishOpportunity()"
      [disabled]="adminOpportunitiesStore.isProcessing()"
      [loading]="adminOpportunitiesStore.isProcessing() ||adminOpportunitiesStore.isLoading()"
    ></p-button>
  </ng-container>
</app-base-wizard-dialog>