@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arshid';
    src: url('../../fonts/saudi-font/Arshid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}