<div class="p-[24px] flex flex-col gap-[24px] rounded-2xl border-1 border-gray-200 bg-white min-h-[400px] h-full">
  <!-- Warning Message -->
  @if(shouldShowWarning()) {
  <div class="flex items-center gap-2 p-3 rounded-lg bg-yellow-50 border-1 border-yellow-200">
    <i class="icon-warning text-yellow-600 text-xl"></i>
    <span class="text-sm text-yellow-800">
      {{ 'opportunity.warning.draftAfterStartDate' | translate }}
    </span>
  </div>
  }

  <div class="flex items-center justify-between gap-2 items-start">
    <div class="w-[40px] h-[40px] rounded-xl bg-orange-500 flex justify-between border-1 border-gray-200 items-center justify-center">
      <i class="{{ getOpportunityIcon() }} text-white text-xl"></i>
    </div>
    @if(!opportunity().isOtherOpportunity){
    <div class="flex justify-end gap-2">
      <!-- Status Badge (Published/Draft) -->
      @if(opportunity().status === EOpportunityStatus.DRAFT){ @let statusConfig = getStatusConfig();
      <app-base-tag
        [color]="statusConfig.color"
        [value]="statusConfig.label | translate"
      />
      } @else{ @let stateConfig = getStateConfig();
      <app-base-tag
        [color]="stateConfig.color"
        [value]="stateConfig.label | translate"
      />
      }
    </div>
    }
  </div>

  <div class="flex flex-col gap-1 flex-1">
    <h5 class="text-xl font-semibold text-gray-900 line-clamp-1">
      {{ opportunity().title }}
    </h5>
    <p
      class="text-opportunity text-gray-600 overflow-y-auto break-word max-h-[110px]"
      [appTruncateTooltip]="opportunity().shortDescription"
      [maxChars]="220"
    >
      {{ opportunity().shortDescription }}
    </p>
  </div>

  <div class="flex flex-col gap-2">
    @if(opportunity().opportunityType) {
    <app-opportunity-detail-item
      [label]="'opportunity.list.opportunityType' | translate"
      [value]="
        opportunity().opportunityType === 1
          ? ('opportunity.type.service' | translate)
          : ('opportunity.type.product' | translate)
      "
    />
    } @if(opportunity().startDate && opportunity().endDate) {
    <app-opportunity-detail-item
      [label]="'opportunity.list.applicationPeriod' | translate"
      [value]="`${opportunity().startDate | date:'dd MMM yyyy'} - ${opportunity().endDate | date:'dd MMM yyyy'}`"
    />
    }
  </div>

  <div class="flex gap-4">
    @if(!opportunity().isOtherOpportunity){
    <p-button
      [label]="'opportunity.list.viewDetails' | translate"
      severity="secondary"
      class="flex-1"
      fluid
      (onClick)="handleViewDetails()"
    />
    @if(opportunity().actions.length > 0) {
    <app-opportunity-action-menu
      [actions]="opportunity().actions"
      (onEdit)="handleAction(EOpportunityAction.Edit)"
      (onDelete)="handleAction(EOpportunityAction.Delete)"
      (onMoveToDraft)="handleAction(EOpportunityAction.MoveToDraft)"
      (onPublish)="handleAction(EOpportunityAction.Publish)"
    />
    }
    }
  </div>
</div>