<div class="flex flex-col justify-between h-full">
  <div>
    <app-base-logo
      [routerLink]="DashboardLink"
      class="cursor-pointer"
    />
    <div class="sidebar-links mt-[48px]">
      <ul class="list-unstyles">
        @for(link of sidebarLinks(); track link.routerLink){
        @if(link.show){
        <li class="mb-[8px]">
          @if(link.children && link.children.length > 0){
          <app-sidebar-dropdown
            [link]="link"
            (onCloseSidebarDrawer)="closeSidebarDrawer()"
          ></app-sidebar-dropdown>
          }
          @else {
          <app-sidebar-link
            [link]="link"
            (click)="closeSidebarDrawer()"
          ></app-sidebar-link>
          }
        </li>
        }
        }
      </ul>
    </div>
  </div>
  <div>
    <div class="sidebar-links mt-[48px]">
      <ul class="list-none">

        <li
          class="mb-[8px]"
          (click)="contactUsFormVisibility.set(true)"
        >
          <a class="flex items-center hover:!bg-gray-50 text-[16px] transition-all block w-full p-3 rounded-lg font-semibold p-[12px] cursor-pointer">
            <i class="icon-life-buoy me-[11px] text-gray-400 text-xl w-[25px]"></i>
            Support
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>