<p-fileupload
  [maxFileSize]="maxFileSize()"
  [accept]="acceptedFileTypes()"
  [customUpload]="true"
  [auto]="false"
  (onSelect)="onSelectedFiles($event)"
  #fileupload
  [multiple]="multiple()"
  [disabled]="isDisabled()"
>
  <!-- Header Slot -->
  <ng-template
    #header
    let-files
    let-chooseCallback="chooseCallback"
    let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback"
  >
    <div class="flex flex-wrap justify-center items-center flex-1 gap-4">
      <div class="flex gap-2">
        @if(!isDisabled()){
        <p-button
          (onClick)="choose($event, chooseCallback)"
          icon="icon-cloud-upload"
          [rounded]="true"
          [outlined]="true"
        />
        }
      </div>
    </div>
  </ng-template>

  <!-- Content Slot -->
  <ng-template
    #content
    let-files
    let-uploadedFiles="uploadedFiles"
    let-removeFileCallback="removeFileCallback"
    let-removeUploadedFileCallback="removeUploadedFileCallback"
  >
    <div class="flex flex-col">
      @if(files?.length > 0){
      <div>
        <h5>{{ 'common.files' | translate }}</h5>
        <div class="flex flex-wrap gap-4">
          @for(file of files; track file.name; let i = $index){
          <div class="p-3 rounded-border flex border border-surface justify-between items-center gap-4 w-full">
            <div>
              @if(file.type && file.type.startsWith('image/')){
              <img
                role="presentation"
                [alt]="file.name"
                [src]="file.objectURL"
                width="32"
                appImageError
              />
              }@else if(getFileIcon(file)){
              <img
                role="presentation"
                [alt]="file.name"
                [src]="getFileIcon(file)"
                width="32"
                appImageError
              />
              }@else{
              <span
                class="pi pi-file"
                style="font-size: 2em"
              ></span>
              }
            </div>
            <div class="flex flex-col flex-1 text-center">
              <span class="font-semibold text-ellipsis">
                {{ file.name }}
              </span>
              @if(formatFileSize(file)){
              <span class="text-sm text-gray-500 ">
                {{ formatFileSize(file) }}
              </span>
              }
            </div>
            @if(!isDisabled()){
            <p-button
              icon="icon-x-close"
              (onClick)="removeUploadedFile(i)"
              [outlined]="true"
              [rounded]="true"
              severity="danger"
            />
            }
          </div>
          }
        </div>
      </div>
      }
    </div>
  </ng-template>

  <ng-template #file></ng-template>
  <!-- Empty Slot -->
  <ng-template #empty>
    <div class="flex items-center justify-center flex-col py-8">
      @if(!isDisabled()){
      <p class="text-sm">
        <span
          class="text-primary-600 cursor-pointer"
          (click)="chooseFiles()"
        >{{
          'common.clickToUpload' | translate
          }}</span>
        {{ 'common.dragAndDrop' | translate }}
      </p>
      <p class="text-sm">{{ placeholder() }}</p>
      } @else {
      <p class="text-sm text-gray-400">{{ placeholder() }}</p>
      }
    </div>
  </ng-template>
</p-fileupload>