.procedure-steps{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--p-gray-200);
    z-index: -1;
  }
}

.step-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.step-item-header {
  width: 40px;
  height: 40px;
  background: var(--p-primary-600);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  span {
    color: #fff;
  }
}
.step-item-content {
  h3{
    font-size: 14px;
    font-weight: 600;
    color: var(--p-gray-900);
  }
  p {
    font-size: 12px;
    color: var(--p-gray-600);
  }
}