<app-base-dialog
  [(visible)]="visibility"
  [confirmLabel]="'plan.newPlan.next' | translate"
  [isConfirmationDisabled]="!isUserReadAndApproved()"
  [icon]="'icon-info'"
  [confirmButtonClass]="'w-[100px]  button:bg-gray-200'"
  [cancelButtonClass]="'w-content'"
  (onConfirm)="onConfirm.emit()"
  (onClose)="onCancel.emit()"
>
  <ng-container ngProjectAs="content">
    <div class="content flex flex-col gap-5 max-w-[960px]">
      <div class="header">
        <h2 class="text-lg font-semibold text-gray-900 mb-[2px]">{{ 'plan.termsAndConditions.title' | translate }}</h2>
        <p class="text-sm text-gray-600">
          {{ 'plan.termsAndConditions.description' | translate }}
        </p>
      </div>

      <div class="procedure-steps grid grid-cols-5 gap-4">
        <div class="step-item">
          <div class="step-item-header">
            <span>1</span>
          </div>
          <div class="step-item-content">
            <h3>{{ 'plan.termsAndConditions.step1Title' | translate }}</h3>
            <p>{{ 'plan.termsAndConditions.step1Description' | translate }}</p>
          </div>
        </div>

        <div class="step-item items-center text-center">
          <div class="step-item-header">
            <span>2</span>
          </div>
          <div class="step-item-content">
            <h3>{{ 'plan.termsAndConditions.step2Title' | translate }}</h3>
            <p>{{ 'plan.termsAndConditions.step2Description' | translate }}</p>
          </div>
        </div>

        <div class="step-item items-center text-center">
          <div class="step-item-header">
            <span>3</span>
          </div>
          <div class="step-item-content">
            <h3>{{ 'plan.termsAndConditions.step3Title' | translate }}</h3>
            <p>{{ 'plan.termsAndConditions.step3Description' | translate }}</p>
          </div>
        </div>

        <div class="step-item items-center text-center">
          <div class="step-item-header">
            <span>4</span>
          </div>
          <div class="step-item-content">
            <h3>{{ 'plan.termsAndConditions.step4Title' | translate }}</h3>
            <p>{{ 'plan.termsAndConditions.step4Description' | translate }}</p>
          </div>
        </div>

        <div class="step-item items-end text-end">
          <div class="step-item-header ">
            <span>5</span>
          </div>
          <div class="step-item-content">
            <h3>{{ 'plan.termsAndConditions.step5Title' | translate }}</h3>
            <p>{{ 'plan.termsAndConditions.step5Description' | translate }}</p>
          </div>
        </div>
      </div>

      <div class="border-gray-200 border-1"></div>

      <div class="flex flex-col gap-3">
        <h2 class="text-md font-semibold text-gray-900">{{ 'plan.termsAndConditions.instructionsTitle' | translate }}</h2>
        <div class="flex flex-col gap-4">
          <div class="flex gap-3">
            <i class="icon-check-circle text-primary-500 mt-1"></i>
            <p>{{ 'plan.termsAndConditions.instruction1' | translate }}</p>
          </div>
          <div class="flex gap-3">
            <i class="icon-check-circle text-primary-500 mt-1"></i>
            <p>{{ 'plan.termsAndConditions.instruction2' | translate }}</p>
          </div>
          <div class="flex gap-3">
            <i class="icon-check-circle text-primary-500 mt-1"></i>
            <p>
              {{ 'plan.termsAndConditions.instruction3' | translate }}
            </p>
          </div>
          <div class="flex gap-3">
            <i class="icon-check-circle text-primary-500 mt-1"></i>
            <p>
              {{ 'plan.termsAndConditions.instruction4' | translate }}
            </p>
          </div>
          <div class="flex gap-3">
            <i class="icon-check-circle text-primary-500 mt-1"></i>
            <p>{{ 'plan.termsAndConditions.instruction5' | translate }}</p>
          </div>
          <div class="flex gap-3">
            <i class="icon-check-circle text-primary-500 mt-1"></i>
            <p>{{ 'plan.termsAndConditions.instruction6' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container ngProjectAs="footerMessage">
    <div class="flex gap-2">
      <p-checkbox
        [(ngModel)]="isUserReadAndApproved"
        [binary]="true"
        [inputId]="'isAgreed'"
        size="small"
      ></p-checkbox>
      <label
        for="isAgreed"
        class="text-sm font-medium text-gray-700"
      >{{ 'plan.termsAndConditions.readAndApproved' | translate }}</label>
    </div>
  </ng-container>
</app-base-dialog>