<div (click)="toggleNotificationTab($event)" [class.hidden-notification-counter]="!unreadCount()" class="cursor-pointer bg-[#F9FAFB] rounded-full p-2">
    <p-overlaybadge
      [value]="unreadCount()"
      severity="danger"
      class="notification-badge"
    >
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.35395 21C10.0591 21.6224 10.9853 22 11.9998 22C13.0142 22 13.9405 21.6224 14.6456 21M17.9998 8C17.9998 6.4087 17.3676 4.88258 16.2424 3.75736C15.1172 2.63214 13.5911 2 11.9998 2C10.4085 2 8.88235 2.63214 7.75713 3.75736C6.63192 4.88258 5.99977 6.4087 5.99977 8C5.99977 11.0902 5.22024 13.206 4.34944 14.6054C3.6149 15.7859 3.24763 16.3761 3.2611 16.5408C3.27601 16.7231 3.31463 16.7926 3.46155 16.9016C3.59423 17 4.19237 17 5.38863 17H18.6109C19.8072 17 20.4053 17 20.538 16.9016C20.6849 16.7926 20.7235 16.7231 20.7384 16.5408C20.7519 16.3761 20.3846 15.7859 19.6501 14.6054C18.7793 13.206 17.9998 11.0902 17.9998 8Z" stroke="black" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

    </p-overlaybadge>
</div>

<p-popover #notificationsModal styleClass="custom-popover" (onShow)="loadNotifications()">
  <div class="flex flex-col">
    <div class="flex justify-between py-[20px] px-[24px]">
      <div class="flex justify-between items-center w-full">
        <p class="font-semibold">Notifications</p>
        <a class="flex items-center gap-2 text-blue-800 cursor-pointer" (click)="markAllAsRead()">
          <svg
            width="15"
            height="8"
            viewBox="0 0 15 8"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.75 0.75L3.75 6.75L0.75 3.75M13.75 0.75L7.75 6.75L5.75 4.75"
              stroke="#4767A5"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          Mark all as read
        </a>
      </div>
      <span class="text-gray-400 text-xl cursor-pointer" (click)="notificationsModal.toggle($event)"
        ><i class="icon-close"></i
      ></span>
    </div>
    <div
      class="max-h-[500px] !max-w-[35rem] md:min-w-[35rem] overflow-auto border-t border-gray-200"
      (scroll)="onScroll($event)"
    >
      <app-navbar-notifications-tabs
        [notifications]="notifications()"
        [loading]="isLoading()"
        (notificationClick)="onNotificationClick($event)"
      ></app-navbar-notifications-tabs>

      @if (!isShowPreviousButtonClicked() && totalCount() > (notifications().length || 0)) {
        <div class="p-4 text-center w-full transition-opacity">
          <button pButton type="button" class="p-button-text w-full text-sm" (click)="loadPreviousNotifications()">
            Previous Notifications
          </button>
        </div>
      }

    </div>
    <div class="border-t border-gray-200 px-[24px] py-4">
      <div class="flex justify-center">
        <span
          class="text-primary cursor-pointer font-medium text-sm"
          [routerLink]="['/', ERoutes.dashboard]"
          (click)="notificationsModal.hide()"
          >View All</span
        >
      </div>
    </div>
  </div>
</p-popover>
