<div class="flex items-start justify-between w-full min-w-0">
  <div class="flex items-start gap-4 min-w-0 flex-1">
    <span class="p-step-number flex items-center justify-center flex-shrink-0">
      @if(viewMode() === 'create' || viewMode() === 'edit'){
      @switch (status()) { @case (EWizardStepState.Incomplete) {
      <i
        class="block w-[10px] h-[10px] bg-gray-200 rounded-full"
        [class.bg-white]="stepState().isActive"
      ></i>
      } @case (EWizardStepState.Completed) {
      <i class="icon-check text-white text-xl"></i>
      } @case (EWizardStepState.Error) {
      <i class="block w-[10px] h-[10px] bg-white rounded-full in-progress"></i>
      } }
      }@else if(viewMode() === 'Review'){
      <!-- In Review mode, all steps show as active (blue background with white dot) -->
      <i class="block w-[10px] h-[10px] bg-white rounded-full review-active"></i>
      }@else {
      <i
        class="block w-[10px] h-[10px] bg-gray-200 rounded-full"
        [class.bg-white]="stepState().isActive"
      ></i>
      }
    </span>
    <!-- Name and description -->
    <div class="flex flex-col items-start min-w-0 flex-1">
      <h3
        class="text-md font-semibold text-start"
        [class.text-primary-700]="stepState().isActive"
      >
        {{ stepState().title }}
      </h3>
      <h4
        class="text-sm text-start"
        [class.text-primary-600]="stepState().isActive"
      >
        {{ stepState().description }}
      </h4>
    </div>
  </div>

  <!-- Errors Badge -->
  @if(stepState().hasErrors && errorsNumber() > 0){
  <p-badge
    [value]="errorsNumber()"
    [severity]="'danger'"
    class="wizard-step-badge bg-red-400 text-white"
  ></p-badge>
  }
  @else if(stepState().fieldsRequiringUpdate && stepState().fieldsRequiringUpdate! > 0){
  <p-badge
    [value]="stepState().fieldsRequiringUpdate!"
    [severity]="'warn'"
    class="wizard-step-badge"
  ></p-badge>
  }
  @else if(stepState().commentsCount){
  <p-badge
    [value]="stepState().commentsCount"
    [severity]="commentBadgeSeverity()"
    class="wizard-step-badge"
  ></p-badge>
  }
</div>
