<app-base-dialog
  [(visible)]="visible"
  [icon]="icon()"
  [confirmLabel]="confirmationLabel()"
  [cancelLabel]="cancelLabel()"
  [showCloseButton]="true"
  (onConfirm)="onConfirm()"
  [isLoading]="isLoading()"
  [confirmButtonClass]="'max-w-[200px]'"
  [cancelButtonClass]="'w-[75px]'"
  (onCancel)="onCancelClick()"
  [isConfirmationDisabled]="isRequired() && !note().trim()"
>
  <div class="max-w-[30rem]">
    <div class="disclaimer-container">
      <h2 class="text-lg font-semibold text-gray-900">{{title()}}</h2>
    </div>
    <div class="mt-4">
      <app-base-label [title]="label()"></app-base-label>
      <textarea
        pTextarea
        [(ngModel)]="note"
        [placeholder]="placeholder()"
        [maxlength]="maxLength()"
        rows="4"
        class="w-full"
        [class.ng-invalid]="isRequired() && !note().trim()"
      ></textarea>
      <div class="mt-1 text-xs text-gray-500 flex justify-end">
        <span>{{ note().length }} / {{ maxLength() }} characters</span>
      </div>
    </div>
  </div>
</app-base-dialog>