@if(link().external){
<a
  [href]="link().routerLink"
  target="_blank"
  class="flex items-center hover:!bg-gray-50 text-[16px] transition-all duration-300 ease-in-out block w-full p-3 rounded-lg font-semibold p-[12px]"
  [class.justify-center]="collapsed()"
>
  <i
    class="{{link().icon}} text-gray-400 text-2xl w-[25px] flex-shrink-0 transition-[margin] duration-300 ease-in-out"
    [class.me-[11px]]="!collapsed()"
  ></i>
  @if (!collapsed()) {
  <span>{{link().label}}</span>
  }
</a>
}@else {
<a
  [routerLink]="link().routerLink"
  routerLinkActive="bg-primary text-white"
  class="group flex items-center hover:!bg-primary-100 text-[16px] transition-all duration-300 ease-in-out block w-full p-3 rounded-lg font-semibold p-[12px]"
  [class.justify-center]="collapsed()"
>
  <i
    class="{{link().icon}} text-gray-400 group-[.bg-primary]:text-white text-2xl w-[25px] flex-shrink-0 transition-[margin] duration-300 ease-in-out transition-colors"
    [class.me-[11px]]="!collapsed()"
  ></i>
  @if (!collapsed()) {
  <span>{{link().label}}</span>
  }
</a>}