@if (!planStore.isLoading()) {
<app-base-wizard-dialog
  [(visible)]="visibility"
  [(activeStep)]="activeStep"
  [steps]="steps()"
  [wizardTitle]="wizardTitle()"
  (onNextStep)="nextStep()"
  (onPreviousStep)="previousStep()"
  (onSaveAsDraft)="saveAsDraft()"
  [isLoading]="isLoading() || isLoadingPlan()"
  [isProcessing]="isProcessing()"
  [hideSaveAsDraft]="isViewMode()"
  (onClose)="onClose()"
>
  @if (shouldShowStatusTag()) {
  <ng-container ngProjectAs="status">
    <app-base-tag [value]="statusLabel()" [styleClass]="statusBadgeClass()" />
  </ng-container>
  }

  <ng-template [appStepContent]="1">
    <app-service-localization-step-cover-page></app-service-localization-step-cover-page>
  </ng-template>

  <ng-template [appStepContent]="2">
    <app-service-localization-step-overview></app-service-localization-step-overview>
  </ng-template>
  @if (getStepIndex('Direct Localization')) {
  <ng-template [appStepContent]="getStepIndex('Direct Localization')">
    <app-service-localization-step-direct-localization></app-service-localization-step-direct-localization>
  </ng-template>
  } @if (getStepIndex('Existing Saudi Co.')) {
  <ng-template [appStepContent]="getStepIndex('Existing Saudi Co.')">
    <app-service-localization-step-existing-saudi></app-service-localization-step-existing-saudi>
  </ng-template>
  }

  <ng-template [appStepContent]="getStepIndex('Summary')">
    <app-service-localization-step-summary
      [isViewMode]="isViewMode()"
      #summaryComponent
      (onEditStep)="navigateToStep($event)"
      (onValidationErrorsChange)="updateValidationErrors($event)"
    ></app-service-localization-step-summary>
  </ng-template>
</app-base-wizard-dialog>
}
